//
// Links
//

a {
    color: $link-color;
    text-decoration: $link-decoration;
    outline: 0;
    @include transition(all 0.2s ease-in-out);

    @include hover-focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

.link-default {
    color: $blue-100;

    @include hover-focus {
        color: darken($blue-100, 10%);
    }
}

.link-inherit {
    color: inherit;

    @include hover-focus {
        color: inherit;
        opacity: .8;
    }
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}

.link-underline {
    border-bottom: 1px solid;
}

.link-pseudo {
    border-bottom: 1px dashed;
}

.link-primary {
    color: $primary;

    @include hover-focus {
        color: $gray-700;
    }
}