[class^="pattern-"], [class*=" pattern-"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-position: 0 0;
    z-index: -1;

    &:before,
    &:after {
        position: absolute;
        content: '';
    }
}

.pattern {
    &-chip-dark-gray {
        height: rem(225px);
        opacity: .41;
        background-repeat: repeat-x;
        background-image: url(../../assets/img/patterns/chip-pattern-base.svg);

        &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($primary, 0.1) 0%, rgba($gray-800, 0.1) 0.01%, rgba($gray-800, 0.6) 25.23%, rgba($gray-800, 0.5) 50.38%, rgba($gray-800, 0.6) 75.26%, rgba($gray-800, 0.1) 100%);
        }

        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            height: 46%;
            background: linear-gradient(180deg, rgba($gray-800, 0) 0%, $gray-800 100%);
        }
    }

    &-chip-primary {
        opacity: .8;
        background-repeat: repeat-x;
        background-image: url(../../assets/img/patterns/chip-pattern-primary.svg);

        &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($primary, 0.1) 0%, rgba($primary, 0.6) 25.23%, rgba($primary, 0.5) 50.38%, rgba($primary, 0.6) 75.26%, rgba($primary, 0.1) 100%);
        }

        &:after {
            left: 0;
            right: 0;
            bottom: 15%;
            height: 39%;
            background: linear-gradient(180deg, rgba($primary, 0) 0%, $primary 100%);
        }
    }

    &-chip-default {
        opacity: .1;
        background-repeat: repeat;
        background-image: url(../../assets/img/patterns/chip-pattern-primary.svg);
        top: rem(- $spacer-6);
        bottom: 0;

        &:before {
            top: rem(-30px);
            left: 0;
            right: 0;
            bottom: rem(-30px);
            background: radial-gradient(83.85% 83.85% at 50% 50%, $body-bg 0%, rgba($body-bg, 0.932292) 35.94%, rgba($body-bg, 0) 100%);
        }
    }

    &-dots-white {
        opacity: .06;
        background-repeat: repeat;
        background-image: url(../../assets/img/patterns/dots-white.svg);
    }
}

.has-pattern {
    position: relative;
    overflow: hidden;
    z-index: 1;
}