// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@function getValue($map, $value, $fallback: null) {
    @if map-has-key($map, $value) {
        @return map-get($map, $value);
    } @else {
        @return $fallback;
    }
}

@mixin setProperty($property, $map, $value: $property) {
    @if map-has-key($map, $value) {
        #{$property}: getValue($map, $value);
    }
}

// colors
//
// grayscale and brand colors
$black:      #000000 !default;

$blue-100:   #eff9ff !default;
$blue-200:   #56ccf2 !default;
$blue-300:   #2d9cdb !default;
$blue-400:   #2f80ed !default;
$blue-500:   #689af5 !default;
$blue-600:   #3d7df2 !default;

$gray-10:    #fefefe !default
$gray-50:    #f9fafb !default
$gray-100:   #f4f5f7 !default
$gray-150:   #f1f3f7 !default
$gray-200:   #e5e7eb !default
$gray-250:   #dcdee3 !default;
$gray-300:   #d3d6db !default;
$gray-350:   #c4c8cf !default;
$gray-360:   #c4c4c4 !default
$gray-400:   #a0a6b1 !default;
$gray-450:   #868b96 !default;
$gray-500:   #6c727f !default;
$gray-600:   #4d5562 !default;
$gray-700:   #394150 !default;
$gray-800:   #272f3e !default;
$gray-900:   #181e2d !default;

$green-100:  #E0F9F2 !default;
$green-200:  #6fcf97 !default;
$green-300:  #27ae60 !default;
$green-400:  #219653 !default;
$green-500:  #169873 !default;
$green-600:  #3f8c72 !default;

$orange:     #f2994a !default;

$purple-100: #bb6bd9 !default;
$purple-200: #9b51e0 !default;

$red-100:    #f08c80 !default;
$red-200:    #eb5757 !default;
$red-300:    #e11900 !default;

$yellow:     #f2c94c !default;

$white:      #ffffff !default;

$base-color:     $gray-700 !default;
$base-secondary: $gray-500 !default;
$danger:         $red-300 !default;
$error:          $red-300 !default;
$primary:        $gray-900 !default;
$secondary:      $gray-600 !default;
$success:        $green-600 !default;


$colors: () !default;
$bg-colors: () !default;
$availability-colors: () !default

$colors: map-merge(
    (
        "base":      $base-color,
        "primary":   $primary,
        "danger":    $red-300,
        "error":     $error,
        "green":     $green-300,
        "muted":     $gray-400,
        "orange":    $orange,
        "success":   $success,
        "secondary": $secondary,
    ),
    $colors
);

$bg-colors: map-merge(
    (
        "primary": (
            "bg": $primary,
            "color": $gray-400,
        ),
        "dark-gray": (
            "bg": $gray-800,
            "color": $white,
        ),
        "white": (
            "bg": $white,
        ),
        "lightest": (
            "bg": $gray-100,
        ),
        "danger": (
            "bg": $danger,
            "color": $white,
        ),
        "success": (
            "bg": $success,
            "color": $white,
        ),
    ),
    $bg-colors
);

$availability-colors: map-merge(
    (
        "instock": (
            "color": $gray-800,
            "bg": $gray-500,
            "border": $gray-100,
        ),
        "onorder": (
            "color": $gray-500,
            "bg": $gray-500,
            "border": rgba($gray-500, .25),
        ),
    ),
    $availability-colors
);

$enable-gradients: true;


// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1240px,
  2xl: 1440px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-widths: (
  xs: 100%
) !default;
@include _assert-ascending($container-widths, "$container-widths");

$container-max-widths: (
    xl: 1240px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$gutter: 20px !default;
$gutter-lg: 40px !default;

$grid-gutters: (
  xs: $gutter,
) !default;
@include _assert-ascending($grid-gutters, "$grid-gutters");

$spacer:    4px;
$spacer-2:  $spacer * 2;  // 8px
$spacer-3:  $spacer * 3;  // 12px
$spacer-4:  $spacer * 4;  // 16px
$spacer-5:  $spacer * 5;  // 20px
$spacer-6:  $spacer * 6;  // 24px
$spacer-7:  $spacer * 7;  // 28px
$spacer-8:  $spacer * 8;  // 32px
$spacer-9:  $spacer * 9;  // 36px
$spacer-10: $spacer * 10; // 40px


// body
//
// settings for the `<body>` element.

$body-bg: $gray-100 !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($primary, 10%) !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'IBM Plex Sans', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-thin:     100 !default;
$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       16px !default;
$font-size-lg:         18px !default;
$font-size-md:         14px !default;
$font-size-sm:         12px !default;

$line-height-base:     24.01px !default;
$line-height-lg:       26.01px !default;
$line-height-md:       20.01px !default;
$line-height-md2:      18.01px !default;
$line-height-sm:       16.01px !default;

$font-size-h1:         32px !default;
$font-size-h2:         32px !default;
$font-size-h3:         24px !default;
$font-size-h4:         20px !default;
$font-size-h5:         16px !default;
$font-size-h6:         14px !default;

$line-height-h1:       40.01px !default;
$line-height-h2:       36.01px !default;
$line-height-h3:       30.01px !default;
$line-height-h4:       28.01px !default;
$line-height-h5:       24.01px !default;
$line-height-h6:       20.01px !default;

$theme-fonts: () !default;
$theme-fonts: map-merge(
  (
  "base": ( $font-size-base, $line-height-base ),
  "lg":   ( $font-size-lg,   $line-height-lg ),
  "md":   ( $font-size-md,   $line-height-md ),
  "sm":   ( $font-size-sm,   $line-height-sm ),
  ),
  $theme-fonts
);

// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base)
) !default;

$headings-font-weight: $font-weight-medium !default;
$headings-color: $primary !default;

$small-font-size: 80% !default;

$text-muted: rgba($base-color, .5) !default;

// Border radius
//
//
$border-radius: .25rem !default;
$border-radius-sm: .5rem !default;
$border-radius-md: .75rem !default;
$border-radius-lg: 1rem !default;
$border-radius-xl: 6.25rem !default; //100px

// Buttons
//
//
$btn-font-family:   $font-family-base !default;
$btn-font-weight:   $font-weight-medium !default;
$btn-font-size:     $font-size-md !default;
$btn-line-height:   $line-height-md2 !default;
$btn-border-width:  1px !default;
$btn-padding-x:     $spacer-10 - $btn-border-width !default;
$btn-padding-y:     14px !default;
$btn-height:        48px !default;
$btn-border-radius: $border-radius / 2 !default;

$btn-sizes: () !default;
$btn-themes: () !default;

$btn-sizes: map-merge(
    (
        "md": (
            "height": 40px,
            "padding-x": 23px,
        ),
        "sm": (
            "height": 28px,
            "padding-x": 19px,
        ),
    ),
    $btn-sizes
);

$btn-themes: map-merge(
    (
        "outline-base": (
            "color": $primary,
            "color-hover": $white,
            "bg": $white,
            "bg-hover": $base-color,
            "border": $base-color,
            "border-hover": $base-color,
        ),
        "outline-default": (
            "color": $primary,
            "color-hover": $primary,
            "bg": $white,
            "bg-hover": $gray-400,
            "border": $gray-400,
            "border-hover": $gray-400,
        ),
        "outline-light": (
            "color": $primary,
            "color-hover": $primary,
            "bg": $white,
            "bg-hover": $gray-200,
            "border": $gray-200,
            "border-hover": $gray-200,
        ),
        "outline-white": (
            "color": $white,
            "color-hover": $black,
            "bg": rgba($white, 0),
            "bg-hover": $white,
            "border": $white,
            "border-hover": $white,
        ),
        "primary": (
            "color": $white,
            "bg": $primary,
            "bg-hover": $gray-800,
            "border": $primary,
            "border-hover": $gray-800,
        ),
        "secondary": (
            "color": $white,
            "bg": $secondary,
            "bg-hover": $gray-800,
            "border": $secondary,
            "border-hover": $gray-800,
        ),
        "secondary-light": (
            "color": $white,
            "bg": $gray-500,
            "bg-hover": $gray-800,
            "border": $gray-500,
            "border-hover": $gray-800,
        ),
        "white": (
            "color": $primary,
            "color-hover": $primary,
            "bg": $white,
            "bg-hover": $gray-700,
            "border": $gray-700,
            "border-hover": $gray-700,
        ),
    ),
    $btn-themes
);


// Form
//
//
$input-color-placeholder: $gray-400 !default;

$input-height:            $btn-height !default;
$input-font-size:         $font-size-base !default;
$input-font-weight:       $font-weight-normal !default;
$input-font-family:       $font-family-base !default;
$input-line-height:       $line-height-base !default;
$input-icon-size:         $font-size-base !default;

$input-color:             $gray-600 !default;
$input-bg:                $white !default;
$input-border-color:      $gray-250 !default;
$input-border-width:      1px !default;
$input-border-radius:     $btn-border-radius !default;

$input-padding-x:         $spacer-4 !default;
$input-padding-y:         $spacer-3 !default;
$input-icon-offset:       $spacer-10 !default;

$input-bg-focus:          $input-bg !default;
$input-border-focus:      $input-border-color !default;
$input-color-focus:       $input-color !default;

$input-gray-bg:           $gray-50 !default;

$input-disabled-color:    $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg !default;
$input-disabled-border-color: $input-border-color !default;

$form-fieldset-margin-bottom:    $spacer-6 !default;
$form-legend-margin-bottom:      $spacer-6 !default;
$form-group-margin-bottom:       $spacer-6 !default;
$form-group-margin-bottom-sm:    $spacer-3 !default;
$form-group-margin-bottom-lg:    $spacer-7 !default;

$cursor-disabled: not-allowed !default;

$input-sizes: () !default;

$input-sizes: map-merge(
    (
        "xl": (
            "height": 56px,
            "padding-x": $spacer-6,
            "padding-y": $spacer-4,
            "icon-size": 30px,
            "icon-offset": 63px,
        ),
        "md": (
            "height": 40px,
            "padding-x": $spacer-4,
            "padding-y": 10px,
            "icon-size": 18px,
            "icon-offset": 40px,
            "font-size": $font-size-md,
            "line-height": $line-height-md,
        ),
        "sm": (
            "height": 36px,
        ),
    ),
    $input-sizes
);


// Checkbox/Radio
//
//
$form-check-input-width:                  $spacer-5 !default;
$form-check-min-height:                   $form-check-input-width !default;
$form-check-margin-right:                 $spacer-3 !default;
$form-check-padding-start:                $form-check-input-width + $form-check-margin-right !default;
$form-check-margin-bottom:                $form-group-margin-bottom !default;
$form-check-label-font-size:              $font-size-md !default;
$form-check-label-line-height:            $line-height-base !default;
$form-check-label-color:                  $input-color !default;
$form-check-label-cursor:                 null !default;
$form-check-transition:                   null !default;

$form-check-input-active-filter:          brightness(90%) !default;

$form-check-input-bg:                     $input-bg !default;
$form-check-input-border:                 $input-border-width !default;
$form-check-input-border-color:           $gray-350 !default;
$form-check-input-border-radius:          $border-radius !default;
$form-check-input-bg-size:                $spacer-3 auto !default;
$form-check-radio-border-radius:          50% !default;
$form-check-radio-bg-size:                $spacer-2 auto !default;

$form-check-input-checked-bg:             $primary !default;
$form-check-input-checked-border-color:   $primary !default;
$form-check-input-checked-color:          $white !default;

$form-check-input-width-md:               18px !default;
$form-check-min-height-md:                $form-check-input-width-md !default;
$form-check-margin-right-md:              $spacer-2 !default;
$form-check-padding-start-md:             $form-check-input-width-md + $form-check-margin-right-md !default;
$form-check-label-font-size-md:           $font-size-md !default;
$form-check-label-line-height-md:         $line-height-md !default;
$form-check-radio-bg-size-md:             6px auto !default;

$form-check-input-checked-bg-image:       "<svg width='12' height='9' xmlns='http://www.w3.org/2000/svg'><path d='M11.758.576a.6.6 0 0 1 0 .848L4.424 8.758a.6.6 0 0 1-.848 0L.242 5.424a.6.6 0 0 1 .849-.848L4 7.485l6.91-6.91a.6.6 0 0 1 .848 0v.001Z' fill='#{$form-check-input-checked-color}' fill-rule='evenodd'/></svg>" !default;
$form-check-radio-checked-bg-image:       "<svg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='10' height='10' rx='5' fill='#{$form-check-input-checked-color}'/></svg>" !default;

$form-check-input-indeterminate-color:    $primary !default;

$form-check-input-disabled-opacity:       .5 !default;
$form-check-label-disabled-opacity:       .5 !default;
$form-check-btn-check-disabled-opacity:   .5 !default;

$form-check-inline-margin-end:            $gutter !default;


// Header
//
//
$header-height-mobile: 66px !default;
$header-main-height:   80px !default;
$header-height:        178px !default;
$header-z-index:       100 !default;
$bottom-menu-height:   72px !default;


// Section
//
//
$section-offset:         64px !default;
$section-preview-offset: 56px !default;
$section-default-offset: 72px !default;

// Icons
//
//
$chevron-left:       "<svg width='8' height='14' xmlns='http://www.w3.org/2000/svg'><path d='m2.06 7 5.47-5.47A.75.75 0 0 0 6.47.47l-6 6a.75.75 0 0 0 0 1.06l6 6a.75.75 0 0 0 1.06-1.06L2.06 7Z' fill='#{$primary}' fill-rule='nonzero'/></svg>" !default;
$chevron-right:       "<svg width='8' height='14' xmlns='http://www.w3.org/2000/svg'><path d='M5.94 7 .47 1.53A.75.75 0 0 1 1.53.47l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06-1.06L5.94 7Z' fill='#{$primary}' fill-rule='nonzero'/></svg>" !default;
$chevron-down:       "<svg width='14' height='8' xmlns='http://www.w3.org/2000/svg'><path d='m7.009 5.931 5.47-5.47a.75.75 0 0 1 1.06 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 0 1 1.06-1.06l5.47 5.47Z' fill='#{$primary}' fill-rule='nonzero'/></svg>" !default;
$close:               "<svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'><path d='m.506.659.07-.083a.6.6 0 0 1 .765-.07l.083.07L5 4.15 8.576.576a.6.6 0 0 1 .765-.07l.083.07a.6.6 0 0 1 .07.765l-.07.083L5.848 5l3.576 3.576a.6.6 0 0 1 .07.765l-.07.083a.6.6 0 0 1-.765.07l-.083-.07L5 5.848 1.424 9.424a.6.6 0 0 1-.765.07l-.083-.07a.6.6 0 0 1-.07-.765l.07-.083L4.15 5 .576 1.424A.6.6 0 0 1 .506.66l.07-.083-.07.083Z' fill='#{$primary}' fill-rule='nonzero'/></svg>" !default;
$close-white:               "<svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'><path d='m.506.659.07-.083a.6.6 0 0 1 .765-.07l.083.07L5 4.15 8.576.576a.6.6 0 0 1 .765-.07l.083.07a.6.6 0 0 1 .07.765l-.07.083L5.848 5l3.576 3.576a.6.6 0 0 1 .07.765l-.07.083a.6.6 0 0 1-.765.07l-.083-.07L5 5.848 1.424 9.424a.6.6 0 0 1-.765.07l-.083-.07a.6.6 0 0 1-.07-.765l.07-.083L4.15 5 .576 1.424A.6.6 0 0 1 .506.66l.07-.083-.07.083Z' fill='#{$white}' fill-rule='nonzero'/></svg>" !default;
