{%- import '../macro/icon.twig' as svg -%}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block pageDescription %}{% endblock %}">
  <meta name="keywords" content="{% block pageKeywords %}{% endblock %}">
  <meta name="author" content="">

  {% block styles %}{% endblock %}

  <link href="./assets/img/favicon.ico" rel="shortcut icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./assets/css/vendor.css?123456">
  <link rel="stylesheet" href="./assets/css/app.css?123456">

  <title>{% if pageTitle %} {{ pageTitle }} - {% endif %}{{ company.name }}</title>

  {% block headerScripts %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body class="body {{ bodyClass|default('') }}" id="top">
  <include src="./build/assets/img/icons.svg"></include>

  {% include '_header.twig' %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  {% include '_footer.twig' %}

  {% include '../partials/_modal-ask.twig' %}
  {% include '../partials/_modal-call.twig' %}
  {% include '../partials/_modal-director.twig' %}
  {% include '../partials/_modal-login.twig' %}
  {% include '../partials/_modal-code.twig' %}
  {% include '../partials/_modal-phone-changed.twig' %}
  {% include '../partials/_modal-request-sent.twig' %}
  {% include '../partials/_modal-in-cart.twig' %}
  {% include '../partials/_modal-in-cart-2.twig' %}
  {% include '../partials/_modal-in-cart-3.twig' %}
  {% include '../partials/_modal-limit.twig' %}

  {% block modals %}{% endblock %}

  <script src="./assets/js/vendor.js?123456"></script>
  <script src="./assets/js/app.js?123456"></script>

  {% block scripts %}{% endblock %}

</body>
</html>