<div class="footer bg-primary">
  <div class="footer__pattern pattern-chip-primary"></div>

  <div class="footer__menu">
    <div class="container">
      <div class="footer__row row">
        {% for section in footer.menu %}
          <div class="footer__menu-section col-xs-6 col-lg-3">
            <h6 class="footer__menu-title">
              {% if section.icon %}
                {{ svg.icon(section.icon, 'footer__menu-icon') }}
              {% endif %}
              {{ section.title }}
            </h6>
            <ul class="footer__menu-list text-md">
              {% for item in section.list %}
                <li class="footer__menu-item">
                  <a href="{{ item.link }}" class="link-inherit">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="footer__contacts">
    <div class="container">
      <div class="footer__row row justify-md-between align-md-center">
        <div class="footer__col col-xs-12 col-lg-auto">
          <a href="#modal-call" class="footer__button button button--outline-white button--md" data-element="modal-trigger">
            <i data-feather="phone-incoming" class="button__icon"></i>
            <span class="button__text">Обратная связь</span>
          </a>
        </div>
        <div class="footer__col col-xs-12 col-lg-auto">
          <ul class="footer__contacts-list contact-list row align-xs-baseline">
            <li class="footer__contacts-item contact-list__item col">
              <span class="contact text-md">
                <i data-feather="map-pin" class="contact__icon"></i>
                <span class="contact__text">{{ company.address }}</span>
              </span>
            </li>
            <li class="footer__contacts-item contact-list__item col">
              <a href="mailto:{{ company.email }}" class="contact text-md link-inherit">
                <i data-feather="mail" class="contact__icon"></i>
                <span class="contact__text">{{ company.email }}</span>
              </a>
            </li>
            <li class="footer__contacts-item contact-list__item col">
              <a href="tel:{{ company.phone.link }}" class="contact contact--accented link-hidden">
                <i data-feather="smartphone" class="contact__icon"></i>
                <span class="contact__text">{{ company.phone.number }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom  text-md">
    <div class="container">
      <div class="footer__row row justify-md-between align-md-center">
        <div class="footer__col col-xs-12 col-md-auto">
          <div class="footer__copyright">{{ company.copyright }}</div>
        </div>

        <div class="footer__social col-xs-12 col-md-auto">
          <div class="footer__social-label">Мы в соцсетях</div>
          {% include '../partials/_social-list.twig' with { list: company.social, socialClass: 'footer__social-list social--dark' } %}
        </div>
      </div>
    </div>
  </div>

</div>