<div class="header" data-component="header">
  <div class="header__top">
    <div class="container">
      <div class="row align-xl-center">
        <div class="header__col--nav col-xl-8">
          {% include 'header/_nav.twig' with { menuClass: 'header__nav' } %}
        </div>

        <div class="header__col--contacts col-xl-4 hidden-lg-down">
          {% include 'header/_contacts.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="header__main bg-primary">
    <div class="header__main-pattern pattern-chip-primary"></div>

    <div class="container">
      <div class="header__row row align-xs-center">
        <div class="header__col header__col--logo col col-xl-3">
          <a href="./index.html" class="header__logo">
            <img src="./assets/img/logo-oven.svg" alt="{{ company.name }} logo" class="header__logo-img">
          </a>
        </div>

        <div class="header__col header__col--search col col-xl-5 hidden-lg-down">
          <a href="catalog.html" class="header__catalog-button">
            {{ svg.icon('catalog', 'header__catalog-button-icon') }}
            <span>Каталог</span>
          </a>
 
          <form class="header__search form search-form">
            <div class="form__group">
              <div class="form__field form__field--sm form__field--icon-left">
                <input type="text" class="form__input" placeholder="Поиск по названию, категории, артикулу...">
                <i data-feather="search" class="form__field-icon"></i>
              </div>
              <button class="form__field-button button button--secondary" type="submit" data-element="search-submit">Найти</button>
            </div>
          </form>
        </div>

        <div class="header__col header__col--icon-menu col col-xl-4">
          {% include 'header/_icon-menu.twig' with { menuClass: 'header__icon-menu' } %}
        </div>

        <div class="header__col header__col--toggle col hidden-xl-up">
          <button class="header__nav-toggle hamburger hamburger--spin" type="button" data-element="mobile-menu-trigger" data-src="nav">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  {% if bodyClass != 'page-home' %}
    {% include 'header/_navbar.twig' %}
  {% endif %}

  {% include 'header/_mobile-menu.twig' %}
</div>