{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'О нас' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/1.jpg 1x, ./assets/img/temp/covers/1@2x.jpg 2x" src="./assets/img/temp/covers/1.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Наш многолетний успешный опыт работы базируется на 6 основных факторах:</h1>
      </div>
    </div>
  </div>

  <div class="section section--default features bg-white">
    <div class="container">
      <ol class="features__list features__list--ordered row">
        {% for item in about.features %}
          <li class="features__item col-xs-12 col-md-6 col-lg-4">
            <div class="feature feature--default">
              <div class="feature__picture icon-square">
                <i data-feather="{{ item.icon }}" class="icon-square__icon"></i>
              </div>
              <h5 class="feature__title">{{ item.title }}</h5>
              <p class="feature__text">{{ item.text }}</p>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  {% include 'sections/_page-menu.twig' with { list: about.pageMenu } %}

  <div class="key-figures image-intro bg-dark-gray" id="key-figures">
    <div class="image-intro__picture">
      <img srcset="./assets/img/temp/key-figures.jpg 1x, ./assets/img/temp/key-figures@2x.jpg 2x" src="./assets/img/temp/key-figures.jpg" alt="" class="image-intro__img">
    </div>

    <div class="image-intro__container container">
      <h2 class="image-intro__title text-center">Ключевые цифры и факты</h2>
      <div class="key-figures__stats stats bg-white">
        <ul class="stats__list row">
          {% for item in about.stats %}
            <li class="stats__item col-xs-12 col-sm-6 col-lg-3">
              <dl class="stats__item-body">
                <dt class="stats__item-label">{{ item.label }}</dt>
                <dd class="stats__item-data">{{ item.data }}</dd>
              </dl>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="key-figures__facts facts">
        <ul class="facts__list row">
          {% for item in about.facts %}
            <li class="facts__item col-xs-12 col-md-6">
              <div class="fact">
                <div class="fact__picture">
                  {{ svg.icon(item.icon, 'fact__icon') }}
                </div>
                <div class="fact__body">
                  <h5 class="fact__title">{{ item.title }}</h5>
                  <p class="fact__text">{{ item.text }}</p>
                  <div class="fact__footer text-md">
                    <a href="{{ item.link }}" class="fact__link" data-scroll>{{ item.linkText }}</a>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="section section--default customers" id="our-customers">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section-title">Наши заказчики</h2>
      </div>

      <ol class="customers__list row">
        {% for item in about.customers %}
          <li class="customers__item col-xs-12 col-sm-6 col-lg-4">
            <div class="customer">
              <div class="customer__picture">
                <img srcset="./assets/img/temp/customers/{{ item.image }}.jpg 1x, ./assets/img/temp/customers/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/customers/{{ item.image }}.jpg" alt="" class="customer__img">
              </div>
              <h5 class="customer__title">{{ item.name }}</h5>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="section section--default bg-dark-gray suppliers" id="our-suppliers">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section-title">Наши поставщики</h2>
      </div>

      <ul class="suppliers__list row">
        {% for item in about.suppliers %}
          <li class="suppliers__item col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="supplier">
              <div class="supplier__picture">
                {% if item.type == 'png' %}
                  <img srcset="./assets/img/temp/suppliers/{{ item.image }}.png 1x, ./assets/img/temp/suppliers/{{ item.image }}@2x.png 2x" src="./assets/img/temp/suppliers/{{ item.image }}.png" alt="" class="supplier__img">
                  {% else %}
                  <img src="./assets/img/temp/suppliers/{{ item.image }}.svg" alt="" class="supplier__img">
                {% endif %}
              </div>
              <div class="supplier__controls">
                <a href="#" class="supplier__control" title="Сайт">
                  <i data-feather="globe" class="supplier__control-icon"></i>
                </a>
                <a href="#" class="supplier__control" title="">
                  <i data-feather="file-text" class="supplier__control-icon"></i>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include 'sections/_services.twig' with { list: about.services, folder: 'about' } %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}