{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Главная' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">Личный кабинет</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Добрый день!</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="row">
            <div class="col-xs-12 col-xl-8">
              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Контактные данные не заполнены</div>
                  <i data-feather="alert-triangle" class="dashboard-card__header-icon text-orange"></i>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__content">
                    <div class="dashboard-card__description text-md">
                      <p><a href="account-data.html" class="link-inherit link-underline">Заполните контактные данные</a> о себе, или <a href="account-b2b.html" class="link-inherit link-underline">укажите реквизиты</a> вашей компании, это поможет вам существенно упростить оформление заказа</p>
                    </div>
                  </div>

                  <div class="dashboard-card__footer text-md">
                    <a href="account-data.html" class="dashboard-card__footer-button button button--secondary">Заполнить личные данные</a>
                    <a href="account-b2b.html" class="dashboard-card__footer-link link-inherit">Указать реквизиты</a>
                  </div>
                </div>
              </div>

              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Заказы</div>
                  <div class="dashboard-card__header-note text-md">У вас пока нет ни одного заказа</div>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__empty text-md">
                    {{ svg.icon('orders', 'dashboard-card__empty-icon') }}
                    <a href="catalog.html" class="dashboard-card__empty-button button button--outline-light button--block button--md">Перейти в каталог</a>
                  </div>
                </div>
              </div>

              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Избранное</div>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__empty text-md">
                    {{ svg.icon('bookmark', 'dashboard-card__empty-icon') }}
                    <div class="dashboard-card__empty-text">В избранном пока ничего нет</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-xl-4">
              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Поддержка</div>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__content support support--compact text-md">
                    <dl class="support__list">
                      <dd class="support__list-data">
                        {% for phone in account.support.phones %}
                          <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a> {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                      </dd>
                      <dd class="support__list-data">
                        <a href="{{ account.support.email }}" class="link-primary link-underline">{{ account.support.email }}</a>
                      </dd>
                      <dd class="support__list-data">
                        <ul class="support__messengers messengers messengers--inline">
                          {% for item in account.support.apps %}
                            <li class="messengers__item">
                              <a href="#" class="messengers__link link-inherit">
                                {{ svg.icon(item.icon, 'messengers__icon') }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}