{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Поддержка' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Личный кабинет</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="account__card card support text-md">
            <p>Добрый день. Если у вас возникли вопросы, вы всегда можете связаться с нами.</p>

            <dl class="support__list">
              <dt class="support__list-label">По телефонам:</dt>
              <dd class="support__list-data">
                {% for phone in account.support.phones %}
                  <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a> {% if not loop.last %}<br>{% endif %}
                {% endfor %}
              </dd>
              <dt class="support__list-label">По e-mail:</dt>
              <dd class="support__list-data">
                <a href="{{ account.support.email }}" class="link-inherit">{{ account.support.email }}</a>
              </dd>
              <dt class="support__list-label">В мессенджерах:</dt>
              <dd class="support__list-data">
                <ul class="support__messengers messengers">
                  {% for item in account.support.apps %}
                    <li class="messengers__item">
                      <a href="#" class="messengers__link link-inherit">
                        {{ svg.icon(item.icon, 'messengers__icon') }}
                        {{ item.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}