{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Реквизиты В2В' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Личный кабинет</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="account__card card tabs tabs--pills">
            <ul class="account__nav tabs__list text-md">
              <li class="tabs__item">
                <a href="#" class="tabs__link is-active">{{ pageTitle }}</a>
              </li>
              <li class="tabs__item">
                <a href="account-data.html" class="tabs__link">Личные данные</a>
              </li>
            </ul>

            <div class="account__description text-md">
              <p>
                <strong>Вы можете добавлять неограниченное количество организаций-плательщиков.</strong><br>
                При оформлении заказа, реквизиты активной организации будут подставлены автоматически.
              </p>
            </div>
          </div>

          <div class="account__companies text-md">
            <div class="account__companies-title">Мои организации</div>
            <ul class="account__companies-list">
              {% for item in account.companieslong %}
                <li class="account__companies-item account__company card{% if item.cur %} card-active{% endif %}">
                  <div class="account__company-header">
                    <span class="account__company-name">{{ item.title }}{% if item.cur %} (по умолчанию){% endif %}</span>
                    <a href="" class="account__company-option">
                      <span class="account__company-option-text">Изменить</span>
                      <i data-feather="edit-2" class="account__company-option-icon"></i>
                    </a>
                  </div>
                </li>
              {% endfor %}
              <li class="account__companies-item" data-element="hidden-toggle" data-src="account-form">
                <a href="#" class="account__company-add">
                  <i data-feather="plus" class="account__company-add-icon"></i>
                  <span class="account__company-add-text">Добавить новую организацию</span>
                </a>
              </li>
              <li class="account__companies-item" hidden data-element="hidden-content" data-src="account-form">
                <div class="account__company card">
                  <div class="account__company-header">
                    <span class="account__company-name account__company-label">Данные  контактного лица и организации</span>
                    <a href="" class="account__company-option">
                      <span class="account__company-option-text" data-element="hidden-close">Отменить</span>
                      <i data-feather="x" class="account__company-option-icon"></i>
                    </a>
                  </div>
                  <form action="#" class="account__form form" data-form="account" data-parsley-validate>
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        {% for fieldset in account.companyForm %}
                          <fieldset class="form__fieldset">
                            {% if fieldset.legend %}
                              <legend class="form__legend h5">{{ fieldset.legend }}</legend>
                            {% endif %}
                            <div class="row">
                              {% for item in fieldset.groups %}
                                <div class="col-xs-12 {% if item.col %}{{ item.col }}{% endif %}">
                                  <div class="form__group {% if item.required %}is-required{% endif %}">
                                    <label class="form__label text-md" for="account-{{ item.id }}">{{ item.label }}</label>
                                    {% if item.match %}
                                      <div class="form__match-group">
                                      {% endif %}
                                      <div class="form__field">
                                        {% if item.type == 'textarea' %}
                                          <textarea rows="3" class="form__input" id="account-{{ item.id }}" {% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %} {% if item.required %}required{% endif %} data-parsley-group="">{% if item.value %}{{ item.value }}{% endif %}</textarea>

                                          {% else %}

                                          <input type="{{ item.type }}" class="form__input" id="checkout-{{ item.id }}" {% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %} {% if item.required %}required{% endif %} data-parsley-group="">
                                        {% endif %}
                                      </div>
                                      {% if item.match %}
                                        <div class="form__match">
                                          <div class="form__label text-md">{{ item.match.label }}</div>
                                          <label class="form-check">
                                            <input class="form-check__input" type="checkbox" value="1" name="account-{{ item.id }}-match" checked>
                                            <span class="form-check__label">
                                              {{ item.match.value }}
                                            </span>
                                          </label>
                                        </div>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                            {% if loop.last %}
                              <div class="form__group form__group--compact">
                                <label class="form-check">
                                  <input class="form-check__input" type="checkbox" value="1" name="account-consent" checked required>
                                  <span class="form-check__label">
                                    Подтверждаю согласие на обработку персональных данных
                                  </span>
                                </label>
                              </div>
                            {% endif %}
                          </fieldset>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="account__form-footer">
                      <input type="submit" class="account__button button button--secondary" value="Добавить организацию">
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>

          <div class="account__faq faq">
            <h5 class="faq__title">Часто задаваемые вопросы</h5>
            {% for section in account.faq %}
              <div class="faq__section">
                <h6 class="faq__section-title">{{ section.title }}</h6>
                <ul class="faq__list text-md">
                  {% for item in section.list %}
                    <li class="faq__item collapsible is-collapsed" data-component="collapsible">
                      <div class="faq__item-title collapsible__toggle" data-element="collapsible-toggle">
                        {{ item.question }}
                        <i data-feather="chevron-up" class="faq__item-toggle"></i>
                      </div>
                      <div class="faq__item-body collapsible__content" data-element="collapsible-content">
                        <p>{{ item.answer }}</p>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}