{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Мои заказы' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Личный кабинет</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="tabs tabs--pills" data-component="tabs">
            <div class="account__card card">
              <ul class="account__nav tabs__list text-md">
                {% for tab in account.orders.tabs %}
                  <li class="tabs__item">
                    <a href="#{{ tab.id }}-orders" class="tabs__link {% if loop.first %}is-active{% endif %}" data-element="tabs-toggle">{{ tab.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="account__tabs-content tabs__content">
              {% for tab in account.orders.tabs %}
                <div class="tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}-orders" data-element="tabs-tab">
                  <ul class="account__orders orders">
                    {% for order in account.orders.list %}
                      <li class="orders__item order card collapsible {% if loop.index != 2 %}is-collapsed{% endif %}" data-component="collapsible">
                        <div class="order__header collapsible__toggle" data-element="collapsible-toggle">
                          <span class="order__header-item">
                            <span class="text-md">
                              <span class="order__number">№ {{ order.number }}</span>
                              от {{ order.date }}, {{ order.itemsNumber }}
                            </span>
                          </span>

                          <span class="order__header-item mr-xs-auto">
                            <span class="order__sum">{{ order.sum }} ₽</span>
                            <span class="order__paid text-md {% if order.paid < order.sum %}order__paid--half{% elseif order.paid == 0 %}order__paid--null{% endif %}">Оплачено {{ order.paid }}</span>
                          </span>


                          <span class="order__header-item">
                            <span class="order__status text-md">{{ order.status}}</span>
                          </span>
                          <i data-feather="chevron-up" class="order__toggle"></i>
                        </div>

                        <div class="order__body collapsible__content" data-element="collapsible-content">
                          <div class="order__content">
                            <ul class="order__statusbar statusbar text-md">
                              {% for item in account.orders.statusBar %}
                                <li class="statusbar__item">
                                  {% if item.icon  %}
                                    <i data-feather="{{ item.icon }}" class="statusbar__icon {% if item.iconColor %}text-{{ item.iconColor }}{% endif %}"></i>
                                  {% endif %}
                                  {{ item.text }}
                                </li>
                              {% endfor %}
                            </ul>

                            <div class="order__tracking text-md">
                              Трек номер вашего заказа <strong>DL000231</strong>
                            </div>

                            <dl class="order__details dl-inline text-md">
                              {% for item in account.orders.details %}
                                <dt class="order__details-label">{{ item.label }}:</dt>
                                <dd class="order__details-data">{{ item.data }}</dd>
                              {% endfor %}
                            </dl>

                            <ul class="order__list text-md">
                              {% for item in account.orders.order %}
                                <li class="order__list-item">
                                  <div class="order-item row row--md justify-xs-between align-xs-top">
                                    <a href="product.html" class="order-item__picture col">
                                      <img srcet="./assets/img/temp/order/{{ item.image }}.jpg 1x, ./assets/img/temp/order/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/order/{{ item.image }}.jpg" alt="" class="order-item__img">
                                    </a>
                                    <div class="order-item__name col">
                                      <a href="product.html" class="link-inherit">{{ item.name }}</a>
                                    </div>
                                    <div class="order-item__code col">{{ item.code }}</div>
                                    <div class="order-item__amount col">{{ item.amount }}</div>
                                    <div class="order-item__sum col">{{ item.sum }}</div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>

                          <div class="order__footer">
                            <div class="order__buttons">
                              {% for button in account.orders.buttons %}
                                <button class="order__button button button--outline-light button--md">
                                  <i data-feather="{{ button.icon }}" class="button__icon"></i>
                                  <span class="button__text">{{ button.text }}</span>
                                </button>
                              {% endfor %}
                            </div>
                            <div class="order__total">Итого: 12 300 ₽</div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}