{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Личные данные' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Личный кабинет</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="account__card card tabs tabs--pills">
            <ul class="account__nav tabs__list text-md">
              <li class="tabs__item">
                <a href="account-b2b.html" class="tabs__link">Реквизиты организации</a>
              </li>
              <li class="tabs__item">
                <a href="#" class="tabs__link is-active">{{ pageTitle }}</a>
              </li>
            </ul>

            <div class="account__description text-md">
              <p><strong>Укажите ваши контактные данные, для быстрого заполнения формы при оформлении заказа:</strong></p>
            </div>

            <form action="#" class="account__form form row" data-form="account" data-parsley-validate>
              <div class="col-xs-12 col-md-6">
                {% for fieldset in account.form %}
                  <fieldset class="form__fieldset">
                    {% if fieldset.legend %}
                      <legend class="form__legend h5">{{ fieldset.legend }}</legend>
                    {% endif %}
                    <div class="row">
                      {% for item in fieldset.groups %}
                        <div class="col-xs-12 {% if item.col %}{{ item.col }}{% endif %}">
                          {% if item.type != 'button' %}
                            <div class="form__group {% if item.groupType == 'inline' %}form__group--inline{% endif %} {% if item.required %}is-required{% endif %}">
                              <label class="form__label text-md" for="account-{{ item.id }}">{{ item.label }}</label>
                              <div class="form__field">
                                <input type="{{ item.type }}" class="form__input" id="account-{{ item.id }}" {% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %} {% if item.required %}required{% endif %} data-parsley-group="{{ fieldset.group }}">
                              </div>
                            </div>
                            {% else %}
                            <div class="form__group">
                              <button class="account__button button button--secondary">{{ item.text }}</button>
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </fieldset>
                {% endfor %}
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}