{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Избранное' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Личный кабинет</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          {% include 'partials/_catalog-list.twig' with { favActive: true, col: 'col-lg-6 col-xl-4' } %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}