{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Главная' %}

{% block content %}

  <div class="page-header page-header--compact">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">Личный кабинет</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Добрый день, Андрей!</h1>
      </div>
    </div>
  </div>

  <div class="section section--page account">
    <div class="container">
      <div class="row">
        <div class="account__aside col-xs-12 col-lg-3">
          {% include 'partials/_account-menu.twig' %}
        </div>

        <div class="account__main col-xs-12 col-lg-9">
          <div class="row">
            <div class="col-xs-12 col-xl-8">
              <div class="dashboard-card card">
                <a href="account-orders.html" class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Заказы</div>
                  <i data-feather="external-link" class="dashboard-card__header-icon dashboard-card__header-icon--lg"></i>
                </a>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__orders">
                    <ul class="orders orders--compact">
                    {% for order in account.orders.list|slice(0, 3) %}
                      <li class="orders__item order order--compact">
                        <div class="order__header">
                          <span class="order__header-item">
                            <span class="text-md">
                              <span class="order__number">№ {{ order.number }}</span>
                              от {{ order.date }}, {{ order.itemsNumber }}
                            </span>
                          </span>

                          <span class="order__header-item mr-xs-auto">
                            <span class="order__sum">{{ order.sum }} ₽</span>
                            <span class="order__paid text-md {% if order.paid < order.sum %}order__paid--half{% elseif order.paid == 0 %}order__paid--null{% endif %}">Оплачено {{ order.paid }}</span>
                          </span>

                          <span class="order__header-item">
                            <span class="order__status text-md">{{ order.status}}</span>
                          </span>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  </div>
                  <div class="dashboard-card__footer dashboard-card__footer--compact">
                    <a href="account-orders.html" class="button button--outline-light button--block button--md">Все заказы</a>
                  </div>
                </div>
              </div>

              <div class="dashboard-card card">
                <a href="account-fav.html" class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Избранное</div>
                  <i data-feather="external-link" class="dashboard-card__header-icon dashboard-card__header-icon--lg"></i>
                </a>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__slider swiper-container" data-slider-container>
                    <div class="section__slider section__slider--fixed swiper" data-slider="2items-auto">
                      <div class="swiper-wrapper">
                        {% for item in catalog.items|slice(0, 4) %}
                          <div class="section__slide swiper-slide">
                            {% include 'partials/_product-card.twig' with { favActive: true } %}
                          </div>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>

                  <div class="dashboard-card__footer dashboard-card__footer--compact">
                    <a href="account-fav.html" class="button button--outline-light button--block button--md">Перейти в избранное</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-xl-4">
              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Корпоративная скидка</div>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__content text-md">
                    <p><strong>3%</strong> - размер вашей корпоративной скидки. Эта скидка будет учитена менеджером при формировании счета, после  оформления вами заказа на сайте</p>
                  </div>
                </div>
              </div>

              <div class="dashboard-card card">
                <div class="dashboard-card__header">
                  <div class="dashboard-card__title h6">Поддержка</div>
                </div>

                <div class="dashboard-card__body">
                  <div class="dashboard-card__content support support--compact text-md">
                    <dl class="support__list">
                      <dd class="support__list-data">
                        {% for phone in account.support.phones %}
                          <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a> {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                      </dd>
                      <dd class="support__list-data">
                        <a href="{{ account.support.email }}" class="link-primary link-underline">{{ account.support.email }}</a>
                      </dd>
                      <dd class="support__list-data">
                        <ul class="support__messengers messengers messengers--inline">
                          {% for item in account.support.apps %}
                            <li class="messengers__item">
                              <a href="#" class="messengers__link link-inherit">
                                {{ svg.icon(item.icon, 'messengers__icon') }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}