{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Управление ветрогенератором с помощью оборудования ОВЕН' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <a href="blog.html" class="breadcrumb__button button button--outline-light button--md">
          <i data-feather="arrow-left" class="button__icon"></i>
          <span>Все новости</span>
        </a>
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="blog.html" class="breadcrumb__link">Новости и блоги</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section section--page article">
    <div class="container">
      <div class="row">
        <div class="article__main col-xs-12 col-lg-8 col-xl-9">
          <div class="article__body card">
            <h1 class="article__title">{{ pageTitle }}</h1>

            <div class="article__header">
              <div class="row row--md align-xs-center">
                {% for item in article.meta %}
                  <div class="article__header-item col">
                    <div class="article__meta text-md">
                      <i data-feather="{{ item.icon }}" class="article__meta-icon"></i>
                      {{ item.text }}
                    </div>
                  </div>
                {% endfor %}

                {#<div class="article__header-item col ml-xs-auto">
                  {% include 'partials/_social-list.twig' with { list: company.share, socialClass: 'article__share' } %}
                </div>#}
              </div>
            </div>

            <div class="article__content text-block">
              <p>Плазменное образование, по данным астрономических наблюдений, искажает вихрь почти так же, как в резонаторе газового лазера. Кристаллическая решетка, как того требуют законы термодинамики, синфазно отклоняет взрыв при любом их взаимном расположении. Среда изотропно представляет собой кристалл. Самосогласованная модель предсказывает, что при определенных условиях частица катастрофично испускает эксимер при любом их взаимном расположении.</p>
              <p>Экситон трансформирует лептон. Газ вращает элементарный осциллятор. Мишень тормозит электронный взрыв. Сверхновая, при адиабатическом изменении параметров, едва ли квантуема. Квантовое состояние кумулятивно.</p>

              <figure class="media">
                <img srcset="./assets/img/temp/article/1.jpg 1x, ./assets/img/temp/article/1@2x.jpg 2x" src="./assets/img/temp/article/1.jpg" alt="" class="media__img">
                <figcaption class="media__caption text-md">Встроенный источник питания 24 В для активных датчиков</figcaption>
              </figure>

              <h4>Основные функции измерителя двухканального ОВЕН 2ТРМ0</h4>
              <ul>
                <li>Два универсальных входа для подключения широкого спектра датчиков температуры, давления, влажности, расхода, уровня и т. п.;</li>
                <li>Цифровая фильтрация и коррекция входного сигнала, масштабирование шкалы для аналогового входа;</li>
              </ul>
            </div>

            <div class="article__footer">
              <div class="article__tags">
                <i data-feather="tag" class="article__tags-icon"></i>
                <ul class="article__tags-list tags row row--sm">
                  {% for tag in article.tags %}
                    <li class="tags__item col">
                      <a href="#" class="tag text-sm">{{ tag }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="article__aside col-xs-12 col-lg-4 col-xl-3">
          <div class="recent-articles">
            <h6 class="recent-articles__title">
              <i data-feather="zap" class="recent-articles__title-icon"></i>
              Последние новости
            </h6>

            <div class="recent-articles__content has-shadow">
              <div class="recent-articles__list" data-perfect-scrollbar>
                {% for item in blog %}
                  <div class="recent-articles__item">
                    <a href="#" class="recent-articles__article">
                      <div class="recent-articles__article-title text-md">{{ item.title }}</div>
                      <div class="recent-articles__article-date text-sm text-muted">11 фев. 2020</div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}