{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Новости и блоги' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page blog">
    <div class="container">

      <div class="blog__filter content-filter row row--xl">
        {% for item in blogFilter %}
          <div class="content-filter__item col">
            <div class="dropdown dropdown--{{ item.type }}" data-component="dropdown" data-type="{{ item.type }}">
              <button class="dropdown__toggle" data-element="dropdown-toggle" data-tippy-append-to="parent" data-template='dropdown-content-{{ item.id }}'>
                <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">{{ item.label }}</span>
                <i data-feather="chevron-down" class="dropdown__toggle-icon"></i>
              </button>

              <div style="display: none;">
                <div id="dropdown-content-{{ item.id }}">
                  <div class="dropdown__content" data-element="dropdown-content" data-id="dropdown-content-{{ item.id }}">
                    {% if item.type == 'multiple' %}
                      <button class="dropdown__button button button--outline-light button--md button--block" data-element="dropdown-check-all">Показывать все</button>
                    {% endif %}
                    <ul class="dropdown__list" data-element="dropdown-list" data-perfect-scrollbar>
                      {% for option in item.list %}
                        <li class="dropdown__option">
                          <label class="form-check">
                            {% if item.type == 'multiple' %}
                              <input class="form-check__input" type="checkbox" name="{{ item.id }}-{{ loop.index }}" value="1" {% if option.checked %}checked{% endif %} data-element="dropdown-option">
                              <span class="form-check__label">{{ option.name }}</span>
                              {% else %}
                              <input class="form-check__input" type="radio" name="{{ item.id }}" value="{{ loop.index }}" {% if option.checked %}checked{% endif %} data-element="dropdown-option">
                              <span class="form-check__label" data-element="dropdown-option-text">{{ option.name }}</span>
                            {% endif %}
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="blog__list row">
        {% for item in blog|slice(0,1) %}
          <div class="blog__item col-xs-12 col-lg-6 col-xl-8">
            {% include 'partials/_blog-card.twig' with { blogCardClass: 'blog-card--cover', date: true } %}
          </div>
        {% endfor %}
        {% for item in blog|slice(1) %}
          <div class="blog__item col-xs-12 col-md-6 col-xl-4">
            {% include 'partials/_blog-card.twig' with { blogCardType: 'large', blogCardClass: 'blog-card--lg', date: true } %}
          </div>
        {% endfor %}
      </div>

      {% include 'partials/_pagination.twig' with { paginationClass: 'blog__pagination' } %}
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}