{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Корзина' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }} <span class="page-header__badge">4</span></h1>
        <button class="page-header__option control-link text-md">
          <i data-feather="x" class="control-link__icon"></i>Очистить корзину
        </button>
      </div>
    </div>
  </div>

  <div class="cart">
    <div class="container">
      <div class="row">
        <div class="cart__content col-xs-12 col-lg-8">
          <div class="cart__list">
            {% for item in cart %}
              <div class="cart__item cart-item card">
                <div class="cart-item__body row align-xs-center">
                  <a href="product.html" class="cart-item__col cart-item__col--picture col">
                    <img srcset="./assets/img/temp/cart/{{ item.image }}.jpg 1x, ./assets/img/temp/cart/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/cart/{{ item.image }}.jpg" alt="" class="cart-item__img">
                  </a>

                  <div class="cart-item__col cart-item__col--content col">
                    <h6 class="cart-item__title">
                      <a href="product.html" class="link-inherit">{{ item.title }}</a>
                    </h6>
                    <div class="cart-item__info text-md">
                      <span class="cart-item__info-item cart-item__code">{{ item.code }}</span>
                      <span class="cart-item__info-item">{{ item.availability }}</span>
                    </div>
                  </div>

                  <div class="cart-item__col cart-item__col--amount col">
                    <div class="cart-item__amount amount-form" data-component="amount-form">
                      <button class="amount-form__control" data-element="dec-control" type="button">
                        <i data-feather="minus" class="amount-form__icon"></i>
                      </button>
                      <input type="text" class="amount-form__input form__input" value="{{ item.amount }}" data-element="amount-input" data-min="0">
                      <button class="amount-form__control" data-element="inc-control" type="button">
                        <i data-feather="plus" class="amount-form__icon"></i>
                      </button>
                    </div>
                  </div>

                  <div class="cart-item__col cart-item__col--price col">
                    <div class="cart-item__sum">{{ item.sum }}</div>
                    {% if item.price %}
                      <div class="cart-item__price text-md">{{ item.price }}</div>
                    {% endif %}
                  </div>

                  <div class="cart-item__col cart-item__col--controls col">
                    <button class="cart-item__control" title="В избранное" data-control="fav">
                      <i data-feather="heart" class="cart-item__control-icon"></i>
                    </button>
                    <button class="cart-item__control" title="Удалить из корзины">
                      <i data-feather="x" class="cart-item__control-icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="cart__aside col-xs-12 col-lg-4">
          <div class="cart__checkout card card--border-primary">
            <dl class="cart__total text-lg">
              <dt class="cart__total-label">Итого</dt>
              <dd class="cart__total-sum">31 689 ₽</dd>
            </dl>

            <dl class="cart__discount">
              <dt class="cart__discount-number">3%</dt>
              <dd class="cart__discount-text text-sm">Размер вашей корпоративной скидки. Скидка будет применена менеджером при оформлении счета, после оформления заказа</dd>
            </dl>

            <a href="#" class="cart__button button button--secondary button--block">Перейти к оформлению заказа</a>
            <a href="#" class="cart__button button button--outline-light button--block">Заказать без оформления</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}