{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Контрольно-измерительные приборы' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог продукции</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page catalog">
    <div class="container">
      <div class="row">
        <div class="catalog__filter-col col-xs-12 col-xl-3">
          {% include 'partials/_catalog-filter.twig' %}
        </div>

        <div class="catalog__main col-xs-12 col-xl-9">
          {% for section in menu|slice(0,1) %}
            <div class="catalog__section card category category--compact">
              <div class="category__body">
                {% set batchCount = (section.list|length / 2)|round(0, 'ceil') %}
                <div class="row">
                  {% for batch in section.list|batch(batchCount) %}
                    <div class="category__col col-xs-12 col-md-6">
                      <ul class="category__list">
                        {% for item in batch %}
                          <li class="category__list-item">
                            <a href="catalog-section.html" class="category__list-link link-inherit">{{ item }}</a>
                            <span class="category__list-count text-md">(44)</span>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}

          {% include 'partials/_catalog-sorting.twig' %}

          {% include 'partials/_catalog-list.twig' %}

          {% include 'partials/_pagination.twig' with { paginationClass: 'catalog__section' } %}

          {% include 'partials/_catalog-content-block.twig' %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}