{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Каталог продукции' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page categories">
    <div class="container">
      {% for section in menu if not section.navbarOnly %}
        <div class="categories__section card category">
          <div class="category__row row">
            <div class="category__picture col-xs-12 col-sm-3 col-md-2">
              <img src="./assets/img/temp/catalog/categories/{{ section.image }}.svg" alt="" class="category__img">
            </div>

            <div class="category__body col-xs-12 col-sm-9 col-md-10">
              <h4 class="category__title">
                <a href="catalog-category.html" class="category__title-link link-inherit">{{ section.title }}</a>
                <span class="category__title-count text-md">({{ section.count }})</span>
                <i data-feather="arrow-up-right" class="category__title-icon"></i>
              </h4>

             {% set batchCount = (section.list|length / 2)|round(0, 'ceil') %}
              <div class="row">
                {% for batch in section.list|batch(batchCount) %}
                  <div class="category__col col-xs-12 col-lg-6">
                    <ul class="category__list">
                      {% for item in batch %}
                        <li class="category__list-item">
                          <a href="catalog-section.html" class="category__list-link link-inherit">{{ item }}</a>
                          <span class="category__list-count text-md">(44)</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}