{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Измерители-регуляторы' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог продукции</a></li>
          <li class="breadcrumb__item"><a href="catalog-category.html" class="breadcrumb__link">Контрольно-измерительные приборы</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page catalog">
    <div class="container">
      <div class="row">
        <div class="catalog__filter-col col-xs-12 col-xl-3">
          {% include 'partials/_catalog-filter.twig' %}
        </div>

        <div class="catalog__main col-xs-12 col-xl-9">

          {% include 'partials/_catalog-sorting.twig' %}

          {% include 'partials/_catalog-list.twig' %}

          {% include 'partials/_catalog-content-block.twig' %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}