{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Оформление заказа' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <form action="#" class="checkout form" data-form="checkout" data-parsley-validate>
    <div class="container">
      <div class="row">
        <div class="checkout__content col-xs-12 col-lg-8">

          {% for section in checkout.form %}
            <div class="checkout__section card collapsible {% if not loop.first %}is-collapsed{% endif %}" data-component="collapsible" data-group="{{ section.id }}" id="{{ section.id }}">
              <div class="checkout__section-header collapsible__toggle">
                <h5 class="checkout__section-title h5">{{ section.title }}</h5>
                <a href="#" class="checkout__section-edit" data-element="checkout-edit">Изменить</a>
              </div>

              <div class="checkout__section-body tabs tabs--controls collapsible__content" data-element="collapsible-content" data-component="tabs">
                {% if section.tabs %}
                  <ul class="tabs__list row ">
                    {% for tab in section.tabs %}
                      <li class="tabs__item col">
                        <label class="tabs__link form-check form-check--md {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-control">
                          <input class="form-check__input" type="radio" value="{{ tab.id }}" name="{{ section.id }}" {% if loop.first %} checked {% endif %} required data-parsley-group="{{ section.id }}" {% if tab.dependant %} data-dependant="true" {% endif %}>
                          <span class="form-check__label">{{ tab.name }}</span>
                        </label>
                      </li>
                    {% endfor %}
                  </ul>

                  <div class="checkout__tabs-content tabs__content">
                    {% for tab in section.tabs %}
                      <div class="tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
                        {% if section.id == 'delivery-data' %}
                          <div class="checkout__location-form row" data-group="delivery-data">
                            <div class="col-xs-12 col-md-6">
                              <fieldset class="form__fieldset">
                                <div class="form__group is-required">
                                  <label class="form__label text-md" for="checkout-location">Населённый пункт / город получения</label>
                                  <div class="form__field">
                                    <input type="text" class="form__input" id="checkout-location" value="Санкт-Петербург" required data-parsley-group="delivery-data">
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                        {% endif %}

                        {% if tab.content %}
                          <div class="checkout__section-content text-md">{{ tab.content }}</div>
                        {% endif %}
                        {% if tab.id == 'dellin' %}
                          <div class="checkout__section-content text-md">
                            <h6 class="checkout__section-subtitle">Для рассчета стоимости и времени доставки выберите терминал самовывоза</h6>
                            <button class="button button--secondary-light button--sm">Выбрать терминал</button>
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if section.customer %}
                  {% for form in section.customer %}
                    <div class="row" {% if not loop.first %}hidden{% endif %} {% if form.dependant %} data-dependant-block data-id="{{ form.id }}" data-group="customer" {% endif %}>
                      <div class="col-xs-12 col-md-6">
                        {% for fieldset in form.fields %}
                          <fieldset class="form__fieldset">
                            {% if fieldset.legend %}
                              <legend class="form__legend h5">{{ fieldset.legend }}</legend>
                            {% endif %}
                            <div class="row">
                              {% for item in fieldset.groups %}
                                <div class="col-xs-12 {% if item.col %}{{ item.col }}{% endif %}">
                                  <div class="form__group {% if item.groupType == 'inline' %}form__group--inline{% endif %} {% if item.required %}is-required{% endif %}">
                                    <label class="form__label text-md" for="checkout-{{ item.id }}">{{ item.label }}</label>
                                    {% if item.match %}
                                      <div class="form__match-group">
                                      {% endif %}
                                      <div class="form__field">
                                        {% if item.type == 'textarea' %}
                                          <textarea rows="3" class="form__input" id="checkout-{{ item.id }}" {% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %} {% if item.required %}required{% endif %} data-parsley-group="customer">{% if item.value %}{{ item.value }}{% endif %}</textarea>

                                          {% elseif item.type == 'select' %}
                                          <select data-element="select" class="select-{{ item.class }}" id="checkout-{{ item.id }}">
                                            {% for option in item.options %}
                                              <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                          </select>

                                          {% else %}

                                          <input type="{{ item.type }}" class="form__input" id="checkout-{{ item.id }}" {% if item.value %}value="{{ item.value }}"{% endif %} {% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %} {% if item.required %}required{% endif %} data-parsley-group="customer">
                                        {% endif %}
                                      </div>
                                      {% if item.match %}
                                        <div class="form__match">
                                          <div class="form__label text-md">{{ item.match.label }}</div>
                                          <label class="form-check">
                                            <input class="form-check__input" type="checkbox" value="1" name="checkout-{{ item.id }}-match" checked>
                                            <span class="form-check__label">
                                              {{ item.match.value }}
                                            </span>
                                          </label>
                                        </div>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </fieldset>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}

                <div class="checkout__section-footer">
                  {% if not loop.last %}
                    <button class="checkout__button checkout__button--next button button--secondary" data-element="checkout-next">Далее</button>
                    {% else %}
                    <button class="checkout__button checkout__button--next button button--secondary">Оформить!</button>
                  {% endif %}
                  {% if not loop.first %}
                    <button class="checkout__button checkout__button--back button button--outline-light" data-element="checkout-prev">Назад</button>
                  {% endif %}
                </div>

              </div><!-- / Panel content -->
            </div><!-- / Checkout section -->

          {% endfor %}

        </div>

        <div class="checkout__aside col-xs-12 col-lg-4">
          <div class="checkout__order card card--border-primary">
            <h5 class="checkout__order-title">Ваш заказ</h5>
            <div class="checkout__order-details">
              {% for item in checkout.order %}
                <dl class="checkout__detail {% if item.type %}checkout__detail--{{ item.type}}{% endif %} text-md">
                  <dt class="checkout__detail-label">{{ item.label }}</dt>
                  <dd class="checkout__detail-data">{{ item.data }}</dd>
                </dl>
              {% endfor %}
            </div>

            <dl class="checkout__total text-lg">
              <dt class="checkout__total-label">Итого</dt>
              <dd class="checkout__total-sum">31 689 ₽</dd>
            </dl>
          </div>

          <input type="submit" class="checkout__button button button--secondary button--block" value="ОФОРМИТЬ!" data-element="checkout-submit">
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}