{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Сравнение товаров' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог продукции</a></li>
          <li class="breadcrumb__item">Сравнение</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page compare">
    <div class="container">
      <div class="compare__sorting sorting card">
        <div class="row align-xs-center">
          <div class="sorting__group col-xs-12 col-sm-auto order-xs-last order-sm-initial">
            <select data-element="select" class="sorting__select select-md">
              {% for item in ['Все параметры', 'Напряжение питания', 'Количество входов', 'Тип входа (входного сигнала)', 'Только измерение', 'Интерфейс'] %}
                <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="section__slider-container compare__slider-container swiper-container" data-slider-container>
        <div class="section__slider section__slider--fixed swiper" data-slider="4items">
          <div class="swiper-wrapper">
            {% for i in 1..2 %}
              {% for item in catalog.items|slice(0, 4) %}
                <div class="section__slide swiper-slide" data-compare-item>
                  {% include 'partials/_product-card.twig' with { controlClose: true, info: false, compare: true } %}
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}