{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Контактная информация' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/1.jpg 1x, ./assets/img/temp/covers/1@2x.jpg 2x" src="./assets/img/temp/covers/1.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--default contacts bg-white" id="contacts">
    <div class="container">
      <div class="row justify-xl-between">
        <div class="section__header col-xs-12 col-xl-2">
          <h2 class="section__title section-title">Свяжитесь с&nbsp;нами!</h2>
        </div>

        <div class="col-xs-12 col-xl-9">
          <div class="contacts__list row justify-lg-between">
            {% for item in contacts %}
              <div class="contacts__item col-xs-12 col-md-6 {{ item.col }}">
                <div class="contact-card">
                  <i data-feather="{{ item.icon }}" class="contact-card__icon"></i>
                  <dl class="contact-card__body">
                    <dt class="contact-card__title">{{ item.title }}</dt>
                    <dd class="contact-card__info">
                      {% if item.text %}
                        {{ item.text }}

                        {% elseif item.email %}
                        <a href="mailto:{{ item.email }}" class="link-inherit link-underline">{{ item.email }}</a>

                        {% elseif item.phones %}
                        {% for phone in item.phones %}
                          <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a>{% if not loop.last %};<br>{% endif %}
                        {% endfor %}
                      {% endif %}
                    </dd>
                  </dl>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="contacts__map" id="map"></div>
  </div>

  <div class="section section--default organizations bg-dark-gray" id="organizations">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section-title">Юридические лица</h2>
        <p class="section__description">Раскрытие информации о юридических лицах, от имени которых осуществляются поставки товаров и услуг в рамках данного проекта.</p>
      </div>

      <div class="organizations__list row justify-xl-between">
        {% for item in organizations %}
          <div class="organizations__item col-xs-12 col-lg-6">
            <div class="organization card">
              <div class="organization__title text-lg">{{ item.title }}</div>
              <dl class="organization__details">
                {% for detail in item.details %}
                  <dt class="organization__details-label">{{ detail.label }}</dt>
                  <dd class="organization__details-data">{{ detail.data }}</dd>
                {% endfor %}
              </dl>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'sections/_feedback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <script>
     $(function() {
       ymaps.ready(function () {
         var myMap = new ymaps.Map('map', {
           center: [59.932761, 30.417917],
           zoom: 14,
           behaviors: ['default', 'scrollZoom'],
           controls: [],
         });

         var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {}, {
           iconLayout: 'default#image',
           iconImageHref: './assets/img/map-pin.svg',
           iconImageSize: [41, 49],
           iconImageOffset: [-20, -49],
         });
         myMap.geoObjects.add(myPlacemark);
       });
    });
  </script>
{% endblock %}