{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Доставка' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/2.jpg 1x, ./assets/img/temp/covers/2@2x.jpg 2x" src="./assets/img/temp/covers/2.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Получить заказанное оборудование можно несколькими способами:</h1>
      </div>
    </div>
  </div>

  <div class="section section--default features features--cards bg-white">
    <div class="container">
      <ol class="features__list features__list--ordered row">
        {% for item in delivery.options %}
          <li class="features__item col-xs-12 col-sm-6 col-md-4">
            <a href="#delivery-{{ loop.index }}" class="feature feature--option feature--option-center" data-scroll>
              <div class="feature__picture icon-square">
                <i data-feather="truck" class="icon-square__icon"></i>
              </div>
              <div class="feature__body">
                <h5 class="feature__title">{{ item.title }}</h5>
              </div>
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="service service--lg bg-dark-gray" id="delivery-1">
    <div class="container">
      <div class="service__row row justify-md-between align-md-center">
        <div class="service__body col-xs-12 col-md-7 col-lg-6">
          <div class="service__label label">СПОСОБ #1</div>

          <h3 class="service__title">Самовывоз из офиса-склада</h3>
          <p>Получив подтверждение о готовности вашего заказа к отгрузке, вы можете посетить наш <a href="#">офис-склад</a> в часы его работы и самостоятельно забрать его.</p>

          <div class="service__important">
            <h5 class="service__important-title">Для получения вам понадобится:</h5>
            <ul class="list-dot">
              <li>доверенность по форме М2;</li>
              <li>внутренний паспорт гражданина РФ.</li>
            </ul>
          </div>

          <p>При необходимости мы окажем вам услуги по дополнительной упаковке и погрузке оборудования.</p>
        </div>

        <div class="service__picture col-xs-12 col-md-5 col-lg-6">
          <img srcset="./assets/img/temp/services/delivery/1.jpg 1x, ./assets/img/temp/services/delivery/1@2x.jpg 2x" src="./assets/img/temp/services/delivery/1.jpg" alt="" class="service__img">
        </div>
      </div>
    </div>
  </div>

  <div class="service service--center service--full service--pattern has-pattern" id="delivery-2">
    <div class="pattern-chip-default"></div>

    <div class="container">
      <div class="service__body">
        <div class="service__label label">СПОСОБ #2</div>
        <h3 class="service__title">Отгрузка через ТК/ЭК/КК</h3>
        <p>Вы в любой момент до начала процесса отгрузки можете заказать доставку вашего заказа через транспортные, экспедиционные или курьерские компании.</p>
      </div>
    </div>
  </div>

  <div class="companies text-center">
    <div class="container">
      <h5 class="companies__title text-lg">Для этого у нас заключены прямые договоры с ведущими логистическими компаниями РФ:</h5>
      <ul class="companies__list row row--lg justify-md-center">
        {% for item in delivery.companies %}
          <li class="companies__item col-xs-12 col-sm-6 col-md-auto">
            <a href="#" class="company-card">
              <div class="company-card__picture">
                <img src="./assets/img/temp/delivery-companies/{{ item.image }}.svg" alt="" class="company-card__img">
              </div>
              <div class="company-card__title text-md">{{ item.title }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="delivery-types features features--cards has-pattern text-center">
    <div class="pattern-chip-default"></div>

    <div class="container">
      <h5 class="delivery-types__title text-lg">Таким образом, вы можете самостоятельно выбрать режим доставки:</h5>
      <ul class="features__list row">
        {% for item in delivery.types %}
          <li class="features__item col-xs-12 col-sm-6 col-md-4">
            <div class="feature feature--option feature--option-white feature--option-center">
              <div class="feature__picture icon-square">
                <i data-feather="{{ item.icon }}" class="icon-square__icon"></i>
              </div>
              <div class="feature__body">
                <h5 class="feature__title">{{ item.title }} <span class="feature__title-text">{{ item.text }}</span></h5>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <p>По вашему поручению мы оформим все необходимые документы и запустим процесс доставки.</p>
    </div>
  </div>

  <div class="service service--lg bg-dark-gray service--reversed" id="delivery-3">
    <div class="container">
      <div class="service__row row justify-md-between align-md-center">
        <div class="service__body col-xs-12 col-md-7 col-lg-6">
          <div class="service__label label">СПОСОБ #3</div>

          <h3 class="service__title">Используя вашу транспортную компанию</h3>
          <p>Вы можете использовать свою собственную транспортную или логистическую компанию для забора груза с территории нашего офиса-склада.</p>

          <div class="service__important">
            <h5 class="service__important-title">Для этого нам необходимо получить от вас:</h5>
            <ul class="list-dot">
              <li>доверенность на право забора вашего заказа указанной вами транспортной/ курьерской/ экспедиторской компанией.</li>
            </ul>
          </div>

          <p>При необходимости мы окажем вам услуги по дополнительной упаковке и погрузке оборудования.</p>
        </div>

        <div class="service__picture col-xs-12 col-md-5 col-lg-6">
          <img srcset="./assets/img/temp/services/delivery/3.jpg 1x, ./assets/img/temp/services/delivery/3@2x.jpg 2x" src="./assets/img/temp/services/delivery/3.jpg" alt="" class="service__img">
        </div>
      </div>
    </div>
  </div>

  <div class="delivery-features features features--cards has-pattern">
    <div class="pattern-chip-default"></div>

    <div class="container">
      <ul class="features__list row">
        {% for item in delivery.features %}
          <li class="features__item col-xs-12 col-lg-6">
            <div class="feature feature--option feature--option-white feature--option-stack">
              <div class="feature__picture">
                <i data-feather="{{ item.icon }}" class="feature__icon"></i>
              </div>
              <div class="feature__body">
                <h4 class="feature__title">{{ item.title }}</h4>
                {% if item.list %}
                  <ul class="feature__list">
                    {% for li in item.list %}
                      <li>{{ li }}</li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <p class="feature__text">{{ item.text }}</p>
                {% endif %}

                {% if item.note %}
                  <p class="feature__note">{{ item.note }}</p>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include 'sections/_help.twig' %}

  {% include 'sections/_feedback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}