{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Как оформить заказ' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/3.jpg 1x, ./assets/img/temp/covers/3@2x.jpg 2x" src="./assets/img/temp/covers/3.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Узнайте как оформить заказ</h1>
      </div>
    </div>
  </div>

  <div class="section section--default info bg-white">
    <div class="container">
      <div class="info__list row">
        {% for item in placeOrder.info %}
          <div class="info__item col-xs-12 col-md-6">
            <div class="info-card info-card--default">
              <h4 class="info-card__title">{{ item.title }}</h4>
              <p class="info-card__text">{{ item.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section account-features bg-dark-gray">
    <div class="container">
      <div class="row">
        <div class="account-features__content col-xs-12 col-lg-7">
          <h4 class="account-features__title">Пройдя полную регистрацию, в личном кабинете вы сможете:</h4>
          <ul class="account-features__list list-check">
            {% for item in placeOrder.accountFeatures %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <div class="account-features__action">
            <a href="#" class="account-features__button button button--white">
              <i data-feather="user-plus" class="button__icon"></i>
              <span class="button__text">Пройти регистрицию сейчас</span>
            </a>
          </div>
        </div>
        <div class="account-features__picture col-xs-12 col-lg-5">
          <img src="./assets/img/temp/account-features.svg" alt="" class="account-features__img">
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_request.twig' %}

  {% include 'sections/_help.twig' %}

  {% include 'sections/_feedback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}