{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

  {% include 'sections/_hero.twig' %}

  {% include 'sections/_catalog-menu.twig' %}

  {% include 'sections/_news-slider.twig' %}

  {% include 'sections/_choices.twig' %}

  {% include 'sections/_helpbar.twig' %}

  {% include 'sections/_overviews.twig' %}

  {% include 'sections/_blog-slider.twig' %}

  {% include 'sections/_catalog-slider.twig' with { sectionTitle: 'Ранее вы смотрели', clear: true } %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}