{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Заказ оформлен' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page completed-order">
    <div class="container">
      <div class="completed-order__body card card--border-primary text-md">
        <p><strong>Ваш заказ №1591941</strong> от <strong>15.09.2021 15:15:02</strong> успешно создан.</p>

        <p>Вы можете следить за выполнением своего заказа в <a href="account.html" class="link-underline">Персональном разделе сайта</a>. Обратите внимание, что для входа в этот раздел вам необходимо будет авторизоваться, по указанному в заказе номеру телефона</p>

        <dl class="completed-order__details dl-inline">
          {% for item in order %}
            <dt class="completed-order__details-label {% if item.accent %}is-accented{% endif %}">{{ item.label }}:</dt>
            <dd class="completed-order__details-data {% if item.accent %}is-accented{% endif %}">{{ item.data }}</dd>
          {% endfor %}
        </dl>

        <div class="completed-order__footer">
          <a href="catalog.html" class="completed-order__button button button--secondary">Вернуться в каталог</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}