{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Оплата' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/4.jpg 1x, ./assets/img/temp/covers/4@2x.jpg 2x" src="./assets/img/temp/covers/4.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">Оплатить заказ можно любым удобным для вас способом:</h1>
      </div>
    </div>
  </div>

  {% include 'sections/_services.twig' with { list: payment.services, folder: 'payment' } %}

  {% include 'sections/_help.twig' %}

  {% include 'sections/_feedback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}