{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Производство' %}

{% block content %}

  <div class="page-header page-header--cover">
    <img srcset="./assets/img/temp/covers/5.jpg 1x, ./assets/img/temp/covers/5@2x.jpg 2x" src="./assets/img/temp/covers/5.jpg" alt="" class="page-header__bg-img">

    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title page-header__title--md">Более 10 лет мы успешно помогаем реализовать проекты различной сложности</h1>
      </div>
    </div>
  </div>

  <div class="section section--default fields bg-white">
    <div class="container">
      <h3 class="fields__title">С момента основания мы с успехом занимаемся:</h3>
      <ul class="fields__list row justify-lg-between">
        {% for item in production.fields %}
          <li class="fields__item col-xs-12 col-lg-6">
            <div class="feature feature--card">
              <div class="feature__picture icon-square">
                {{ svg.icon(item.icon, 'icon-square__icon') }}
              </div>
              <div class="feature__body">
                <h5 class="feature__title">{{ item.title }}</h5>
                <p class="feature__text">{{ item.text }}</p>
              </div>
            </div>
          </li>
        {% endfor %}

        <li class="fields__item col-xs-12 col-lg-6">
          <div class="feature feature--help">
            <div class="feature__picture">
              <img src="./assets/img/robot.svg" alt="" class="feature__img">
            </div>
            <div class="feature__body">
              <h5 class="feature__title">Хотите узнать больше?</h5>
              <p class="feature__text text-md">
                <a href="{{ company.phone.link }}" class="link-hidden">{{ company.phone.number }}</a>
              </p>
              <div class="feature__action">
                <a href="#" class="feature__button button button--outline-light">
                  <i data-feather="smartphone" class="button__icon"></i>
                  <span class="button__text">Заказать звонок</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="section section--default areas bg-dark-gray">
    <div class="areas__pattern pattern-chip-dark-gray"></div>

    <div class="container">
      <h3 class="areas__title">В нашей компетенции:</h3>
      <ul class="areas__list row justify-lg-between">
        {% for item in production.areas %}
          <li class="areas__item col-xs-12 col-md-6 col-lg-4">
            <div class="feature feature--check">
              <i data-feather="check" class="feature__icon"></i>
              <div class="feature__body">
                <h5 class="feature__title">{{ item.title }}</h5>
                <p class="feature__text">{{ item.text }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include 'sections/_services.twig' with { list: production.services, folder: 'production' } %}

  {% include 'sections/_callback.twig' %}

  {% include 'sections/_help.twig' %}

  {% include 'sections/_feedback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}