{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = '2ТРМ0 двухканальный измеритель с универсальным входом' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог продукции</a></li>
          <li class="breadcrumb__item"><a href="catalog-category.html" class="breadcrumb__link">Контрольно-измерительные приборы</a></li>
          <li class="breadcrumb__item"><a href="catalog-section.html" class="breadcrumb__link">Измерители-регуляторы</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <div class="page-header__headline">
        <h1 class="page-header__title">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--page">
    <div class="product">
      <div class="container">
        <div class="product__card section section--standart">
          <div class="product__header card">
            <div class=" row row--xl">
              <div class="product__header-item col order-xs-first order-md-initial">
                <div class="product__rating rating">
                  <span class="rating__rating-stars rating-stars rating-stars--primary" data-rate="3">
                    {% for i in 1..5 %}
                      {{ svg.icon('star-fill', 'rating-stars__star') }}
                    {% endfor %}
                  </span>
                  <a href="#reviews" class="rating__count text-md link-primary" data-element="tab-trigger" data-scroll>3 отзыва</a>
                </div>
              </div>

              <div class="product__header-item col">
                <ul class="product__menu text-md row row--xl">
                  {% for item in product.menu %}
                    <li class="product__menu-item col">
                      <a href="#{{ item.id }}" class="product__menu-link link-inherit" data-element="tab-trigger" data-scroll>
                        <i data-feather="{{ item.icon }}" class="product__menu-icon"></i>
                        {{ item.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="product__header-item col ml-xs-auto order-xs-first order-md-initial">
                <div class="product__code text-md">Артикул: 1384631</div>
              </div>
            </div>
          </div>

          <div class="product__body row">
            <div class="product__media col-xs-12 col-lg-6">
              <div class="product__thumbs swiper" data-slider="product-thumbs">
                <div class="swiper-wrapper">
                  {% for i in 1..5 %}
                    <div class="product__thumbs-item swiper-slide">
                      <img srcset="/assets/img/temp/product/sm/{{ i }}.png 1x, /assets/img/temp/product/sm/{{ i }}@2x.png 2x" src="/assets/img/temp/product/sm/{{ i }}.png" alt="" class="product__thumbs-img">
                    </div>
                  {% endfor %}
                  <div class="product__thumbs-item swiper-slide">
                    {{ svg.icon('youtube-button', 'product__video-icon') }}
                  </div>
                </div>
              </div>

              <div class="product__picture">
                <div class="product__slider swiper" data-slider="product">
                  <div class="swiper-wrapper">
                    {% for i in 1..5 %}
                      <div class="product__slider-item swiper-slide">
                        <a href="/assets/img/temp/product/lg/1.png" class="product__slider-link" data-element="gallery-trigger">
                          <img srcset="/assets/img/temp/product/lg/1.png 1x, /assets/img/temp/product/lg/1@2x.png 2x" src="/assets/img/temp/product/lg/1.png" alt="" class="product__slider-img">
                        </a>
                      </div>
                    {% endfor %}
                    <div class="product__slider-item swiper-slide">
                      {{ svg.icon('youtube-button', 'product__video-icon product__video-icon--lg') }}
                    </div>
                  </div>
                </div>

                <div class="product__controls">
                  <button class="product__control control control--lg {% if favActive %}is-active{% endif %}" title="В избранное" data-element="control">
                    <i data-feather="heart" class="control__icon"></i>
                  </button>
                  <button class="product__control control control--lg" title="Сравнить">
                    <i data-feather="bar-chart-2" class="control__icon"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="product__content col-xs-12 col-lg-6">
              <div class="product__option text-md collapsible is-collapsed" data-component="collapsible">
                <a href="#" class="product__option-link link-inherit collapsible__toggle" data-element="collapsible-toggle">
                  <i data-feather="help-circle" class="product__option-icon collapsible__toggle-icon" data-off="true"></i>
                  <i data-feather="x-circle" class="product__option-icon collapsible__toggle-icon" data-on="true"></i>
                  <span class="link-pseudo" data-element="collapsible-toggle-text" data-text-on="Скрыть" data-text-off="Описание модификаций">Описание модификаций</span>
                </a>
                <div class="product__option-content collapsible__content" data-element="collapsible-content">
                  {#<img srcset="/assets/img/temp/product/modifications.png 1x, /assets/img/temp/product/modifications@2x.png 2x" src="/assets/img/temp/product/modifications.png" alt="" class="product__option-img">#}
                  <img src="/assets/img/temp/product/modifications-2.png" alt="" class="product__option-img">
                </div>
              </div>

              <div class="product__sticky-section">
                <form class="product__search form">
                  <div class="form__group">
                    <div class="form__field form__field--icon-right">
                      <input type="text" class="form__input" placeholder="Поиск по названию" data-inputmask="'mask': '* ДТС* *5-.* *.* **'" data-mask="custom">
                      <i data-feather="search" class="form__field-icon"></i>
                      <span class="form__field-result text-md is-hidden">Найдено 231</span>
                    </div>
                  </div>
                </form>

                <form class="product__search form">
                  <div class="form__group">
                    <div class="form__field form__field--icon-right form__field--result-right">
                      <input type="text" class="form__input" placeholder="Поиск по названию" value="2ТРМ151-Н">
                      <i data-feather="search" class="form__field-icon is-hidden"></i>
                      <span class="form__field-result text-md">Найдено 231</span>
                    </div>
                  </div>
                </form>

                {% include 'partials/_product-variants.twig' with { class: 'product__variants', list: product.variants } %}

                <div class="product__order">
                  <button class="product__order-button button button--secondary" data-mfp-src="#modal-in-cart" data-element="modal-trigger">
                    <i data-feather="shopping-cart" class="button__icon"></i>
                    <span>Добавить в корзину</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      {% include 'sections/_helpbar.twig' with { sectionClass: 'section--standart'} %}

      <div class="product__tabs tabs tabs--default" data-component="tabs">
        <div class="container">
          <ul class="tabs__list row row--compact text-md justify-xs-between">
            {% for tab in product.tabs %}
              <li class="tabs__item col">
                <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
                  {% if tab.icon %}
                    <i data-feather="{{ tab.icon }}" class="tabs__link-icon"></i>
                  {% endif %}
                  {{ tab.name }}
                  {% if tab.count %}
                    <span class="tabs__link-count">{{ tab.count }}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="tabs__content">
            {% for tab in product.tabs %}
              <div class="tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
                {% if tab.id == "description" %}
                  {% include 'partials/_product-tab-description.twig' %}

                  {% elseif tab.id == "reviews" %}
                  {% include 'partials/_product-tab-reviews.twig' %}

                  {% else %}

                  <div class="content-block card">
                    <h4 class="content-block__title">{{ tab.name }}</h4>
                    <div class="content-block__text text-block text-md">
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% include 'sections/_catalog-slider.twig' with { sectionClass: 'section--compact', sectionTitle: 'Сопутствующие товары', clear: true } %}

    {% include 'sections/_catalog-slider.twig' with { sectionClass: 'section--compact', sectionTitle: 'Просмотренные ранее товары', clear: true } %}
  </div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}