.amount-form {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: rem(82px);
    text-align: center;
    background-color: $gray-100;
    border-radius: rem(1px);

    &__control {
        @include size(rem(25px));
        background-color: $white;
        border: 1px solid $gray-100;
        box-shadow: 0 1px 1px rgba(#1b1f23, 0.05), inset 0 1px 0 rgba($white, 0.25);
        border-radius: rem(2px);
    }

    &__icon {
        display: block;
        @include size(rem(13px));
        margin: auto;
        pointer-events: none;
    }

    &__input {
        letter-spacing: .009em;
        border: 0;
        background: none;
        @include font($font-size-md, $line-height-md2);
        text-align: center;
        width: rem(30px);
        height: rem(25px);
        background: none;
        border: 0;
        padding: 0;
        box-shadow: none;
    }
}