.form-file {
    position: relative;
    margin-top: rem($gutter * .5);
    margin-bottom: rem($gutter * .5);
    padding-top: rem($gutter * .5 - 1);
    border-top: 1px solid $gray-200;
    color: $gray-500;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        display: flex;
        align-items: center;

        @include hover-focus {
            color: $link-hover-color;
        }
    }

    &__icon {
        @include size(rem($spacer-4));
        margin-right: rem($spacer-3 * .5);
    }

    @include media-breakpoint-up(sm) {
    }
}
