.form {
    &__fieldset {
        margin-bottom: rem($form-legend-margin-bottom);
        border-bottom: 1px solid $gray-200;

        &:last-child {
            margin-bottom: 0;
            border-bottom-width: 0;
        }
    }

    &__legend {
        margin-bottom: rem($form-legend-margin-bottom);
        color: $secondary;
    }

    &__group {
        position: relative;
        margin-bottom: rem($form-group-margin-bottom);

        &--sm {
            margin-bottom: rem($form-group-margin-bottom-sm);
        }

        &--lg {
            margin-bottom: rem($form-group-margin-bottom-lg);
        }

        &--compact {
            margin-bottom: 0;
        }

        &--inline {
            display: flex;
            align-items: baseline;

            .form__label {
                margin-right: rem($spacer);
                margin-bottom: 0;
            }

            .form__field {
                flex: 1;
            }
        }
    }

    &__match {
        margin-top: rem($form-group-margin-bottom);

        .form__label {
            margin-bottom: rem($gutter * .5);
        }
    }

    &__field {
        position: relative;
        display: flex;

        .form__input {
            flex: 1;
        }

        &-icon {
            @include size(rem($input-icon-size));
            color: $input-color;
            position: absolute;
            top: 50%;
            transform: translateY(-52%);
            z-index: 1;
            cursor: pointer;
            transition: .2s ease-in-out;

            &--muted {
                color: $gray-300;

                @include hover-focus {
                    color: $input-color;
                }
            }
        }

        &-button {
            position: absolute;
            top: 0;
            bottom: 0;
            border-color: $gray-300;
            width: rem($btn-height);
            padding-left: 0;
            padding-right: 0;
            color: $gray-400;

            @include hover-focus {
                color: $base-color;
            }
        }

        &-result {
            position: absolute;
            top: 50%;
            transform: translateY(-52%);
            z-index: 1;
            width: rem(130px);
            font-weight: $font-weight-medium;
            color: $gray-500;
            text-align: right;
        }

        &.form__input {
            height: auto;
            display: block;
        }

        &--icon-right {
            .form__input {
                padding-right: rem($input-icon-offset);
            }
        }

        &--icon-right & {
            &-icon {
                right: rem($input-padding-x);
            }
        }

        &--icon-left {
            .form__input {
                padding-left: rem($input-icon-offset);
            }
        }

        &--icon-left & {
            &-icon {
                left: rem($input-padding-x);
            }
        }

        &--button-right {
            .form__input {
                padding-right: rem($btn-height + $input-padding-x);
            }
        }

        &--button-right & {
            &-button {
                right: 0;
            }
        }

        &--result-right {
            .form__input {
                padding-right: rem(120px + $input-icon-offset);
            }
        }

        &--result-right & {
            &-result {
                right: rem($input-padding-x);
            }
        }

        @include field-sizes();
    }

    &__label {
        display: block;
        line-height: 1;
        margin-bottom: rem($spacer-2);

        .form__group.is-required &[for] {
            &:after {
                content: "*";
                color: $red-200;
            }
        }
    }

    &__submit {
        &-link {
            display: inline-block;
            margin-top: rem($spacer-3);
        }
    }

    &__button:not(.button--block) {
        width: 100%;
    }

    &__note {
        margin-top: rem($spacer-6);
        opacity: .6;
    }

    &__errors-list {
        position: absolute;
        top: 100%;
        left: 0;
        color: $error;
        @include font($font-size-md, $font-size-md);

        &:empty {
            display: none;
        }
    }

    &__error {
        margin-top: rem($spacer);
    }

    &__rating {
        &-label,
        &-stars {
            vertical-align: middle;
        }

        &-label {
            margin-right: rem(10px);
        }
    }

    &__dropzone {
        .form__input & {
            margin-bottom: rem(- $gutter * .5);
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(md) {
        &__button:not(.button--block) {
            width: auto;
        }

        &__match-group {
            position: relative;
        }

        &__match {
            margin-top: 0;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            margin-left: rem($gutter);
        }
    }

    @include media-breakpoint-up(md) {
    }
}