.switch {
    position: relative;
    display: flex;
    align-items: center;

    &__input,
    &__toggle {
        position: relative;
        @include size(rem($spacer-10), rem($spacer-6));
    }

    &__input {
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        margin-right: rem(- $spacer-10);
        order: 2;

        &:checked {
            z-index: 1;
        }
    }

    &__label {
        display: block;
        cursor: pointer;
        transition: 0.25s ease color;
        order: 1;
        margin-right: auto;
        color: $gray-400;
    }

    &__toggle {
        transition: 0.25s ease all;
        background-color: $gray-300;
        border-radius: $border-radius-xl;
        order: 3;

        &:before {
            content: '';
            position: absolute;
            @include size ($spacer-4);
            @include rounded;
            top: rem($spacer);
            left: rem($spacer);
            background-color: $white;
            transition: 0.25s ease all;
        }
    }

    &__input:checked + &__label {
        color: $gray-600;
    }

    &__input:checked ~ &__toggle {
        background-color: $primary;

        &:before {
            left: rem($spacer-5);
        }
    }
}