.account {
    &__card {
        padding: rem($spacer-6 $spacer-5 $spacer-6 $spacer-6);
        @include margin-bottom(rem($spacer-8));
    }

    &__description {
        border-top: 1px solid $gray-200;
        padding-top: rem($gutter * .5);
        @include margin-bottom(rem($spacer-8));

        b,
        strong {
            font-weight: $font-weight-medium;
        }
    }

    &__form {
        margin-bottom: rem(- $form-fieldset-margin-bottom);

        &-footer {
            background-color: $white;
            box-shadow: 0 0 2px rgba(#28293D, 0.02), 0 -2px 4px rgba(#606170, 0.05);
            padding: rem($spacer-4 $spacer-6);

            .account__card & {
                margin: rem(0 (-$spacer-6) (-$spacer-6));
            }

            .account__company & {
                margin: rem(0 (-$spacer-7) (-$spacer-6) (-$spacer-6));
            }
        }
    }

    &__button {
        min-width: rem(206px);
    }

    &__companies {
        letter-spacing: .0.114em;
        @include margin-bottom(rem(48px));

        &-title {
            margin-bottom: rem($spacer-3);
            color: $gray-600;
        }

        &-list {
            @include list-unstyled;
        }

        &-item {
            @include margin-bottom(rem($spacer-2));
        }
    }

    &__company {
        padding: rem($spacer-6 $spacer-7 $spacer-6 $spacer-6);

        &-header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            @include margin-bottom(rem($spacer-8));
        }

        &-name {
            font-weight: $font-weight-medium;
            margin-right: rem($gutter);
        }

        &-label {
            color: $base-color;
        }

        &-option {
            color: $primary;

            &-text {
                border-bottom: 1px solid;
            }

            &-icon {
                @include size(rem($spacer-4));
                margin-left: rem($spacer);
            }
        }

        &-add {
            display: block;
            background-color: $gray-50;
            border: 1px dashed $base-color;
            border-radius: $border-radius * .5;
            color: $primary;
            font-weight: $font-weight-medium;
            padding: rem($spacer-6);
            text-align: center;

            &-icon {
                @include size(rem($spacer-4));
                margin-right: rem($spacer-2);
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}