.account-features {

    &__content {
        padding-top: rem(48px);
        padding-bottom: rem(48px);
    }

    &__title {
        margin-bottom: rem($spacer-6);
    }

    &__list {
        color: $gray-300;

        > li {
            &:before {
                @include background-svg("<svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M15.53 3.97a.75.75 0 0 1 0 1.06l-8.25 8.25a.75.75 0 0 1-1.06 0L2.47 9.53a.75.75 0 0 1 1.06-1.06l3.22 3.22 7.72-7.72a.75.75 0 0 1 1.06 0Z' fill='#{$gray-300}'/></svg>");
            }
        }
    }

    &__action {
        margin-top: rem($spacer-10);
    }

    &__button {
        padding-left: rem($spacer-6);
        padding-right: rem($spacer-6);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(- $gutter * .5);
    }

    @include media-breakpoint-up(md) {
        &__list {
            columns: 2;
            column-gap: rem($gutter);
            margin-bottom: rem(- $spacer-6);

            > li {
                display: inline-block;
                width: 100%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            column-gap: rem(56px);
        }

        &__picture {
            align-self: flex-end;
        }

        &__img {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}