.areas {
    position: relative;
    z-index: 1;

    &__title {
        margin-bottom: rem($spacer-10);
    }

    &__list {
        @include list-unstyled;
        margin-bottom: rem(- $spacer-10);
    }

    &__item {
        margin-bottom: rem(48px);
    }

    @include media-breakpoint-up(xl) {
    }
}