.article {
    &__body {
        padding: rem($spacer-6 $gutter);
    }

    &__header {
        border-bottom: 1px solid $gray-200;
        padding-bottom: rem($spacer-3);
        margin-bottom: rem($spacer-8);

        &-item {
            margin-bottom: rem($spacer-2);
        }
    }

    &__meta {
        color: $gray-600;
        display: flex;
        align-items: center;
        white-space: nowrap;

        &-icon {
            @include size(rem($spacer-4));
            margin-right: rem($spacer-2);
        }
    }

    &__content {
        p,
        ul,
        ol {
            max-width: rem(720px);
            @include margin-bottom(1em);
        }
    }

    &__footer {
        border-top: 1px solid $gray-200;
        padding-top: rem($spacer-6);
        margin-top: rem(68px);
    }

    &__tags {
        display: flex;
        align-items: flex-start;

        &-icon {
            @include size(rem($spacer-4));
            margin-top: rem(( $spacer-6 - $spacer-4) * .5);
            margin-right: rem($spacer-4);
        }

        .tag {
            color: $gray-600;
        }
    }

    &__aside {
        margin-top: rem($spacer-10);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        &__body {
            padding: rem($spacer-10 $spacer-6 $spacer-6 $spacer-8);
        }

        &__aside {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}