.blog {
    &__filter {
        margin-bottom: rem(44px);
    }

    &__list {
        margin-bottom: rem( - $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    &__pagination {
        margin-top: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}