.callback {
    position: relative;
    padding-top: rem($section-offset);
    padding-bottom: rem($section-offset);
    text-align: center;
    z-index: 1;

    &__header {
        margin-bottom: rem($spacer-8);
    }

    &__title {
        margin-bottom: rem($spacer-2);
    }

    &__form {
        max-width: rem(312px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    &.bg-primary &,
    &.bg-dark-gray & {
        &__title {
            color: $white;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}