.cart {
    margin-bottom: rem(100px);

    &__list {
        margin-bottom: rem($spacer-10);
    }

    &__item {
        margin-bottom: rem($spacer-2);
    }

    &__checkout {
        padding: rem(44px $spacer-5 $spacer-9 $spacer-5);
    }

    &__total {
        display: flex;
        align-items: baseline;
        font-weight: $font-weight-medium;
        margin-bottom: rem($spacer-7);
        color: $primary;

        &-label {
            margin-right: rem($gutter);
        }

        &-sum {
            margin-left: auto;
        }
    }

    &__discount {
        display: flex;
        align-items: center;
        background-color: $body-bg;
        padding: rem($spacer-3 $spacer-5 $gutter * .5 $spacer-6);
        color: $black;
        margin-bottom: rem($spacer-5);

        &-number {
            @include font(38px, 38.01px, $font-weight-medium);
            margin-right: rem($spacer-3);
        }

        &-text {
            @include em-line-height($font-size-sm, $line-height-md2);
            letter-spacing: .013em;
        }
    }

    &__button {
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);
    }

    &__button + &__button {
        margin-top: rem(15px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(172px);
    }

    @include media-breakpoint-up(xl) {
    }
}