.catalog-menu {

    &__section {
        border-bottom: 1px solid $gray-200;
        padding-bottom: rem($spacer-5);
        margin-bottom: rem($spacer-5);

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom-width: 0;
        }

        &-title {
            margin-bottom: rem($spacer-4);
            padding-right: rem($spacer-2);
            letter-spacing: .0114em;
            display: flex;
            align-items: flex-start;
            transition: .25s ease-in-out;

            .catalog-menu__section.is-collapsed & {
                margin-bottom: 0;
            }
        }

        &-toggle {
            margin-left: auto;
            color: $gray-700;
            @include size(rem($spacer-6));
            margin-top: rem(-2px);
            transform: rotate(-180deg);
            transition: transform .25s linear;

            .catalog-menu__section.is-collapsed & {
                transform: rotate(0);
            }
        }
    }

    &__list {
        @include list-unstyled;
        color: $gray-600;
    }

    &__item {
        margin-bottom: rem($spacer-3);
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem($spacer-7);
        padding-bottom: rem($spacer-9);

        &__section {
            width: 20%;
            flex: 0 0 20%;
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;

            &-title {
                display: block;
                min-height: ($line-height-md / $font-size-md) * 2em;
                margin-bottom: rem($spacer-6);
                padding-right: 0;
                letter-spacing: .0114em;

                .catalog-menu__section.is-collapsed & {
                    margin-bottom: rem($spacer-6);
                }
            }

            &-toggle {
                display: none;
            }
        }

        &__list {
            max-height: none !important;
            overflow: visible;
            opacity: 1;
            visibility: visible;
        }

        &__item {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}