.catalog {
    &__section {
        @include margin-bottom(rem(30px));
    }

    &__item {
        margin-bottom: rem(25px);
    }

    @include media-breakpoint-down(lg) {
        &__item {
            //width: 100%;
            //max-width: rem(305px);
        }
    }

    @include media-breakpoint-up(md) {
        .swiper-pagination {
            display: none;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}