.checkout {
    color: $secondary;

    &__section {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 4px rgba(#131655, 0.03), 0 1px 1px rgba(#090D4B, 0.05), inset 0 2px 0 $primary;
        margin-bottom: rem($spacer-7);

        &-header {
            display: flex;
            align-items: baseline;
            padding: rem($spacer-8 $spacer-6);
            cursor: default;
        }

        &-title {
            margin-bottom: 0;
            padding-right: rem($gutter);
        }

        &-edit {
            display: none;
            color: $gray-500;
            font-weight: $font-weight-medium;
            text-decoration: underline;
            margin-left: auto;

            @include hover-focus {
                text-decoration: underline;
            }

            .is-filled & {
                display: block;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-6);
        }

        &-footer {
            display: flex;
            margin-top: auto;
            padding-top: rem($spacer-8);
            padding-bottom: rem($spacer-8);
            max-width: rem(392px);
        }

        &-content {
            background-color: $body-bg;
            border-radius: $border-radius;
            padding: rem($spacer-4);
        }

        &-subtitle {
            margin-bottom: 1em;
            color: inherit;
            font-weight: $font-weight-bold;
        }

        &.is-collapsed {
            min-height: 0;
        }
    }

    &__location-form {
        margin-top: rem($spacer-2);
        margin-bottom: rem(- $spacer-6);
    }

    &__button {
        flex: 1;

        &--next {
            max-width: rem(203px);
        }

        &--back {
            max-width: rem(157px);
        }
    }

    &__button + &__button {
        margin-left: rem(18px);
    }

    &__order {
        padding: rem(34px $spacer-6 $spacer-7);
        margin-bottom: rem($spacer-6);

        &-title {
            margin-bottom: rem($spacer-5);
        }
    }

    &__detail {
        border-bottom: 1px solid $gray-150;
        padding-bottom: rem($spacer-4);
        margin-bottom: rem($spacer-4);
        letter-spacing: .0114em;

        &:first-child {
            border-bottom-width: 0;
            padding-bottom: 0;
        }

        b,
        strong,
        &-label {
            color: $base-color;
            font-weight: $font-weight-medium;
        }

        &-label {
            margin-bottom: rem($spacer);
        }

        &--inline {
            display: flex;
            align-items: flex-start;

            .checkout__detail-label {
                margin-bottom: 0;
            }

            .checkout__detail-data {
                margin-left: auto;
                padding-left: rem($gutter);
            }
        }
    }

    &__total {
        display: flex;
        align-items: baseline;
        font-weight: $font-weight-medium;
        margin-top: rem($spacer-6);
        color: $primary;

        &-label {
            margin-right: rem($gutter);
        }

        &-sum {
            margin-left: auto;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(172px);
    }

    @include media-breakpoint-up(xl) {
    }
}