.choices {
    &.section--preview {
        //padding-top: rem(42px);
        //padding-bottom: rem(64px);
    }

    &__slider {
        margin-left: rem(- $gutter);
        margin-right: rem(- $gutter);
    }

    @include media-breakpoint-up(sm) {
        &__slider {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}