.companies {
    padding-top: rem(64px);
    padding-bottom: rem($section-offset);
    background-color: $gray-50;
    border: 1px solid $gray-200;
    border-width: 1px 0;

    &__title {
        margin-bottom: rem($spacer-8);
    }

    &__list {
        @include list-unstyled;
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
        &__item {
            width: rem(312px);
            flex: 0 0 rem(312px);
        }
    }
}