.completed-order {
    letter-spacing: .0114em;
    color: $secondary;

    &__body {
        padding: rem($spacer-7);

        &:before {
            left: rem(68px);
        }
    }

    &__details {
        &-label {
            font-weight: $font-weight-bold;

            &:before {
                font-size: rem(6px) !important;
            }
        }

        &-label,
        &-data {
            &.is-accented {
                color: $base-color;
            }
        }

        &-data {
            &.is-accented {
                font-weight: $font-weight-bold;
            }
        }
    }

    &__footer {
        margin-top: 1em;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}