.compare {
    .swiper-button-next,
    .swiper-button-prev {
        top: rem(144px);
        margin-top: 0;
    }

    @include media-breakpoint-up(md) {
        .swiper-button-next,
        .swiper-button-prev {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        .swiper-pagination {
            display: none;
        }
    }
}