.contacts {
    padding-bottom: 0;

    &__list {
        margin-bottom: rem($gutter * .5);
    }

    &__item {
        margin-bottom: rem($spacer-10);
    }

    &__map {
        height: rem(308px);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}