.customers {
    &__list {
        @include list-unstyled;
        margin-top: rem(56px);
        margin-bottom: rem(- $spacer-10);
        counter-reset: customers-counter;

        &:first-child {
            margin-top: 0;
        }
    }

    &__item {
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(xl) {
    }
}