.faq {
    &__title {
        color: $base-color;
        margin-bottom: rem($spacer-6);
    }

    &__section {
        @include margin-bottom(rem($spacer-8));

        &-title {
            color: $base-color;
            margin-bottom: rem($spacer-4);
        }
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        border-bottom: 1px solid $gray-200;
        color: $gray-600;

        &:first-child {
            border-top: 1px solid $gray-200;
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: rem($spacer-4);
            padding-bottom: rem($spacer-5);
        }

        &-toggle {
            display: block;
            @include size(rem($spacer-6));
            margin-left: rem($spacer-5);
            color: $gray-400;
            transition: transform .25s ease-in-out;
            transform: rotate(0);

            .is-collapsed & {
                transform: rotate(180deg);
            }
        }

        &-body {
            padding-right: rem($spacer-6);
            margin-bottom: rem($spacer-6);

            .is-collapsed & {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}