.features {
    &__list {
        @include list-unstyled;
        margin-bottom: rem(-64px);

        &--ordered {
            counter-reset: features-counter;
        }
    }

    &__item {
        margin-bottom: rem(64px);
    }

    &--cards & {
        &__list {
            @include margin-bottom(rem($spacer-4), rem(- $spacer-6));
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}