.feedback {
    &__subtitle {
        font-weight: $font-weight-normal;
        @include em-line-height($font-size-h4, 25.01px);
        margin-bottom: rem($spacer);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}