.fields {
    &__title {
        margin-bottom: rem($spacer-10);
    }

    &__list {
        @include list-unstyled;
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(xl) {
    }
}