.helpbar {
    padding-top: rem($spacer-6);
    padding-bottom: rem($spacer-6);
    box-shadow: 0 2px 4px rgba(#28293d, 0.04), 0 8px 16px rgba(#606170, 0.16);

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: 0;
        color: $white;
    }

    &__img {
        width: rem(125px);
        flex: 0 0 rem(125px);
        margin-right: rem($spacer-6);
    }

    &__body {
        flex: 1;
    }

    &__contact {
        &--button {
            width: 100%;
        }
    }

    &__button {
        margin-top: rem($spacer-4);
        white-space: nowrap;
    }

    @include media-breakpoint-up(md) {
        &__header {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__contact {
            &--button {
                width: auto;
            }
        }

        &__button {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        &__header {
            &:after {
                position: relative;
                top: rem(-5px);
                color: $gray-500;
                content: '/';
                font-size: rem(56px);
                font-weight: $font-weight-thin;
                margin-left: auto;
                margin-right: rem($spacer-7);
            }
        }
    }
}