.help {
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(#28293D, 0.04), 0 16px 24px rgba(#606170, 0.16);
    padding-bottom: rem($spacer-8);

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-top: rem($spacer-8);
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 0;

        &__item {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}