$hero-title-font: (
    xs: (34px, 34px, $font-weight-bold),
    lg: (64px),
) !default;

.hero {
    padding-top: rem($spacer-6);
    padding-bottom: rem($spacer-10);
    margin-top: rem($spacer);
    text-align: center;
    color: $white;
    position: relative;
    z-index: 1;

    &__pattern {
        top: rem(10px);
        bottom: 0;
    }

    &__header {
        margin-bottom: rem(44px);
    }

    &__title {
        @include type-responsive($hero-title-font);
        margin-bottom: rem(2px);
        color: inherit;
    }

    &__description {
        color: inherit;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(72px);
        padding-bottom: rem(80px);

        &__header {
            margin-bottom: rem(30px);
        }

        &__title {
            margin-bottom: rem(-2px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}