.image-intro {
    &__picture {
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: 1;
            background-color: $gray-500;
            mix-blend-mode: color;
            opacity: 0.4;
        }

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            height: rem(174px);
            background: linear-gradient(180deg, rgba($gray-800, 0) 0%, $gray-800 100%);
            z-index: 2;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__container {
        position: relative;
        margin-top: rem(-80px);
        z-index: 3;
    }

    &__title {
        margin-bottom: rem($spacer-9);
        text-transform: uppercase;
        letter-spacing: .0625em;
        color: inherit;
    }

    @include media-breakpoint-up(lg) {
        &__container {
            margin-top: rem(-152px);
            padding-bottom: rem(88px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}