.info {
    &__list {
        margin-bottom: rem(- $spacer-10);
    }

    &__item {
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(120px);
        padding-bottom: rem(130px);
    }
}