.key-figures {
    &__stats {
        @include margin-bottom(rem(88px));
    }

    &__facts {
        margin-bottom: rem($gutter * .5);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}