.news {
    &.section--preview {
        padding-top: rem($spacer-8);
        padding-bottom: rem($spacer-8);
    }

    &__slider {
        margin-left: rem(- $gutter);
        margin-right: rem(- $gutter);
    }

    @include media-breakpoint-up(sm) {
        &__slider {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(md) {
        .swiper-pagination {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        &.section--preview {
            padding-top: rem(72px);
            padding-bottom: rem(72px);
        }
    }
}