.organizations {
    color: $white;

    &__list {
        margin-bottom: rem(- $spacer-10);
    }

    &__item {
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}