.product-reviews {
    &.section--preview {
        //padding-top: rem(42px);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}