.page-header {
    margin-bottom: rem($spacer-8);

    &__container {
        padding-top: rem($spacer-8);
    }

    &__headline {
        border-bottom: 1px solid $gray-250;
        padding-bottom: rem($spacer-4);
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &__title {
        margin-bottom: 0;
        margin-right: rem($spacer-7);

        &:last-child {
            margin-right: 0;
        }
    }

    &__badge {
        display: inline-block;
        vertical-align: top;
        @include size(rem(18px));
        @include rounded;
        background-color: $primary;
        color: $white;
        text-align: center;
        @include font($font-size-sm, 18.01px, $font-weight-medium);
        margin-top: rem($spacer-2);
    }

    &--compact {
        margin-bottom: rem($spacer-6);
    }

    &--compact & {
        &__headline {
            border-bottom-width: 0;
            padding-bottom: 0;
        }
    }

    &--cover {
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: $white;
        min-height: rem(318px);
        display: flex;
        align-items: flex-end;
        margin-bottom: 0;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: -1;
            background: linear-gradient(180deg, rgba(24, 30, 45, 0.4) 0%, #191E2E 100%);
        }
    }

    &--cover & {
        &__bg-img {
            @extend %cover-image;
            z-index: -2;
            filter: saturate(0);
        }

        &__container {
            position: relative;
            padding-top: rem(70px);
            padding-bottom: rem(70px);

            &:after {
                position: absolute;
                bottom: 0;
                left: rem(13px);
                @include size(0);
                pointer-events: none;
                border: 13px solid rgba($white, 0);
                border-bottom-color: $white;
                content: '';
            }
        }

        &__headline {
            display: block;
            border-bottom: 0;
            padding-bottom: 0;
        }

        &__title {
            color: inherit;
            max-width: rem(665px);
            margin-right: 0;

            &--md {
                max-width: rem(700px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__container {
            padding-top: rem($spacer-10);
        }
    }
}