.page-menu {
    padding-top: rem(25px);
    padding-bottom: rem(25px);
    color: $gray-200;
    border: 1px solid $gray-500;
    box-shadow: 0 2px 8px rgba(#28293D, 0.04), 0 16px 24px rgba(#606170, 0.16);

    &__list {
        overflow: visible;
    }

    &__item {
        position: static;
        width: auto;
        flex-shrink: 1;
        white-space: nowrap;

        &:after {
            content: '';
            border-left: 1px solid $gray-600;
            height: rem($spacer-4);
            margin-left: rem($gutter);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &.is-fixed {
        position: fixed;
        top: rem($header-height-mobile);
        left: 0;
        right: 0;
        z-index: $header-z-index - 1;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        &__list {
            margin-left: rem(- $gutter * .5);
            margin-right: rem(- $gutter * .5);

            .swiper-wrapper {
                justify-content: space-between;
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1 1 auto;
            margin-left: rem($gutter * .5);
            margin-right: rem($gutter * .5) !important;

            &:after {
                margin: auto;
                position: relative;
                left: rem($gutter * .5);
            }

            &:last-child {
                flex: 0;
            }
        }
    }
}