.product {
    &__card {
        background-color: $white;
        border-radius: $border-radius;
        box-shadow: 0 2px 4px rgba(#28293d, 0.04), 0 8px 16px rgba(#606170, 0.16);
    }

    &__header {
        background-color: $gray-50;
        padding: rem($spacer-5 $spacer-4);

        &-item {
            margin-top: rem($spacer);
            margin-bottom: rem($spacer);
        }
    }

    &__menu {
        @include list-unstyled;
        color: $primary;
        white-space: nowrap;
        row-gap: rem($spacer);

        &-icon {
            color: $gray-400;
            @include size(rem($spacer-4));
            margin-right: rem($spacer-2);
            vertical-align: middle;
        }
    }

    &__code {
        color: $gray-500;
    }

    &__media {
        margin-bottom: rem($spacer-6);
        padding-left: rem(26px);
        padding-right: rem(26px);
    }

    &__thumbs {
        display: none;
    }

    &__picture {
        position: relative;
        overflow: hidden;
    }

    &__slider {
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(376px);
        }

        &-img {
            display: block;
            max-height: 100%;
            width: auto;
        }
    }

    &__controls {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__control {
        margin-bottom: rem($spacer-2);
    }

    &__body {
        padding-top: rem($spacer-10 );
        padding-bottom: rem($spacer-10 );
    }

    &__content {
        padding-left: rem(26px);
        padding-right: rem(26px);
    }

    &__option {
        margin-bottom: rem($spacer-6);

        &-link {
            display: inline-flex;
            align-items: center;
        }

        &-icon {
            color: $gray-400;
            @include size(rem(15px));
            margin-right: rem(5.5px);
        }

        &-content {
            margin-top: rem($gutter);
            margin-bottom: rem($gutter);
            background-color: $white;
            box-shadow: 0 4px 10px rgba($black, 0.25);
            border-radius: rem($spacer-5);
            padding: rem($gutter $gutter - 5px);

            .is-collapsed & {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        &-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__search {
        margin-bottom: rem($spacer-10);

        .form__input {
            @include font($font-size-md, $line-height-md);
        }
    }

    &__order {
        margin-top: rem($spacer-5 - 1);

        &-button {
            min-width: rem(254px);
        }
    }

    &__video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include size(rem(22px), rem($spacer-4));
        color: $gray-400;

        &--lg {
            @include size(rem(68px), rem(48px));
        }
    }

    &__tabs {
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(sm) {
        &__order {
            text-align: right;
        }
    }

    @include media-breakpoint-up(lg) {
        &__body {
          position: relative;
        }

        &__option {
            &-content {
                margin-left: calc(-100% - #{$gutter * 2});
                margin-top: 0;
                margin-bottom: 0;
                float: left;
                width: 100%;
                position: relative;
                z-index: 10;
            }
        }

        &__sticky-section {
          position: sticky;
          top: rem($header-height-mobile + $spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
        &__header {
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-8);
        }

        &__media {
            margin-bottom: 0;
            padding-left: rem(132px);
        }

        &__thumbs {
            display: block;
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: rem($spacer-9 - 2);
            width: rem(58px);
            padding: 1px;

            &-item {
                @include size(rem(56px));
                position: relative;
                overflow: hidden;
                border: 1px solid $gray-200;
                border-radius: $border-radius / 2;
                transition: .25s ease-in-out;
                box-shadow: 0 0 0 1px rgba($gray-800, 0);

                &.swiper-slide-thumb-active {
                    border-color: $gray-800;
                    box-shadow: 0 0 0 1px $gray-800;
                }
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: rem($spacer);
                margin: auto;
            }
        }

        &__content {
            padding-top: rem($spacer-6 + 1);
            padding-left: rem($spacer-9 - 1);
            padding-right: rem($spacer-10);

            &:before {
                position: absolute;
                top: 0;
                left: rem($gutter / 2);
                bottom: 0;
                content: '';
                border-left: 1px solid $gray-200;
            }
        }

        &__option {
            &:first-child {
                margin-top: rem($spacer-8 * -1 + 2);
            }

            &-content {
                margin-top: rem($spacer);
                margin-left: calc(-100% + #{$gutter});
                width: calc(100% - 69px);
            }
        }

        &__sticky-section {
          top: rem($header-height + $spacer-6);
        }
    }
}