.request {
    padding-top: rem($section-offset);
    padding-bottom: rem($section-offset);
    text-align: center;

    &__header {
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem($spacer-2);
    }

    &__form {
        max-width: rem(392px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    &__footer {
        border-top: 1px solid $gray-200;
        margin-top: rem($spacer-6);
        padding-top: rem($spacer-6);

        &-text {
            max-width: rem(540px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}