.reviews {
    &__list {
        @include list-unstyled;
    }

    &__item {
        @include margin-bottom(rem($spacer-6));
    }

    &__form {
        &-toggle {
            min-width: rem(218px);
        }

        &-body {
            max-width: rem(570px);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}