.section {
    scroll-margin-top: rem($section-offset);

    &__description {
        max-width: rem(665px);
    }

    &__slider {
        overflow: visible;

        &--fixed {
            .section__slide {
                width: 100%;
                max-width: rem(285px);
            }
        }
    }

    &--page {
        margin-bottom: rem($section-offset);

        > :last-child {
            margin-bottom: 0 !important;
        }
    }

    &--default {
        padding-top: rem($section-default-offset);
        padding-bottom: rem($section-default-offset);
    }

    &--default & {
        &__header {
            margin-bottom: rem($spacer-10);
        }

        &__title {
            @include margin-bottom(rem($spacer-8));
        }
    }

    &--standart {
        margin-bottom: rem($section-preview-offset);
    }

    &--preview {
        padding-top: rem($section-preview-offset);
        padding-bottom: rem($section-preview-offset);

        &.section--compact {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: rem($spacer-9);
        }
    }

    &--preview & {
        &__header {
            margin-bottom: rem($spacer-6);

            &-option {
                margin-top: rem($spacer-3);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--preview & {
            &__header {
                display: flex;
                align-items: baseline;

                &-option {
                    margin-top: 0;
                    margin-left: auto;
                }

                &--for-slider {
                    padding-right: rem(170px);
                }
            }

            &__slider-container {
                .swiper-pagination-bullets.swiper-pagination-horizontal {
                    position: absolute;
                    left: auto;
                    right: rem(- $spacer);
                    bottom: 100%;
                    width: auto;
                    margin-bottom: rem(42px);
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            overflow: hidden;
            padding-bottom: 1px;
            padding-left: 1px;
            padding-right: 1px;
            margin-left: -1px;
            margin-right: -1px;
            margin-bottom: -1px;

            &--fixed {
                .section__slide {
                    width: auto;
                    max-width: none;
                }
            }
        }
    }
}