.stats {
    border-radius: $border-radius;

    &__list {
        @include list-unstyled;
    }

    &__item {
        padding-top: rem($spacer-5);
        padding-bottom: rem($spacer-5);
        text-align: center;

        &:after {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-56%);
            @include size(rem(48px), rem(1px));
            background-color: $gray-360;
            content: '';
        }

        &-body {
            max-width: rem(190px);
            margin-left: auto;
            margin-right: auto;
        }

        &-label {
            color: $gray-800;
            @include font(36px, $line-height-h1, $font-weight-medium);
            margin-bottom: rem($spacer-3);
        }

        &-data {
            color: $gray-600;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            padding-top: rem($spacer-10);

            &:before {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                @include size(rem($spacer-6), rem($spacer * .5));
                background-color: $base-color;
                content: '';
            }

            &:after {
                position: absolute;
                top: 50%;
                left: 100%;
                bottom: auto;
                transform: translateY(-56%);
                @include size(rem(1px), rem(48px));
            }
        }
    }
}