<div class="section section--preview bg-primary blog">
  <div class="container">
    <div class="section__header section__header--for-slider">
      <div class="section__tabs-list tabs tabs--primary">
        <ul class="tabs__list row">
          <li class="tabs__item col">
            <span class="tabs__link">
              <i data-feather="coffee" class="tabs__link-icon"></i>
              Блог
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="section__slider-container swiper-container" data-slider-container>
      <div class="section__slider section__slider--fixed swiper" data-slider="4items">
        <div class="swiper-wrapper">
          {% for item in blog %}
            <div class="section__slide swiper-slide">
              {% include '../partials/_blog-card.twig' %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>