<form action="#" method="POST" class="section section--default callback form bg-dark-gray" novalidate="novalidate" data-parsley-validate>
  <div class="callback__pattern pattern-chip-dark-gray"></div>

  <div class="container">
    <div class="callback__header">
      <h4 class="callback__title">Остались вопросы?</h4>
      <p>Оставьте свой номер телефона и наш менеджер перезвонит вам в ближайшее время.</p>
    </div>

    <div class="callback__form form__group is-required">
      <div class="form__field form__field--button-right">
        <input type="text" class="form__input" data-mask="phone" placeholder="Ваш номер телефона" required>
        <button class="form__field-button button" type="submit">
          <i data-feather="arrow-right" class="button__icon"></i>
        </button>
      </div>
    </div>
  </div>
</form>