<div class="section section--preview {{ sectionClass }} catalog">
  <div class="container">
    <div class="section__header">
      <div class="section__tabs-list tabs tabs--primary">
        <ul class="tabs__list row">
          <li class="tabs__item col">
            <span class="tabs__link is-active">
              {{ svg.icon('history', 'tabs__link-icon') }}
              {{ sectionTitle }}
            </span>
          </li>
        </ul>
      </div>

      {% if clear %}
        <button class="section__header-option control-link text-md">
          <i data-feather="x" class="control-link__icon"></i>Очистить все
        </button>
      {% endif %}
    </div>

    <div class="section__slider-container swiper-container" data-slider-container>
      <div class="section__slider section__slider--fixed swiper" data-slider="4items">
        <div class="swiper-wrapper">
          {% for item in catalog.items %}
            <div class="section__slide swiper-slide">
              {% include '../partials/_product-card.twig' %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>