<div class="section section--preview bg-white hidden-lg-down catalog-menu">
  <div class="container">
    <div class="catalog-menu__sections row">
      {% for section in menu if not section.navbarOnly %}
        <div class="catalog-menu__section col">
          <h6 class="catalog-menu__section-title">
            <a href="catalog-category.html" class="link-inherit">{{ section.title }}</a>
          </h6>
          <ul class="catalog-menu__list text-md">
            {% for item in section.list %}
              <li class="catalog-menu__item">
                <a href="catalog-section.html" class="link-inherit">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>