<div class="section section--preview bg-white choices" data-component="tabs">
  <div class="container">
    <div class="section__header section__header--for-slider">
      <div class="section__tabs-list tabs tabs--primary">
        <ul class="tabs__list row">
          {% for tab in choices.tabs %}
            <li class="tabs__item col">
              <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
                {% if tab.icon %}
                  <i data-feather="{{ tab.icon }}" class="tabs__link-icon"></i>
                {% endif %}
                {{ tab.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="section__tabs-content tabs__content">
      {% for tab in choices.tabs %}
        <div class="tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
          <div class="section__slider-container swiper-container" data-slider-container>
            <div class="choices__slider swiper" data-slider="2items">
              <div class="swiper-wrapper">
                {% for item in choices.items %}
                  <div class="section__slider-item swiper-slide">
                    <div class="choice-card bg-lightest">
                      {# Product #}
                      <div class="choice-card__product">
                        <a href="product.html" class="choice-card__product-picture">
                          <img srcset="./assets/img/temp/choices/{{ item.product.image }}.png 1x, ./assets/img/temp/choices/{{ item.product.image }}@2x.png 2x" src="./assets/img/temp/choices/{{ item.product.image }}.png" alt="" class="choice-card__product-img">
                        </a>
                        <div class="choice-card__product-body">
                          <h6 class="choice-card__product-title">
                            <a href="product.html" class="link-inherit">{{ item.product.name }}</a>
                          </h6>
                          <div class="choice-card__product-price">{{ item.product.price }}</div>
                        </div>
                      </div>

                      {# Review #}
                      <div class="choice-card__review">
                        <div class="choice-card__review-header text-md row row--md align-xs-baseline">
                          <div class="choice-card__review-author col">{{ item.review.author }}</div>
                          <div class="choice-card__review-rating col">
                            <div class="rating__rating-stars rating-stars rating-stars--primary" data-rate="{{ item.review.rating }}">
                              {% for i in 1..5 %}
                                {{ svg.icon('star-fill', 'rating-stars__star') }}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="choice-card__review-date text-muted col">{{ item.review.date }}</div>
                        </div>
                        <div class="choice-card__review-text text-md">
                          {{ item.review.text }}
                        </div>
                      </div>

                      {# Footer #}
                      <div class="choice-card__footer text-md">
                        <a href="#" class="choice-card__footer-item link-primary link-underline">Подробнее о товаре</a>
                        <a href="#" class="choice-card__footer-item link-primary link-underline">Отзывы (8)</a>
                      </div>

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>