<form action="#" method="POST" class="section section--default feedback form bg-white" novalidate="novalidate" data-parsley-validate>
  <div class="container">

    <div class="row">
      <div class="section__header col-xs-12 col-xl-3">
        <h4 class="feedback__subtitle text-muted">Есть вопрос или&nbsp;предложение?</h4>
        <h3 class="feedback__title">Связаться с&nbsp;нами</h3>
      </div>

      <div class="col-xs-12 col-xl-9">
        <fieldset class="form__fieldset">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form__group">
                <label class="form__label text-md" for="feedback-name">Ваше имя</label>
                <div class="form__field form__field--icon-right">
                  <input type="text" class="form__input form__input--gray" id="feedback-name">
                  <button data-feather="x" class="form__field-icon form__field-icon--muted"></button>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="form__group">
                <label class="form__label text-md" for="feedback-company">Компания (опционально)</label>
                <div class="form__field">
                  <input type="text" class="form__input form__input--gray" id="feedback-company">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="form__group is-required">
                <label class="form__label text-md" for="feedback-phone">Номер телефона</label>
                <div class="form__field form__field--icon-right">
                  <input type="text" class="form__input form__input--gray" id="feedback-phone" data-mask="phone" placeholder="+7 (___) ___-__-__" required>
                  <button data-feather="x" class="form__field-icon form__field-icon--muted"></button>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="form__group">
                <label class="form__label text-md" for="feedback-email">Адрес эл. почты</label>
                <div class="form__field">
                  <input type="text" class="form__input form__input--gray" id="feedback-email">
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__fieldset">
          <div class="form__group">
            <label class="form__label text-md" for="feedback-message">Сообщение</label>
            <div class="form__field form__input form__input--gray">
              <textarea rows="6" class="form__input" id="feedback-message" placeholder="Введите текст сообщения"></textarea>

              <div class="form__group form__group--compact form__dropzone">
                <div class="dropzone text-md" data-dropzone-block>
                  <div class="fallback">
                    <div class="form-file">
                      <input type="file" class="form-file__input" id="dropzoneCvUpload">
                      <label class="form-file__label" for="dropzoneCvUpload">
                        <i data-feather="paperclip" class="form-file__icon"></i><span class="form-file__text">Прикрепить файл</span>
                      </label>
                    </div>
                  </div>
                  <div class="dz-message form-file">
                    <div class="form-file__label" data-element="dropzone-trigger">
                      <i data-feather="paperclip" class="form-file__icon"></i><span class="form-file__text">Прикрепить файл</span>
                    </div>
                  </div>
                  <div class="dz-preview" data-element="dropzone-previews">
                    <div data-element="dropzone-template">
                      <div class="dz-item row">
                        <div class="dz-item__col dz-item__col--icon col">
                          <i data-feather="paperclip" class="dz-item__icon"></i>
                        </div>
                        <div class="dz-item__col dz-item__col--content col">
                          <div class="dz-item__name" data-dz-name></div>
                          <div class="dz-item__error error text-error" data-dz-errormessage></div>
                        </div>
                        <div class="dz-item__col dz-item__col--progress col">
                          <div class="progress active" role="progressbar">
                            <div class="progress__bar" style="width:50%;" data-dz-uploadprogress></div>
                          </div>
                        </div>
                        <div class="dz-item__col dz-item__col--delete col">
                          <button data-feather="trash" class="dz-item__icon" data-dz-remove title="Delete"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form__group form__group--compact">
            <label class="form-check">
              <input class="form-check__input" type="checkbox" value="1" name="feedback-consent" checked required>
              <span class="form-check__label">
                Я согласен с условиями обработки <a href="#" class="link-inherit link-underline">персональных данных</a>
              </span>
            </label>
          </div>
        </fieldset>

        <fieldset class="form__fieldset">
          <div class="form__submit">
            <input type="submit" class="form__button button button--secondary" value="Отправить сообщение">
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</form>