<div class="help image-intro bg-dark-gray">
  <div class="image-intro__picture">
    <img srcset="./assets/img/temp/help.jpg 1x, ./assets/img/temp/help@2x.jpg 2x" src="./assets/img/temp/help.jpg" alt="" class="image-intro__img">
  </div>

  <div class="image-intro__container container">
    <h2 class="image-intro__title text-center">мы всегда будем рады вам помочь:</h2>
    <ul class="help__list row">
      {% for item in help %}
        <li class="help__item col-xs-12 col-sm-6 col-lg-4">
          <div class="help-card">
            <div class="help-card__picture">
              <i data-feather="{{ item.icon }}" class="help-card__icon"></i>
            </div>

            <div class="help-card__title">{{ item.title }}</div>

            {% if item.button %}
              <button class="help-card__button button button--outline-base">{{ item.button }}</button>
            {% endif %}

            {% if item.text %}
              <p>{{ item.text }}</p>
            {% endif %}

            {% if item.phones %}
              <p>
                {% for phone in item.phones %}
                  <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a>{% if not loop.last %}; {% endif %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
