<div class="section {{ sectionClass }} bg-primary helpbar">
  <div class="container">
    <div class="row align-md-center">
      <div class="helpbar__header col-xs-12 col-md-6 col-lg-5">
        <img src="./assets/img/robot-dark.svg" alt="" class="helpbar__img">
        <div class="helpbar__header-body">
          <div class="helpbar__description">Нужна помощь?</div>
          <h5 class="helpbar__title">Поможем с любым вопросом!</h5>
        </div>
      </div>

      <div class="helpbar__body col-xs-12 col-md-6 col-lg-7">
        <ul class="helpbar__contacts contact-list row align-xs-center justify-xl-between">
          <li class="helpbar__contact contact-list__item col">
            <a href="mailto:{{ company.email }}" class="contact link-inherit">
              <i data-feather="mail" class="contact__icon"></i>
              <span class="contact__text">{{ company.email }}</span>
            </a>
          </li>
          <li class="helpbar__contact contact-list__item col">
            <a href="tel:{{ company.phone.link }}" class="contact link-inherit">
              <i data-feather="smartphone" class="contact__icon"></i>
              <span class="contact__text">{{ company.phone.number }}</span>
            </a>
          </li>

          <li class="helpbar__contact helpbar__contact--button contact-list__item col">
            <a href="#modal-ask" class="helpbar__button button button--outline-white" data-element="modal-trigger">Задать вопрос специалисту</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>