<div class="section bg-primary hero">
  <div class="hero__pattern pattern-dots-white"></div>

  <div class="container">
    <div class="row justify-md-center">
      <div class="col-xs-12 col-lg-10 col-xl-8">
        <div class="hero__header">
          <h1 class="hero__title">ПРОМПЛАТФОРМА</h1>
          <p class="hero__description h3">Прямой поиск КИП и автоматики ведущих производителей</p>
        </div>

        <form class="hero__search form search-form">
          <div class="form__group">
            <div class="form__field form__field--xl form__field--icon-left">
              <input type="text" class="form__input" placeholder="Введите название, раздел или артикул товара">
              <i data-feather="search" class="form__field-icon"></i>
            </div>
            <button class="form__field-button button button--secondary" type="submit" data-element="search-submit">Найти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>