<div class="section section--preview news">
  <div class="container">
    <div class="section__slider-container news__slider-container swiper-container" data-slider-container>
      <div class="news__slider swiper" data-slider="2items">
        <div class="swiper-wrapper">
          {% for item in news %}
            <div class="news__item swiper-slide">
              <a href="article.html" class="news-card">
                <div class="news-card__body">
                  <div class="news-card__date text-muted">{{ item.date }}</div>
                  <p class="news-card__text text-lg">{{ item.title }}</p>
                </div>
                <div class="news-card__picture">
                  <img srcset="./assets/img/temp/news/{{ item.image }}.png 1x, ./assets/img/temp/news/{{ item.image }}@2x.png 2x" src="./assets/img/temp/news/{{ item.image }}.png" alt="" class="news-card__img">
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>