<div class="section section--preview bg-white overviews" data-component="tabs">
  <div class="container">
    <div class="section__header section__header--for-slider">
      <div class="section__tabs-list tabs tabs--primary">
        <ul class="tabs__list row">
          {% for tab in overviews.tabs %}
            <li class="tabs__item col">
              <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
                {% if tab.icon %}
                  <i data-feather="{{ tab.icon }}" class="tabs__link-icon"></i>
                {% endif %}
                {{ tab.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="section__tabs-content tabs__content">
      {% for tab in overviews.tabs %}
        <div class="tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
          <div class="section__slider-container swiper-container" data-slider-container>
          <div class="swiper" data-slider="slider">
          <div class="swiper-wrapper">
          {% for item in overviews.items %}
              <div class="overview row align-lg-center section__slider-item swiper-slide">
                <div class="col-xs-12 col-lg-6">
                  <a href="product.html" class="overview__picture">
                    <img srcset="./assets/img/temp/overviews/{{ item.image }}.png 1x, ./assets/img/temp/overviews/{{ item.image }}@2x.png 2x" src="./assets/img/temp/overviews/{{ item.image }}.png" alt="" class="overview__img">
                  </a>
                </div>
                <div class="overview__body col-xs-12 col-lg-6 col-xl-5">
                  <div class="overview__header">
                    <div class="overview__rating rating">
                      <span class="rating__rating-stars rating-stars" data-rate="{{ item.rating }}">
                        {% for i in 1..5 %}
                          {{ svg.icon('star-fill', 'rating-stars__star') }}
                        {% endfor %}
                      </span>
                      <span class="rating__count text-md">({{ item.ratingCount }})</span>
                    </div>
                    <h5 class="overview__title">{{ item.title }}</h5>
                    <div class="overview__date text-muted text-md">{{ item.date }}</div>
                  </div>

                  <div class="overview__author text-muted text-md">{{ item.author }}</div>

                  <div class="overview__text">
                    {{ item.text }}
                  </div>

                  <div class="overview__footer">
                    <a href="#" class="overview__button button button--md button--secondary">Читать</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>