<div class="page-menu text-md bg-dark-gray">
  <div class="container">
    <div class="page-menu__list swiper" data-slider="menu">
      <div class="swiper-wrapper">
        {% for item in list %}
          <div class="page-menu__item swiper-slide">
            <a href="{% if item.id %}#{{ item.id }}{% else %}{{ item.link }}{% endif %}" class="page-menu__link link-inherit {% if loop.first %} is-active {% endif %}" {% if item.id %}data-scroll{% endif %}>
              {{ item.name }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>