<form action="#" method="POST" class="section section--default request form has-pattern" novalidate="novalidate" data-parsley-validate>
  <div class="request__pattern pattern-chip-default"></div>

  <div class="container">
    <div class="request__header">
      <h4 class="request__title">По какой-то причине не смогли зарегистрироваться?</h4>
      <p>Отправьте заявку на помощь специалиста.</p>
    </div>

    <div class="request__form form__group is-required">
      <div class="form__field form__field--button-right">
        <input type="email" class="form__input" placeholder="Ваш адрес эл. почты" required>
        <button class="form__field-button button" type="submit">
          <i data-feather="arrow-right" class="button__icon"></i>
        </button>
      </div>
    </div>

    <div class="request__footer">
      <p class="request__footer-text text-md">Мы обязательно ответим вам, поможем правильно подобрать оборудование, выбрать оптимальные способы доставки и оплаты.</p>
    </div>
  </div>
</form>