<div class="services">
  {% for item in list %}
    {% if loop.index is even %}
      {% set class = ' service--reversed' %}
    {% endif %}
    {% include '../partials/_service.twig' with { class: 'bg-'~item.bg~class } %}
  {% endfor %}
</div>