<ul class="account-menu card text-md">
  {% for item in account.menu %}
    <li class="account-menu__item {% if item.offset %}account-menu__item--offset{% endif %}">
      <a href="{{ item.link }}" class="account-menu__link {% if item.name == pageTitle %}is-active{% endif %}">
        <i data-feather="{{ item.icon }}" class="account-menu__icon"></i>
        <span class="account-menu__text">{{ item.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>