<div class="blog-card {{ blogCardClass }}">
  <a href="article.html" class="blog-card__picture">
    <img srcset="./assets/img/temp/blog/{{ item.image }}.jpg 1x, ./assets/img/temp/blog/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/blog/{{ item.image }}.jpg" alt="" class="blog-card__img">
  </a>
  <div class="blog-card__body">
    <h6 class="blog-card__title {% if blogCardType == 'large' %}h5{% endif %}">
      <a href="article.html" class="link-inherit">
        {{ item.title }}
      </a>
    </h6>

    <p class="blog-card__text text-md">{{ item.text }}</p>

    <div class="blog-card__footer">
      <ul class="blog-card__tags tags row row--sm">
        {% for tag in item.tags %}
          <li class="tags__item col">
            <a href="#" class="tag text-sm">{{ tag }}</a>
          </li>
        {% endfor %}
        {% if loop.index == 4 %}
          <li class="tags__item col">
            <a href="#" class="tag text-sm">+4</a>
          </li>
        {% endif %}
      </ul>
      {% if date is defined %}
        <div class="blog-card__date text-sm">11.02.20</div>
      {% endif %}
    </div>
  </div>
</div>