<div class="catalog__filters filters" data-component="mobile-menu" data-src="filters">
  <div class="filters__header">
    <div class="filters__title h4">Фильтры</div>
    <button class="filters__close" type="button" data-element="mobile-menu-close">
      <i data-feather="x" class="filters__close-icon"></i>
    </button>
  </div>

  <div class="filters__body">
    <div class="filters__list">
      {% for filter in catalog.filter %}
        <div class="filters__item filter {% if filter.collapsible %}collapsible{% endif %}{% if filter.collapsible and filter.collapsed %} is-collapsed{% endif %}" {% if filter.collapsible %}data-component="collapsible"{% endif %}>
          {% if not filter.switch %}
            <div class="filter__header {% if filter.collapsible %}collapsible__toggle{% endif %}" {% if filter.collapsible %}data-element="collapsible-toggle"{% endif %}>
              <div class="filter__title h5">{{ filter.title }}</div>
              {% if filter.collapsible %}
                <i data-feather="chevron-down" class="filter__toggle"></i>
              {% endif %}
            </div>
          {% endif %}

          <div class="filter__body {% if filter.collapsible %}collapsible__content{% endif %}" {% if filter.collapsible %}data-element="collapsible-content"{% endif %}>

            {% if filter.range %}
              {# Price range #}
              <div class="filter__range range-widget" data-component="range">
                <div class="range-widget__input-group">
                  <div class="range-widget__field form__field form__field--md">
                    <input type="text" class="form__input" value="{{ filter.range.from }}" data-element="range-input-from">
                  </div>
                  <div class="range-widget__field form__field form__field--md">
                    <input type="text" class="form__input" value="{{ filter.range.to }}" data-element="range-input-to">
                  </div>
                </div>

                <div class="range-widget__slider range-slider">
                  <input type="text" data-element="range-slider" data-min="0" data-max="15000" data-step="10" data-from="500" data-to="12190">
                </div>
              </div>


              {% elseif filter.switch %}
              {# Switch #}
              <div class="filter__switch switch">
                <input id="availability-switch" type="checkbox" value="on" name="availability-switch" checked="checked" class="switch__input">
                <label for="availability-switch" class="switch__label">{{ filter.title }}</label>
                <span class="switch__toggle"></span>
              </div>


              {% elseif filter.list %}
              {# List #}
              <div data-component="show-all">
                <ul class="filter__list">
                  {% for option in filter.list %}
                    <li class="filter__item" {% if loop.index > filter.visible %}  data-element="show-all-item" hidden {% endif %}>
                      <div class="form-check" data-component="filter-control">
                        <input class="form-check__input" type="checkbox" value="{{ loop.index }}" name="filter-{{ filter.id }}-{{ loop.index }}" id="filter-{{ filter.id }}-{{ loop.index }}" {% if loop.index == 3 %}checked{% endif %} data-element="filter-control-input">
                        <label class="form-check__label" for="filter-{{ filter.id }}-{{ loop.index }}" data-element="filter-tippy-container">
                          <span class="filter__item-text">{{ option }}</span>
                          <span class="filter__item-count text-muted">7</span>
                        </label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                {% if filter.visible %}
                  <div class="filter__action text-md">
                    <a href="#" class="filter__action-link link-inherit" data-element="show-all-toggle" data-text-on="Показать все" data-text-off="Показать меньше">Показать все</a>
                  </div>
                {% endif %}
              </div>


              {% elseif filter.ratingList %}
              {# Rating #}
              <ul class="filter__list">
                {% for option in filter.ratingList %}
                  <li class="filter__item form-check" {% if loop.index > filter.visible %} hidden {% endif %}>
                    <input class="form-check__input" type="checkbox" value="{{ loop.index }}" name="filter-{{ filter.id }}-{{ loop.index }}" id="filter-{{ filter.id }}-{{ loop.index }}" {% if loop.index == 3 %}checked{% endif %}>
                    <label class="form-check__label" for="filter-{{ filter.id }}-{{ loop.index }}">
                      <span class="filter__rating rating">
                        <span class="filter__rating-stars form__rating-stars rating__rating-stars rating-stars rating-stars--form rating-stars--form--primary">
                          {% for i in 5..1 %}
                            <input type="radio" class="rating-stars__input" id="review-rating-{{ i }}" name="review-rating" value="{{ i }}" {% if loop.index == 3 %}checked{% endif %}>
                            <label for="review-rating-{{ i }}" class="rating-stars__label" title="{{ i }}">
                              {{ svg.icon('star-fill', 'rating-stars__star') }}
                            </label>
                          {% endfor %}
                        </span>
                        <span class="rating__count text-md text-muted">{{ option.count }}</span>
                      </span>
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="filters__footer">
    <span class="filters__count text-md">Найдено 232 товара</span>
    <button class="filters__button filters__button--clear button button--outline-light">Сбросить все фильтры</button>
  </div>
</div>