<div class="catalog__section sorting card">
  <div class="row align-xs-center">
    <div class="sorting__group col hidden-xl-up">
      <button class="sorting__control button button--outline-light button--md button--square" title="Фильтр" data-element="mobile-menu-trigger" data-src="filters">
        <i data-feather="filter" class="button__icon"></i>
      </button>
    </div>

    <div class="sorting__group col-xs-12 col-sm-auto order-xs-last order-sm-initial">
      <select data-element="select" class="sorting__select select-md">
        {% for item in ['Сначала популярные', 'По цене', 'По наличию'] %}
          <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="sorting__group col ml-xs-auto">
      <span class="sorting__count text-md">91-120 из 232 товаров</span>
    </div>
  </div>
</div>