<div class="catalog__section content-block card">
  <h4 class="content-block__title">Контрольно-измерительные приборы и автоматика (КИПиА)</h4>
  <div class="content-block__text text-block text-md">
    <p>Контрольно-измерительные приборы – это специальные устройства, главное назначение которых - измерение определенной физической величины. Контрольно-измерительные приборы и автоматика выполняют очень важные функции, позволяющие наблюдать за работоспособностью оборудования и на основе предоставленных данных, выполнять его обслуживание, а в случае необходимости, производить корректировку работы.</p>
    <p>В перечень контрольно-измерительных приборов КИП входит достаточное большое количество различных устройств, использующихся в различных областях деятельности человека, а именно: в строительстве, в тяжелой и легкой промышленности, в коммунальных службах и т.д</p>
    <ul>
      <li>Цифровые приборы</li>
      <li>Аналоговые приборы</li>
      <li>Регуляторы процессов</li>
    </ul>
  </div>
</div>