<div class="catalog__list row">
  {% for item in catalog.items %}
    <div class="catalog__item col-xs-12 col-md-6 {% if col %}{{ col }} {% else %} col-lg-4 col-xl-4 {% endif %}">
      {% include '../partials/_product-card.twig' %}
    </div>
  {% endfor %}
</div>