<div id="modal-request-sent" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Запрос на изменение отправлен</h4>
    <p class="modal__description modal__description--clipped text-md">Ваш запрос успешно отправлен. Совсем скоро менеджер свяжется с вами и поможет обновить телефон профиля</p>
  </div>
  <div class="modal__body">
      <button class="button button--secondary button--block" data-element="modal-close">Продолжить</button>
  </div>
</div>