<div id="modal-code" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Ввод SMS-кода</h4>
    <p class="modal__description modal__description--clipped text-md">На ваш телефон, было отправлен SMS-код для авторизации. Введите его ниже для авторизации на сайте.</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm">
        <label class="form__label text-md" for="code">Код из СМС</label>
        <div class="form__field">
          <input type="text" class="form__input" id="code" data-mask="code" placeholder="----" required>
        </div>
      </div>

      <div class="form__submit text-center">
        <input type="submit" class="form__button button button--secondary button--block" value="Войти и продолжить">
        <p class="form__note text-md">Повторная отправка возможна возможна через 0:59</p>
      </div>
    </form>
  </div>
</div>