<div id="modal-director" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Отзыв для директора</h4>
    <p class="modal__description modal__description--clipped text-md">Здесь вы можете отправить своей отзыв, или предложение напрямую директору компании.</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm">
        <label class="form__label text-md" for="name-2">Ваше имя</label>
        <div class="form__field">
          <input type="text" class="form__input" id="name-2">
        </div>
      </div>

      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="email-2">Ваш емейл</label>
        <div class="form__field">
          <input type="email" class="form__input" id="email-2" required>
        </div>
      </div>

      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="message">Сообщение для директора</label>
        <div class="form__field">
          <textarea rows="3" class="form__input" id="message" required></textarea>
        </div>
      </div>

      <div class="form__submit text-center">
        <input type="submit" class="form__button button button--secondary button--block" value="Отправить отзыв">
      </div>
    </form>
  </div>
</div>