<div id="modal-login" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Авторизация на сайте</h4>
    <p class="modal__description modal__description--clipped text-md">Для входа в личный кабинет, просто укажите ваш номер телефона, для получения SMS-кодa</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="login-phone">Ваш телефонный номер</label>
        <div class="form__field">
          <input type="text" class="form__input" id="login-phone" data-mask="phone" placeholder="+7 (___) ___-__-__" required>
        </div>
      </div>

      <div class="form__submit text-center">
        <button class="form__button button button--secondary button--block" data-mfp-src="#modal-code" data-element="modal-trigger">Получить  SMS-код</button>
        <a href="#modal-phone-changed" data-element="modal-trigger" class="form__submit-link text-md link-primary link-underline">У меня есть профиль, но телефон изменился</a>
      </div>
    </form>
  </div>
</div>