<div id="modal-ask" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Задайте вопрос</h4>
    <p class="modal__description modal__description--clipped text-md">Если у вас есть технические или иные вопросы - просто оставьте его здесь. Квалифицированный специалист, разберет его и даст вам ответ в кратчайшие сроки</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="name-3">Ваше имя</label>
        <div class="form__field">
          <input type="text" class="form__input" id="name-3" required>
        </div>
      </div>

      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="email">Ваш емейл или телефон</label>
        <div class="form__field">
          <input type="email" class="form__input" id="email" required>
        </div>
      </div>

      <div class="form__group form__group--sm">
        <label class="form__label text-md" for="message-2">Вопрос для специалиста</label>
        <div class="form__field">
          <textarea rows="3" class="form__input" id="message-2"></textarea>
        </div>
      </div>

      <div class="form__submit text-center">
        <input type="submit" class="form__button button button--secondary button--block" value="Получить ответ">
      </div>
    </form>
  </div>
</div>