<div id="modal-in-cart2" class="modal modal--md modal--incart mfp-hide mfp-with-anim">
  <div class="modal__alert alert h5">
    <span class="alert__picture alert__picture--circle bg-success">
      <i data-feather="check" class="alert__icon"></i>
    </span>
    Товар добавлен в корзину
  </div>

  <div class="modal__body card">
    <div class="incart row align-md-top">
      <div class="incart__picture col">
        <img srcset="./assets/img/temp/product/sm.png 1x, /assets/img/temp/product/sm@2x.png 2x" src="./assets/img/temp/product/sm.png" alt="" class="incart__img">
      </div>

      <div class="incart__body col">
        <h6 class="incart__title">2ТРМ0-Н.У двухканальный измеритель с универсальным входом</h6>
        <div class="incart__info text-md">
          <span class="incart__info-item">Код: 58397</span>
          <span class="incart__info-item">В наличии</span>
        </div>

        {% include '_product-variants.twig' with { class: 'incart__variants', list: product.variants|slice(0,1) } %}

      </div>
    </div>
  </div>

  <div class="modal__footer modal__footer--inline">
    <button class="modal__button button button--outline-light button--block" data-element="modal-close">Продолжить покупки</button>
    <a href="order.html" class="modal__button button button--secondary button--block">Оформить заказ</a>
  </div>
</div>