<div id="modal-call" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Есть вопросы?</h4>
    <p class="modal__description modal__description--clipped text-md">Оставьте телефон, мы вам перезвоним</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm is-required">
        <div class="form__field">
          <input type="text" class="form__input" data-mask="phone" placeholder="+7 (___) ___-__-__" required>
        </div>
      </div>

      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="name">Ваше имя</label>
        <div class="form__field">
          <input type="text" class="form__input" id="name" required>
        </div>
      </div>

      <div class="form__submit text-center">
        <input type="submit" class="form__button button button--secondary button--block" value="Перезвоните мне">
      </div>
    </form>
  </div>
</div>