<div id="modal-phone-changed" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Телефонный номер изменился</h4>
    <p class="modal__description modal__description--clipped text-md">В случае если ваш телефонный номер был изменен, укажите ваш новый номер. Менеджер свяжется с вами и поможет изменить телефон в профиле</p>
  </div>
  <div class="modal__body">
    <form action="#" method="POST" class="modal__form form" novalidate="novalidate" data-parsley-validate>
      <div class="form__group form__group--sm is-required">
        <label class="form__label text-md" for="phone">Ваш телефонный номер</label>
        <div class="form__field">
          <input type="text" class="form__input" id="phone" data-mask="phone" placeholder="+7 (___) ___-__-__" required>
        </div>
      </div>

      <div class="form__submit text-center">
        <button class="form__button button button--secondary button--block" data-mfp-src="#modal-request-sent" data-element="modal-trigger">Отправить запрос</button>
        <a href="#modal-login" data-element="modal-trigger" class="form__submit-link text-md link-primary link-underline">Вернуться к авторизации через SMS</a>
      </div>
    </form>
  </div>
</div>