<div id="modal-limit" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h4 class="modal__title">Обратите внимание</h4>
    <p class="modal__description text-md">
      <b>2TPM0-Щ.У.</b> 
      <br>
      20 штук - доступно к отгрузке сегодня; 
      <br>
      5 штук - будут доступны в течение 8 рабочих дней.
    </p>
  </div>

  <div class="modal__body">
    {{ svg.icon('warehouse', 'modal__icon', 94, 94) }}
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--secondary button--block">Добавить доступное количество</button>
    <button class="modal__button button button--outline-light button--block" data-element="modal-close">Добавить все</button>
  </div>
</div>