<div class="{{ paginationClass }} pagination card text-md">
  <ul class="pagination__list row">
    <li class="pagination__item pagination__item--control">
      <a href="#" class="pagination__link col {% if loop.index == 3 %} is-active {% endif %}">
        <i data-feather="arrow-left" class="pagination__icon"></i>
        <span>назад</span>
      </a>
    </li>
    {% for i in 2..6 %}
      <li class="pagination__item">
        <a href="#" class="pagination__link col {% if loop.index == 3 %} is-active {% endif %}">{{ i }}</a>
      </li>
    {% endfor %}
    <li class="pagination__item pagination__item--control">
      <a href="#" class="pagination__link col {% if loop.index == 3 %} is-active {% endif %}">
        <span>вперед</span>
        <i data-feather="arrow-right" class="pagination__icon"></i>
      </a>
    </li>
  </ul>
</div>