<div class="product-card">
  <div class="product-card__controls">
    {% if controlClose %}
      <button class="product-card__control control" title="Удалить">
        <i data-feather="x" class="control__icon"></i>
      </button>
    {% endif %}
    <button class="product-card__control control {% if favActive %}is-active{% endif %}" title="В избранное" data-control="fav">
      <i data-feather="heart" class="control__icon"></i>
    </button>
    {% if not controlClose %}
      <button class="product-card__control control" title="Сравнить">
        <i data-feather="bar-chart-2" class="control__icon"></i>
      </button>
    {% endif %}
  </div>

  <a href="product.html" class="product-card__picture">
    <img srcset="./assets/img/temp/catalog/items/{{ item.image }}.png 1x, ./assets/img/temp/catalog/items/{{ item.image }}@2x.png 2x" src="./assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="product-card__img">
  </a>

  <h5 class="product-card__title">
    <a href="product.html" class="link-inherit">
      {{ item.name }}
    </a>
  </h5>

  {% if info != false %}
    <div class="product-card__info row row--md align-xs-center">
      <div class="product-card__rating rating col">
        <span class="rating__rating-stars rating-stars" data-rate="{{ item.rating }}">
          {% for i in 1..5 %}
            {{ svg.icon('star-fill', 'rating-stars__star') }}
          {% endfor %}
        </span>
        <span class="rating__count text-md">(8)</span>
      </div>
      <div class="col">
        <div class="product-card__availability is-{{ item.availability.type }} text-md">
          {{ item.availability.text }}
        </div>
      </div>
    </div>

    <dl class="product-card__details text-md dl-inline">
      {% for detail in item.details %}
        <dt class="product-card__details-label">{{ detail.label }}:</dt>
        <dd class="product-card__details-data">{{ detail.data }}</dd>
      {% endfor %}
    </dl>
  {% endif %}

  <div class="product-card__footer row row--sm align-xs-center justify-xs-between">
    <div class="product-card__footer-item col">
      <div class="product-card__price">
        <span class="product-card__price-value">{{ item.price }}</span>
        <span class="product-card__price-unit">{{ item.priceUnit }}</span>
      </div>
    </div>

    <div class="product-card__footer-item col">
      {% if item.options %}
        <div class="product-card__options" data-component="product-options">
          <button class="product-card__options-button button button--secondary button--sm" data-element="product-options-toggle">Модификации</button>
          <ul class="product-card__options-list product-options">
            {% for option in item.options %}
              <li class="product-options__item row row--sm align-xs-center">
                <div class="product-options__name col text-md">{{ option }}</div>
                <div class="product-options__price col">
                  <span class="product-options__price-value">3 816</span>
                  <span class="product-options__price-unit">{{ item.priceUnit }}</span>
                </div>
                <div class="product-options__order col">
                  <button class="product-options__button button button--secondary button--sm">
                    <i data-feather="shopping-cart" class="button__icon"></i>
                  </button>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <button class="product-card__button button button--secondary button--sm">В корзину</button>
      {% endif %}
    </div>
  </div>

  {% if compare %}
    <div class="product-card__compare">
      {% for option in item.compare  %}
        <dl class="product-card__compare-row" data-row>
          <dt class="product-card__compare-label" data-compare-label="{{ loop.index }}">{{ option.label }}</dt>
          <dd class="product-card__compare-data" data-compare-data="{{ loop.index }}">{{ option.data }}</dd>
        </dl>
      {% endfor %}
    </div>
  {% endif %}
</div>