<div class="{{ class }} product-variants">
  <div class="product-variants__list">
    {% for item in list %}
      <div class="product-variants__item">
        <div class="product-variants__product">
          <a href="#" class="product-variants__name text-md link-pseudo">{{ item.name }}</a>
          <span class="product-variants__availability text-sm is-{{ item.availabilityClass }}">{{ item.availability }}</span>
        </div>
        <div class="product-variants__order">
          <span class="product-variants__price">
            <span class="product-variants__price-value">{{ item.price.value }}</span>
            <span class="product-variants__unit">{{ item.price.unit }}</span>
          </span>

          <span class="product-variants__amount-form amount-form" data-component="amount-form">
            <button class="amount-form__control" data-element="dec-control" type="button">
              <i data-feather="minus" class="amount-form__icon"></i>
            </button>
            <input type="text" class="amount-form__input form__input" value="{{ item.amount }}" data-element="amount-input" data-min="0">
            {% if loop.last %}
              {# for demonstration only #}
              <button class="amount-form__control" type="button" data-mfp-src="#modal-limit" data-element="modal-trigger">
                <i data-feather="plus" class="amount-form__icon"></i>
              </button>
              {% else %}
              <button class="amount-form__control" data-element="inc-control" type="button">
                <i data-feather="plus" class="amount-form__icon"></i>
              </button>
            {% endif %}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="product-variants__total h3">
    <span class="product-variants__sum">Итого:  {% if sum is defined %} {{ sum }} {% else %}5 253{% endif %} <span class="product-variants__unit">₽</span></span>
  </div>
</div>