<div class="content-block card reviews">
  <div class="reviews__form collapsible is-collapsed" data-component="collapsible">
    <div class="content-block__title reviews__form-header">
      <button class="reviews__form-toggle button button--secondary button--md" data-text-on="Оставить отзыв" data-text-off="Скрыть отзыв" data-element="collapsible-toggle">Оставить отзыв</button>
    </div>

    <form action="#" method="POST" class="reviews__form-body form collapsible__content" novalidate="novalidate" data-parsley-validate data-element="collapsible-content">
      <div class="row">
        <div class="col-xs-12 col-lg-8 form__group form__group--lg">
          <label class="form__label text-md" for="review-name">Ваше имя</label>
          <div class="form__field">
            <input type="text" class="form__input" id="review-name" required>
          </div>
        </div>
      </div>

      <div class="form__group form__group--lg form__rating">
        <label class="form__rating-label text-md text-primary" for="review-rating">Оцените товар:</label>
        <span class="form__rating-stars rating-stars rating-stars--form" data-size="20">
          {% for i in 5..1 %}
            <input type="radio" class="rating-stars__input" id="review-rating-{{ i }}" name="review-rating" value="{{ i }}">
            <label for="review-rating-{{ i }}" class="rating-stars__label" title="{{ i }}">
              {{ svg.icon('star-fill', 'rating-stars__star') }}
            </label>
          {% endfor %}
        </span>
      </div>

      <div class="form__group">
        <label class="form__label text-md" for="review-message">Ваш отзыв</label>
        <div class="form__field">
          <textarea rows="5" class="form__input" id="review-message"></textarea>
        </div>
      </div>

      <div class="form__group form__group--lg form__submit">
        <input type="submit" class="form__button button button--secondary" value="Отправить">
      </div>
    </form>
  </div>

  <div class="reviews__list">
    {% for review in product.reviews %}
      <div class="reviews__item review">
        <div class="review__header">
          <div class="review__author h5">{{ review.author }}</div>
          <div class="review__rating rating">
            <span class="rating__rating-stars rating-stars" data-rate="{{ review.rating }}" data-size="20">
              {% for i in 1..5 %}
                {{ svg.icon('star-fill', 'rating-stars__star') }}
              {% endfor %}
            </span>
          </div>
        </div>

        <div class="review__body text-md">{{ review.text }} </div>
      </div>
    {% endfor %}
  </div>
</div>
