<div class="content-block card">
  <h4 class="content-block__title">Описание 2ТРМ0 двухканальный измеритель с универсальным входом</h4>
  <div class="content-block__text text-block text-md">
    <a data-mfp-src="#modal-in-cart2" data-element="modal-trigger">Окно 1</a>
    <a data-mfp-src="#modal-in-cart3" data-element="modal-trigger">Окно 2</a>
    <a data-mfp-src="#modal-limit" data-element="modal-trigger">Окно 3</a>
    <h5>Главные преимущества 2ТРМ0</h5>
    <ul>
      <li>Улучшенная помехоустойчивость: 2ТРМ0 полностью соответствует требованиям ГОСТ Р 51522 (МЭК 61326-1) по электромагнитной совместимости для оборудования класса А (для промышленных зон) с критерием качества функционирования А;</li>
      <li>Повышенная надежность: наработка на отказ составляет 100 000 часов;</li>
      <li>Повышенная точность измерений: погрешность измерений не превышает 0,15 % (при классе точ. 0,25/0,5);</li>
      <li>Межповерочный интервал – 3 года;</li>
      <li>Гарантийный срок обслуживания 2ТРМ0 составляет 5 лет;</li>
      <li>Улучшенные показатели климатического исполнения: допустимый диапазон рабочих темп. от –20 до +50 °С;</li>
      <li>Универсальные входы: поддерживает все распространенные типы датчиков;</li>
      <li>Расширенный диапазон напряжений питания: 90...245 В частотой 47...63 Гц;</li>
      <li>Встроенный источник питания 24 В во всех модификациях нового 2ТРМ0 для питания активных датчиков или других низковольтных цепей АСУ</li>
    </ul>
    <h5>Основные функции измерителя двухканального ОВЕН 2ТРМ0</h5>
    <ul>
      <li>Два универсальных входа для подключения широкого спектра датчиков температуры, давления, влажности, расхода, уровня и т. п.;</li>
      <li>Цифровая фильтрация и коррекция входного сигнала, масштабирование шкалы для аналогового входа;</li>
      <li>Вычисление и индикация квадратного корня из измеряемой величины (на пример, для регулирования мгновенного расхода);</li>
      <li>Вычисление разности двух измеряемых величин (ΔТ = Т1 – Т2);</li>
      <li>Индикация текущих значений измеренных величин Т1,Т2 или их разности на встроенном 4-х разрядном светодиодном цифровом индикаторе;</li>
      <li>Импульсный источник питания 90...245 В 47...63 Гц;</li>
      <li>Встроенный источник питания 24 В для активных датчиков во всех модификациях прибора;</li>
      <li>Программирование кнопками на лицевой панели прибора;</li>
      <li>Сохранение настроек при отключении питания;</li>
      <li>Защита настроек от несанкционированных изменений;</li>
      <li>Особенности 2ТРМ0 в корпусе Щ11;</li>
      <li>Быстрые входы. Для унифицированных сигналов тока (0…5, 0…20, 4…20мА) и напряжения (0…1В, -50…+50мВ) период опроса входа составляет 0.1сек. Это позволяет использовать 2ТРМ0 для измерения высокодинамичных видов сигналов, например, давления;</li>
    </ul>
  </div>
</div>
