<div class="service {{ class }}">
  <div class="container">
    <div class="service__row row justify-md-between {% if not item.sectionTitle %} align-md-center{% endif %}">
      <div class="service__body col-xs-12 col-md-7 col-lg-6 col-xl-5">
        {% if item.sectionTitle %}
          <h2 class="service__section-title section-title">{{ item.sectionTitle }}</h2>
        {% endif %}

        {% if item.label %}
          <div class="service__label label">{{ item.label }}</div>
        {% endif %}

        <h3 class="service__title">{{ item.title }}</h3>
        <p>{{ item.text }}</p>

        {% if item.condition %}
          <p class="text-base">{{ item.condition }}</p>
        {% endif %}

        {% if item.list %}
          <ul class="list-check">
            {% for li in item.list %}
              <li>{{ li }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="service__picture col-xs-12 col-md-5 col-lg-6">
        <img srcset="./assets/img/temp/services/{{ folder }}/{{ item.image }}.jpg 1x, ./assets/img/temp/services/{{ folder }}/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/services/{{ folder }}/{{ item.image }}.jpg" alt="" class="service__img">
      </div>
    </div>
  </div>
</div>