<ul class="{{ socialClass}} social">
  {% for item in list %}
    <li class="social__item">
      <a href="#" class="social__link" title="{{ item.title }}">
        {% if item.icon  %}
          {{ svg.icon(item.icon, 'social__icon') }}
          {% else %}
          <img src="/assets/img/{{ item.image }}.svg" alt="" class="social__icon">
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>