<ul class="{{ menuClass }} icon-menu row justify-xs-between justify-xl-end">
  {% for item in iconMenu %}
    <li class="icon-menu__item col {% if item.responsive %} {{ item.responsive }} {% endif %}">
      {% if not isSession and item.modal %}
        <a href="{{ item.modal }}" class="icon-menu__link link-inherit" data-element="{{ item.element }}">
        {% elseif item.src %}
        <a href="#" class="icon-menu__link link-inherit" data-element="{{ item.element }}" data-src="{{ item.src }}">
        {% else %}
        <a href="{{ item.link }}" class="icon-menu__link link-inherit">
      {% endif %}
        <div class="icon-menu__picture">
          {% if item.iconFeather %}
            <i data-feather="{{ item.iconFeather }}" class="icon-menu__icon"></i>
            {% else %}
            {{ svg.icon(item.icon, 'icon-menu__icon') }}
          {% endif %}

          {% if item.badge %}
            <span class="icon-menu__badge">{{ item.badge }}</span>
          {% endif %}
        </div>
        {% if item.nameMobile %}
          <span class="hidden-xl-up">{{ item.nameMobile }}</span>
          <span class="hidden-lg-down">{{ item.name }}</span>
          {% else %}
          <span>{{ item.name }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>