<div class="header__nav nav" data-component="mobile-menu" data-src="nav">
  <ul class="nav__list text-md row row--md">
    {% for item in nav %}
      <li class="nav__item col-xs-12 col-xl-auto">
        <a href="{{ item.link }}" class="nav__link {% if item.accented %}nav__link--accented{% endif%} link-inherit" {% if item.element %}data-element="{{ item.element }}"{% endif %}>{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>