.footer {
    position: relative;
    z-index: 1;
    padding-bottom: rem($bottom-menu-height);

    &__pattern {
        height: 314px;
    }

    &__menu {
        padding-top: rem(47px);
        padding-bottom: rem($spacer-8);

        &-section {
            margin-bottom: rem($spacer-10);
        }

        &-title {
            display: flex;
            align-items: center;
            letter-spacing: .0714em;
            text-transform: uppercase;
            color: $white;
            min-height: rem($spacer-8);
            margin-bottom: rem(18px);
        }

        &-icon {
            display: block;
            @include size($spacer-8);
            margin-right: rem($spacer-2);
        }

        &-list {
            @include list-unstyled;
        }

        &-item {
            @include margin-bottom(rem($spacer-4));
        }
    }

    &__contacts,
    &__bottom {
        border-top: 1px solid $gray-800;
    }

    &__contacts {
        padding-top: rem(17px);
        padding-bottom: rem(17px);

        &-list {
            @include list-unstyled;
            color: $white;
            margin-top: rem($spacer-6);
        }
    }

    &__bottom {
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
        @include em-line-height($font-size-md, $line-height-md2);
    }

    &__copyright {
        color: $gray-600;
    }

    &__social {
        display: flex;
        align-items: center;
        margin-top: rem($spacer-4);

        &-label {
            margin-right: rem($spacer-4);
            color: $gray-500;
        }
    }

    @include media-breakpoint-up(md) {
        &__contacts {
            &-list {
                margin-top: rem($spacer-3);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__menu {
            &-list {
                max-width: 14em;
            }
        }

        &__contacts {
            &-list {
                margin-top: 0;
            }
        }

        &__social {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;

        &__contacts {
            &-list {
                margin-left: rem(- $spacer-8);
                margin-right: rem(- $spacer-8);
            }

            &-item {
                padding-left: rem($spacer-8);
                padding-right: rem($spacer-8);
            }
        }
    }
}