.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header-z-index;
    transition: .25s ease-in-out;
    background-color: $body-bg;
    box-shadow: 0 4px 12px rgba($black, 0.05);

    &.is-scrolled {
    }

    &__row {
        flex-wrap: nowrap;
        height: rem($header-height-mobile);
    }

    &__col {
        &--logo {
            margin-right: auto;
        }

        &--icon-menu {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray-360;
            padding-top: rem(13px);
            padding-bottom: rem(11px);
            height: rem($bottom-menu-height);
            z-index: $header-z-index + 1;
        }
    }

    &__main {
        position: relative;
        z-index: $header-z-index + 1;

        &-pattern {
            top: 0;
            bottom: 0;

            &:after {
                display: none;
            }
        }
    }

    &__logo {
        &-img {
            display: block;
        }
    }

    @include media-breakpoint-up(xl) {
        &__col {
            &--search {
                display: flex;
            }

            &--icon-menu {
                align-self: flex-start;
                position: static;
                background: none;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: rem($spacer-4);
                height: auto;
            }
        }

        &__top {
            padding-top: rem(13px);
            padding-bottom: rem(13px);
        }

        &__contacts {
            &-list {
                flex-wrap: nowrap;
                white-space: nowrap;
            }

            .contact__iocn {
                color: inherit;
            }
        }

        &__row {
            height: rem($header-main-height);
        }

        &__catalog-button {
            display: flex;
            align-items: center;
            background-color: $gray-200;
            color: $primary;
            font-weight: $font-weight-medium;
            padding: rem(6px 17px 6px 14px);
            margin-right: rem(11px);

            &-icon {
                @include size(rem($spacer-6));
                margin-right: rem($spacer-2);
            }
        }

        &__search {
            flex: 1;

            .form__input {
                @include font(15px, $line-height-base);
            }
        }
    }

    @include media-breakpoint-up(2xl) {
    }
}