.icon-menu {
    @include list-unstyled;
    text-align: center;
    flex-wrap: nowrap;
    max-width: rem(406px);
    margin-left: auto;
    margin-right: auto;

    &__item {
        max-width: rem(100px);
        padding-left: rem($spacer);
        padding-right: rem($spacer);
        color: $primary;
    }

    &__link {
        display: block;
        @include font($font-size-md, $line-height-sm);
    }

    &__picture {
        margin-bottom: rem($spacer-2);
        position: relative;
    }

    &__icon {
        @include size(rem($spacer-6));
        color: $gray-600;
   }

    &__badge {
        position: absolute;
        top: rem(-11px);
        right: 0;
        background-color: $gray-10;
        @include size(rem(18px));
        @include rounded;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        @include font($font-size-sm, $font-size-sm, $font-weight-medium);
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        max-width: none;
        margin-left: rem(- $spacer-3);
        margin-right: rem(- $spacer-3);

        &__item {
            padding-left: rem($spacer-3);
            padding-right: rem($spacer-3);
            color: $gray-400;
        }

        &__picture {
            margin-bottom: rem($spacer);
        }

        &__icon {
            color: $gray-200;
       }
    }
}