.mobile-menu {
    position: fixed;
    top: rem($header-height-mobile);
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    max-width: rem(375px);
    min-height: calc(100vh - #{rem($header-height-mobile)});
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $white;
    z-index: $header-z-index;

    &.is-visible {
        transform: translateX(0);
        transition: transform .25s ease-in-out;
    }

    &__body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: rem($spacer-6);
        padding-bottom: rem($spacer-10 + $bottom-menu-height);
    }

    &__search {
        margin-bottom: rem($spacer-8);
    }

    @include media-breakpoint-up(lg) {
        &__menu {
            margin-top: 0;
        }
    }
}