.navbar {
    @include list-unstyled;

    &__slider {
        position: relative;
        overflow: visible;
        z-index: 1;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $white;
            content: '';
            width: 100vw;
            z-index: 11;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }

    &__slide {
        color: $gray-600;
        position: relative;
        flex-shrink: initial;

        @include hover-focus {
            .navbar__submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__link {
        display: block;
        white-space: nowrap;
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
    }

    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s .5s ease-out;
        width: rem(276px);
    }

    .swiper-button-next,
    .swiper-button-prev {
        @include size(rem($spacer-8), 100%);
        top: 0;
        margin-top: 0;
        box-shadow: none;
        z-index: 10;

        &:before {
            width: rem(134px);
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            background: linear-gradient(269.33deg, $white 69.53%, rgba($white, 0) 99.27%);
            z-index: -1;
        }

        &:after {
            background-size: rem(6px);
            z-index: 1;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    .swiper-button-next {
        right: 0;

        &:before {
            left: 50%;
            transform: translateX(-40%);
        }
    }

    .swiper-button-prev {
        left: 0;

        &:before {
            right: 50%;
            transform: scaleX(-1) translateX(-40%);
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-between(xl, xl) {
    }
}