.nav {
    position: fixed;
    top: rem($header-height-mobile);
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    max-width: rem(375px);
    min-height: calc(100vh - #{rem($header-height-mobile)});
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $white;
    z-index: $header-z-index;
    padding: rem($spacer-6 $gutter);

    &.is-visible {
        transform: translateX(0);
        transition: transform .25s ease-in-out;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-4);
    }

    &__link {
        @include em-line-height($font-size-md, $line-height-md2);
        font-weight: $font-weight-medium;

        &--accented {
            font-weight: $font-weight-bold;
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        position: static;
        transform: none;
        width: auto;
        max-width: none;
        min-height: 0;
        overflow: visible;
        background: none;
        z-index: initial;
        padding: 0;

        &__item {
            margin-bottom: 0;
        }
    }
}