.submenu {
    @include list-unstyled;
    background-color: $white;
    box-shadow: 0 0 2px rgba(#28293d, 0.04), 0 4px 8px rgba(#606170, 0.16);
    padding: rem(19px $spacer-4 $spacer-6);

    &__item {
        @include margin-bottom(rem($spacer-3));
        color: $gray-600;
    }

    &__link {
        display: block;
        position: relative;
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-between(xl, xl) {
    }
}