.account-menu {
    @include list-unstyled;
    padding-top: rem($spacer-3);
    padding-bottom: rem($spacer-6);
    margin-bottom: rem($spacer-6);

    &__item {
        &--offset {
            margin-top: rem($spacer-6);
        }
    }

    &__link {
        display: block;
        position: relative;
        padding: rem($spacer-4 $spacer $spacer-4 55px);
        border-left: 1px solid rgba($primary, 0);
        color: $gray-600;

        @include hover-focus {
            color: $primary;
        }

        &.is-active {
            color: $primary;
            font-weight: $font-weight-semibold;
            border-left-color: $primary;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: rem($spacer-4 + 2);
        transform: translateY(-50%);
        @include size($spacer-5);
        color: $gray-400;

        .is-active & {
            color: inherit;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(xl) {
    }
}