.alert {
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;

    &__picture {
        margin-right: rem($spacer-3);
        display: flex;
        align-items: center;
        justify-content: center;

        &--circle {
            @include size(rem($spacer-6));
            flex: 0 0 rem($spacer-6);
            @include rounded;
        }
    }

    &__icon {
        display: block;

        .alert__picture--circle & {
            @include size(rem($spacer-4));
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(xl) {
    }
}