.blog-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $gray-150;
    box-shadow: 0 1px 1px rgba($black, 0.02);
    border-radius: $border-radius;
    padding: rem($spacer-4);
    height: 100%;
    position: relative;

    &__picture {
        @include aspect-ratio-block(254/144);
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        margin-bottom: rem($spacer-4);
    }

    &__img {
        @extend %cover-image;
    }

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include text-clamp(3);
        margin-bottom: rem($spacer-2);
        color: $gray-800;
        letter-spacing: .0114em;
    }

    &__text {
        @include text-clamp(4);
        @include margin-bottom(rem($spacer-4));
        color: $gray-500;
        letter-spacing: .0114em;
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    &__tags {
        flex: 1;
        padding-right: rem($gutter);
    }

    &__date {
        margin-left: auto;
        color: $gray-450;
    }

    &--cover {
        color: $white;
        padding: rem(2px);
        min-height: rem(386px);
    }

    &--cover & {
        &__picture {
            @include aspect-ratio-block(789/380);
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin-bottom: 0;
            min-height: 100%;
            padding-top: 48.16223%;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                z-index: 1;
                background: linear-gradient(180deg, rgba($primary, 0.22) 0%, rgba($primary, 0.88) 50.96%, $primary 94.72%, $primary 100%);
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                opacity: .05;
                padding-top: 0;
                background-position: 0 0;
                background-repeat: repeat;
                background-image: url(../../assets/img/patterns/dots-white.svg);
            }
        }

        &__body {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            max-width: rem(526px);
            padding: rem($spacer-4);
            z-index: 3;
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
            color: inherit;
        }

        &__text {
            color: $gray-200;
            @include margin-bottom(rem($spacer-7));
        }

        &__tags {
            flex: initial;
            padding-right: rem($spacer-6);
        }

        &__date {
            margin-left: 0;
            color: $gray-200;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
        &--lg & {
            &__picture {
                &:after {
                    padding-top: 51.83%;
                }
            }

            &__text {
                @include text-clamp(3);
                @include margin-bottom(rem($spacer-7));
            }
        }

        &--cover & {
            &__body {
                padding: rem($spacer-6);
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }
}