.breadcrumb {
    margin-bottom: rem($spacer-4);
    color: $gray-450;

    .page-header--cover & {
        color: $gray-250;
    }

    &__button {
        font-weight: $font-weight-normal;
        color: $base-color;
        margin-bottom: rem($spacer-3);
        white-space: nowrap;
        flex-wrap: nowrap;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: inline;

        &:after {
            content: '/';
            margin-left: rem($spacer-2);
            margin-right: rem(5px);
            color: $gray-400;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;

        @include hover-focus {
            color: $gray-700;

            .page-header--cover & {
                color: $white;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;

        &__button {
            margin-right: rem($spacer-6);
            margin-bottom: 0;
        }
    }
}