//
// Base styles
//

button,
.button {
    position:relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;

    @include hover-focus {
        text-decoration: none;
        outline: 0;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
            outline: 0;
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $btn-font-weight;
    font-family: $btn-font-family;
    border: $btn-border-width solid;
    border-radius: $btn-border-radius;
    min-height: rem($btn-height);
    padding: rem(( $btn-height - $btn-border-width * 2 - $btn-line-height) / 2 ($btn-padding-x - $btn-border-width));
    @include font($btn-font-size, $btn-line-height);
    white-space: normal;
    box-shadow: 0 1px 1px rgba(#1b1f23, 0.05);

    @include button-sizes();

    @include button-variants();

    &--outline-white {
        border-width: 2px;
        box-shadow: none;
    }

    &__icon {
        @include size(rem($spacer-4));
        margin-left: rem($spacer-3);
        margin-right: rem($spacer-3);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:only-child {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.disabled,
    &.is-disabled,
    &:disabled {
        opacity: 0.6;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
a.button.is-disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

//
// Block button
//

.button--block {
    width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button_block {
        width: 100%;
    }
}