.card {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 0 4px rgba(#131655, 0.03), 0 1px 1px rgba(#090d4b, 0.05);
    cursor: pointer;

    &-active {
        outline: 1px solid $gray-500;
    }

    &--border-primary {
        box-shadow: 0 -2px 0px $primary, 0px 2px 8px rgba(#28293D, 0.04), 0px 16px 24px rgba(#606170, 0.16);
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: rem($spacer-5);
            content: '';
            @include size(0);
            pointer-events: none;
            border: 6px solid rgba($primary, 0);
            border-top-color: $primary;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}