.cart-item {
    &__body {
        padding: rem($spacer-4);
    }

    &__col {
        &--picture,
        &--content {
            margin-bottom: rem($spacer-4);
        }

        &--picture {
            width: rem(86px);
        }

        &--content {
            width: calc(100% - #{rem(86px)});
        }

        &--price {
            text-align: right;
            padding-bottom: rem(2px);
            margin-left: auto;
            margin-right: auto;
        }

        &--controls {
            display: flex;
            min-width: rem(50px);
            padding-left: 0;
        }
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-bottom: rem($spacer-2);
        letter-spacing: .0113em;
    }

    &__info {
        color: $gray-800;
        overflow: hidden;

        &-item {
            white-space: nowrap;

            &:after {
                content: " ";
                word-spacing: 1.6em;
                background-image: linear-gradient(
                 90deg,
                transparent 0 calc(50% - 0.045em),
                $gray-300 0 calc(50% + 0.045em),
                transparent 0
                );
            }
        }
    }

    &__code {
        color: $gray-500;
    }

    &__sum {
        font-weight: $font-weight-medium;
        color: $primary;
        white-space: nowrap;
    }

    &__price {
        margin-top: rem($spacer);
        margin-bottom: rem($spacer-3);
        color: $gray-500;
        white-space: nowrap;
    }

    &__control {
        color: $primary;
        padding: rem(9px);

        &-icon {
            display: block;
            @include size(rem($spacer-4));
        }

        &.is-active {
            .cart-item__control-icon {
                color: $red-100;
                fill: $red-100;
            }
        }
    }

    @include media-breakpoint-down(xs) {
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(md) {
        &__body {
            flex-wrap: nowrap;
            min-height: rem(120px);
            padding-top: rem(9px);
            padding-right: rem(22px);
            padding-bottom: rem(11px);
        }

        &__col {
            &--picture,
            &--content {
                margin-bottom: 0;
            }

            &--content {
                width: auto;
                flex: 1;
                max-width: rem(340px);
                margin-right: auto;
                //padding-bottom: rem($gutter * .5);
            }

            &--price {
                min-width: rem(102px);
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}