.category {
    padding-top: rem($spacer-8);
    padding-bottom: rem($spacer-4);

    &__picture {
    }

    &__img {
        @include size(rem(80px));
        display: block;
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem(26px);
        color: inherit;

        &-link {
            margin-right: rem($spacer-3);
        }

        &-count {
            color: $gray-500;
            letter-spacing: .0114em;
            margin-right: rem($spacer-3);
            font-weight: $font-weight-normal;
        }

        &-icon {
            color: $gray-500;
            @include size(rem($spacer-6));
            font-weight: $font-weight-normal;
        }
    }

    &__list {
        @include list-unstyled;

        &-item {
            position: relative;
            padding-left: rem($spacer-5);
            margin-bottom: rem($spacer-4);
            break-inside: avoid;

            &:before {
                position: absolute;
                top: rem(( $line-height-base - 11px) / 2);
                left: 0;
                @include size(rem(11px));
                @include rounded;
                background-color: $white;
                border: 1px solid $gray-300;
                box-shadow: 0 0 0 2px $white;
                content: '';
                z-index: 1;
                transition: .2s ease-in-out;
            }

            &:after {
                position: absolute;
                left: rem(5px);
                top: rem(( $line-height-base - 11px) / 2);
                bottom: rem(- $spacer-4 - ( $line-height-base - 11px) / 2);
                border-left: 1px solid $gray-300;
                content: '';
            }

            &:last-child {
                &:after {
                    .category__col:last-child & {
                        display: none;
                    }
                }
            }

            @include hover-focus {
                &:before {
                    background-color: $gray-700;
                    border-color: $gray-700;
                }
            }
        }

        &-link {
            color: inherit;
            border-bottom: 1px solid rgba($primary, 0);

            @include hover-focus {
                color: $primary;
                border-bottom-color: $primary;
            }
        }

        &-count {
            display: inline-block;
            color: $gray-400;
        }
    }

    &--compact {
        padding: rem($spacer-5 $gutter $spacer-2);
    }

    @include media-breakpoint-down(xs) {
        &__row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        &__img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }

        &__title {
            padding-right: rem($spacer-6);
        }

        &__col {
            padding-right: rem($spacer-10);
        }

        &--compact & {
            &__col {
                padding-right: rem($gutter);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__list {
            &-item {
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__title {
            margin-top: rem(7px);
        }

        &__list {
            &-item {
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__col {
            padding-right: rem(96px);
        }

        &--compact {
            padding-left: rem(30px);
        }
    }
}