.choice-card {
    height: 100%;
    padding: rem($spacer-4 $gutter $spacer-6);

    &__product {
        display: flex;
        align-items: center;
        margin-bottom: rem($spacer-4);
        color: $gray-700;

        &-picture {
            @include size(rem(72px));
            flex: 0 0 rem(72px);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: rem($spacer-4);
        }

        &-img {
            display: block;
        }

        &-body {
            flex: 1;
        }

        &-title {
            @include text-clamp(3);
            margin-bottom: rem($spacer-2);
            max-width: 21em;
            color: inherit;
        }

        &-price {
            font-weight: $font-weight-medium;
            white-space: nowrap;
        }
    }

    &__review {
        border-top: 1px solid $gray-200;
        padding-top: rem(21px);
        margin-bottom: rem($spacer-4);

        &-header {
            @include em-line-height($font-size-md, $line-height-md2);
            margin-bottom: rem($spacer-3);
        }

        &-author {
            font-weight: $font-weight-medium;
            color: $gray-700;
        }

        &-rating {
            position: relative;
            top: rem(3px);
        }

        &-date {
            margin-bottom: rem($spacer);
            margin-left: auto;
        }

        &-text {
            color: $gray-600;
            @include text-clamp(3);
        }
    }

    &__footer {
        margin-top: auto;
        @include make-row($spacer-4);
        align-items: baseline;

        &-item {
            margin-left: rem($spacer-2);
            margin-right: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(sm) {
        border-radius: $border-radius;

        &__product {
            &-body {
                display: flex;
                align-items: center;
            }

            &-title {
                @include text-clamp(3);
                margin-bottom: 0;
                padding-right: rem($spacer-6);
            }

            &-price {
                margin-left: auto;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8);
    }
}