.company-card {
    display: block;
    text-align: center;

    &__picture {
        background-color: $gray-150;
        border: 1px solid $body-bg;
        border-radius: $border-radius;
        height: rem(128px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem($spacer-2);
        padding: rem($spacer-6);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
    }

    &__title {
        color: $gray-500;
    }

    &__text {
        color: $gray-300;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
    }
}