.control {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px solid $gray-200;
    border-radius: $border-radius / 2;
    box-shadow: 0 1px 1px rgba(#1b1f23, 0.05), inset 0 1px 0px rgba($white, 0.25);
    padding: rem($spacer-2  - 1);
    @include size(rem($spacer-8));

    &__icon {
        @include size(rem($spacer-4));
        color: $primary;
    }

    &.is-active & {
        &__icon {
            color: $red-100;
            fill: $red-100;
        }
    }

    &--lg {
        @include size(rem(48px));
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}