.control-link {
    padding-left: rem($spacer-5);
    color: $gray-500;
    @include em-line-height($font-size-md, $line-height-md2);

    &__icon {
        float: left;
        @include size(rem($spacer-4));
        margin-top: rem(( $line-height-md2 - $spacer-4) / 2);
        margin-left: rem(- $spacer-5);

        .page-header & {
            color: $gray-400;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}