.contact {
    display: flex;
    align-items: flex-start;
    color: $gray-600;
    line-height: rem($line-height-md2);

    .bg-primary & {
        color: $white;
    }

    &__icon {
        @include size(rem($spacer-4));
        margin-top: rem(1px);
        margin-right: rem($spacer-2);
        color: $gray-500;
    }

    &--accented {
        font-weight: $font-weight-medium;
        color: $gray-700;

        .bg-primary & {
            color: $white;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(xl) {
    }
}