.contact-list {
    @include list-unstyled;
    margin-bottom: rem(- $spacer-3);

    &__item {
        margin-bottom: rem($spacer-3);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(xl) {
    }
}