.contact-card {
    display: flex;
    align-items: flex-start;
    color: $gray-600;

    &__icon {
        @include size(rem($spacer-5));
        margin-top: -1px;
        margin-right: rem($spacer-4);
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: .0777em;
        @include font(15px, $line-height-md, $font-weight-medium);
        margin-bottom: rem($spacer-2);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(xl) {
    }
}