.content-block {
    padding: rem($spacer-4 $spacer-6 $spacer-6);

    &__title {
        border-bottom: 1px solid $gray-200;
        padding-bottom: rem($spacer-4);
        margin-bottom: rem(30px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}