.customer {
    &__picture {
        position: relative;
        overflow: hidden;
        padding-top: 67.18346%;
        border-radius: $border-radius;
        margin-bottom: rem($spacer-4);
        z-index: 1;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
        }

        &:before {
            background-color: $gray-500;
            mix-blend-mode: color;
            opacity: 0.6;
            z-index: -2;
        }

        &:after {
            background: linear-gradient(180deg, rgba($primary, 0) 0%, rgba($primary, 0.152985) 69.78%, #191E2E 100%);
            mix-blend-mode: normal;
            z-index: -1;
        }

    }

    &__img {
        @extend %cover-image;
        z-index: -3;
    }

    &__title {
        margin-bottom: 0;
        position: relative;
        color: $base-color;

        &:before {
            position: absolute;
            left: 0;
            bottom: 100%;
            margin-bottom: rem(13px);
            counter-increment: customers-counter;
            content: counter(customers-counter, decimal-leading-zero);
            background-color: $body-bg;
            border-top-right-radius: $border-radius;
            color: $gray-500;
            @include font($font-size-base, $font-size-base);
            padding: rem($gutter * .5 $gutter * .5 0 $gutter * .5);
            z-index: 1;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}