.dashboard-card {
    margin-bottom: rem($gutter);

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: $gray-50;
        border: 1px solid $gray-200;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: rem(( $spacer-4 - 1) ( $spacer-6 - 1));

        &-note {
            margin-left: auto;
            margin-right: auto;
            color: $gray-500;
        }

        &-icon {
            display: block;
            @include size(rem($spacer-4));

            &--lg {
                @include size(rem($spacer-5));
            }
        }
    }

    &__title {
        margin-bottom: 0;
        margin-right: rem($spacer-2);
        color: $secondary;
    }

    &__body {
        color: $secondary;
    }

    &__content {
        padding: rem($spacer-6 $spacer-6 0);

        &:last-child {
            padding-bottom: rem($spacer-8);
        }
    }

    &__footer {
        padding: rem($spacer-5 $spacer-6);
        text-align: center;

        &-button {
            width: 100%;
            margin-bottom: rem($spacer-3);
            padding-left: rem($gutter);
            padding-right: rem($gutter);

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            font-weight: $font-weight-medium;
        }

        &--compact {
            padding-top: rem($spacer-3);
            padding-bottom: rem($spacer-3);
        }
    }

    &__empty {
        text-align: center;
        color: $gray-500;
        padding: rem($spacer-10 $spacer-6 $spacer-9);

        &-icon {
            display: block;
            @include size(rem(56px));
            margin-left: auto;
            margin-right: auto;
            color: $gray-300;
        }

        &-text {
            margin-top: rem($spacer-7);
            margin-left: auto;
            margin-right: auto;
            max-width: rem(154px);
        }

        &-button {
            margin-top: rem(26px);
            margin-bottom: rem(-22px);
        }
    }

    &__orders {
        padding: rem($spacer-3 $spacer-3 $spacer-3 $spacer-6);
    }

    &__slider {
        overflow: hidden;
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-3);
    }

    .product-card {
        box-shadow: 0 0 4px rgba(#131655, 0.03), 0 1px 1px rgba(#090d4B, 0.05);
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            display: flex;
            align-items: center;

            &-button {
                width: auto;
                margin-right: rem($spacer-6);
                margin-bottom: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            overflow: visible;
            padding-bottom: 0;

            .swiper-pagination {
                display: none;
            }
        }
    }
}