.dropdown {
    position: relative;

    &__toggle {
        position: relative;
        display: flex;
        align-items: center;
        color: inherit;
        transition: .25s ease-in-out;
        width: 100%;
        border-bottom: 1px dashed $black;

        &-text {
            font-weight: $font-weight-medium;
            color: $primary;
        }

        &-icon {
            @include size(rem(18px));
            margin-left: rem($spacer);
            color: $gray-500;
            transition: transform .2s ease-in-out;
            transform: rotate(0);
        }

        &[aria-expanded="true"] {
            border-bottom-color: rgba($black, 0);

            .dropdown__toggle-icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__content {
        width: rem(250px);
        padding: rem($spacer-4);
    }

    &__button {
        margin-top: rem($spacer-2);
        margin-bottom: rem($spacer-3);
    }

    &__list {
        @include list-unstyled;
        margin-right: rem(- $spacer-4);
        padding-right: rem($spacer-4);
        max-height: rem(260px);
        position: relative;
        overflow: hidden;
    }

    &__option {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding: rem($spacer-2 $spacer);
    }

    .form-check {
        margin-bottom: 0;
    }

    .tippy-box {
        filter: drop-shadow(0 2px 4px rgba(#28293d, 0.04)) drop-shadow(0 8px 16px rgba(#606170, 0.16));
    }

    @include media-breakpoint-up(lg) {
    }
}
