.fact {
    max-width: rem(526px);

    &__picture {
        @include size(rem(80px));
        @include rounded();
        background-color: $gray-600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem($spacer-4);
    }

    &__icon {
        display: block;
        @include size(rem($spacer-8));
    }

    &__title {
        margin-bottom: rem($spacer-2);
        color: inherit;
    }

    &__text {
        color: $gray-300;
        margin-bottom: 0;
    }

    &__footer {
        margin-top: rem($spacer-4);
        letter-spacing: 0.0113em;
    }

    &__link {
        color: $gray-400;
        text-decoration: underline;

        @include hover-focus {
            color: $gray-300;
            text-decoration: underline;
        }
    }

    @include media-breakpoint-up(sm) {
        display: flex;

        &__picture {
            flex:0 0 rem(80px);
            margin-right: rem(22px);
            margin-bottom: 0;
        }

        &__body {
            flex: 1;
        }
    }
}