.feature {
    color: $gray-600;

    .bg-primary &,
    .bg-dark-gray & {
        color: $gray-350;
    }

    &__title {
        @include margin-bottom(rem($spacer-2));
        color: $gray-800;

        .bg-primary &,
        .bg-dark-gray & {
            color: $gray-100;
        }

        &-text {
            display: block;
            font-weight: $font-weight-normal;
        }
    }

    &__list {
        @include list-unstyled;

        > li {
            position: relative;
            padding-left: rem(17px);
            @include margin-bottom($spacer);

            &:before {
                position: absolute;
                top: rem(( $line-height-base - 5px) * .5);
                left: 0;
                @include size(rem(5px));
                @include rounded;
                background-color: $gray-400;
                content: '';
            }
        }
    }

    &__note {
        color: $gray-450;
    }

    p {
        @include margin-bottom(.5em);
    }

    &--default & {
        &__picture {
            margin-bottom: rem($spacer-4);
        }

        &__title {
            color: $gray-800;
            margin-bottom: rem($spacer-2);

            .features__list--ordered &:before {
                counter-increment: features-counter;
                content: counter(features-counter)". ";
            }
        }
    }

    &--card {
        background-color: $body-bg;
        border-radius: $border-radius;
        padding: rem(56px $spacer-10);
    }

    &--card & {
        &__picture {
            margin-bottom: rem($spacer-4);
        }

        &__body {
            max-width: rem(350px);
        }
    }

    &--check {
        display: flex;
        align-items: flex-start;
        max-width: rem(365px);
    }

    &--check & {
        &__icon {
            @include size(rem(18px));
            flex: 0 0 rem(18px);
            margin-right: rem($spacer-4);
            color: $gray-400;
        }
    }

    &--help {
        border: 2px solid $body-bg;
        border-radius: $border-radius;
        padding: rem(56px $spacer-6);
        text-align: center;
    }

    &--help & {
        &__picture {
            margin-right: rem($spacer-6);
            margin-bottom: rem($spacer-4);
        }

        &__text {
            margin-bottom: rem($spacer-4);
        }
    }

    &--option {
        display: block;
        background-color: $body-bg;
        border-radius: $border-radius;
        padding: rem(56px $spacer-8);
        box-shadow: inset 0 2px 0 $gray-800;
        height: 100%;

        &-white {
            background-color: $white;
        }

        &-center {
            text-align: center;
            padding-bottom: rem(64px);
        }
    }

    &--option-center & {
        &__picture {
            margin-bottom: rem($spacer-8);
            font-size: 0;

            .features__list--ordered &:before {
                counter-increment: features-counter;
                content: counter(features-counter);
                @include font($font-size-sm, $font-size-sm, $font-weight-semibold);
                display: inline-block;
                width: rem(26px);
                margin-right: rem(-26px);
            }
        }

        &__body {
            max-width: rem(220px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--option-stack & {
        &__picture {
            @include size(rem(64px));
            margin-bottom: rem($spacer-6);
            border: 1px solid  $gray-300;
            border-radius: $border-radius;
            padding: rem($spacer-5 - 1);
        }

        &__icon {
            display: block;
            @include size(rem($spacer-6));
        }

        &__title {
            margin-bottom: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(sm) {
        &--card {
            display: flex;
            align-items: flex-start;
            padding-top: rem(81px);
            height: 100%;
            min-height: rem(240px);
        }

        &--card & {
            &__picture {
                width: rem(60px);
                flex: 0 0 rem(60px);
                margin-right: rem($spacer-8);
                margin-bottom: 0;
            }
        }

        &--help {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            min-height: rem(240px);
        }

        &--help & {
            &__picture {
                width: rem(152px);
                flex: 0 0 rem(152px);
                margin-right: rem($spacer-8);
                margin-bottom: 0;
            }
        }

        &--option {
            &-stack {
                display: flex;
                align-items: flex-start;
            }
        }

        &--option-stack & {
            &__picture {
                margin-right: rem($spacer-6);
                margin-bottom: 0;
            }

            &__body {
                flex: 1;
                max-width: rem(392px);
            }
        }
    }
}