.filter {
    user-select: none;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: rem($spacer-4);

        .filter.is-collapsed & {
            margin-bottom: 0;
        }
    }

    &__title {
        color: $base-color;
        line-height: 1;
    }

    &__toggle {
        @include size(rem($spacer-6));
        transform: rotate(-180deg);
        transition: transform .25s linear;
        color: $gray-500;
        pointer-events: none;

        .filter.is-collapsed & {
            transform: rotate(0);
        }
    }

    &__list {
        @include list-unstyled;
        padding-left: rem($spacer-2);
    }

    &__item {
        padding-top: rem($spacer-2);
        padding-bottom: rem($spacer-2);

        &-text {
            margin-right: rem($spacer-2);
        }
    }

    .form-check {
        margin-bottom: 0;
        display: inline-block;
        width: auto;

        &__label {
            display: inline-block;
        }
    }

    &__rating {
        height: rem($line-height-base);

        &-stars {
            margin-right: rem($spacer-3);
        }
    }

    &__action {
        color: $gray-500;
        line-height: 1;
        margin-top: rem($spacer-4);
        margin-bottom: rem($spacer-3);
    }

    &__tippy {
        padding: rem(13px 13px $spacer-3 14px);

        &-count {
            margin-right: rem(15px);

            b {
                font-weight: $font-weight-medium;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}