.filters {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem(284px);
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    z-index: 200;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__header,
    &__footer {
        position: sticky;
        left: 0;
        right: 0;
        background-color: rgba($white, .8);
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    &__header {
        top: 0;
        padding: rem($spacer-4 14px);
        align-items: flex-start;
        border-bottom: 1px solid $gray-300;
        display: flex;
    }

    &__title {
        margin-bottom: 0;
    }

    &__close {
        display: block;
        font-size: rem($spacer-6);
        margin-top: rem(- $spacer-2);
        margin-left: auto;
        color: inherit;
    }

    &__body {
        padding-left: rem(14px);
        padding-right: rem(14px);
        padding-bottom: rem($spacer-6);
        flex: 1;
    }

    &__item {
        border-bottom: 1px solid $gray-300;
        padding-top: rem($spacer-5);
        padding-bottom: rem($spacer-5);

        &:first-child {
            border-top-width: 0;
        }
    }

    &__footer {
        bottom: 0;
        padding: rem($spacer-4 14px $spacer-7);
        text-align: center;
    }

    &__count {
        display: block;
        color: $gray-500;
        margin-bottom: rem($spacer-4);
    }

    &__button {
        &--apply {
            flex: 1;
        }
    }

    &__button + &__button {
        margin-left: rem($spacer-4);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        position: static;
        z-index: initial;
        visibility: visible;
        transition: none;
        transform: none;
        display: block;
        width: auto;

        &__header {
            display: none;
        }

        &__footer {
            position: static;
            border-top-width: 0;
            padding-top: rem($spacer-2);
        }
    }
}