.help-card {
    background-color: $white;
    border-radius: $border-radius;
    padding: rem(80px 38px 60px);
    height: 100%;
    position: relative;
    color: $gray-600;
    text-align: center;

    &__picture {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-800;
        border: 1px solid $gray-400;
        @include rounded;
        @include size(rem(64px));
        box-shadow: 0 0 0 $spacer-2 rgba($gray-800, .1);
        color: $white;
    }

    &__icon {
        display: block;
        @include size(rem($spacer-6));
    }

    &__title {
        color: $base-color;
        font-weight: $font-weight-medium;
        margin-bottom: rem($spacer-3);
    }

    &__button {
        margin-top: rem($spacer);
    }

    @include media-breakpoint-between(md, lg) {
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);
    }

    @include media-breakpoint-up(lg) {
    }
}