.icon-square {
    color: $gray-800;
    font-size: 0;

    &:after {
        display: inline-block;
        margin-left: rem(- $spacer-10 * .5);
        @include size($spacer-10);
        background-color: $gray-300;
        border-radius: $border-radius;
        content: '';
        vertical-align: middle;
    }

    &__icon {
        @include size($spacer-10);
        stroke-width: 1.6;
        position: relative;
        z-index: 1;
    }

    @include media-breakpoint-up(sm) {
    }
}