.incart {
    padding: rem(30px 10px 6px);

    &__picture {
        margin-bottom: rem($spacer-3);
    }

    &__img {
        display: block;
    }

    &__title {
        color: $base-color;
        margin-bottom: rem(13px);
    }

    &__info {
        color: $gray-500;
        @include em-line-height($font-size-md, $line-height-sm);
        overflow: hidden;
        margin-bottom: rem(29px);

        &-item {
            &:after{
                content: " ";
                word-spacing: 2em;
                background-image: linear-gradient(90deg,
                transparent 0 calc(50% - .035em),
                $gray-300 0 calc(50% + .035em),
                transparent 0
                );
            }
        }
    }

    .product-variants__price {
        padding-right: rem($spacer-5);
    }

    .product-variants__total {
        border-top-color: $white;
        padding-right: 0;
    }

    @include media-breakpoint-up(sm) {
        &__picture {
            width: rem(102px);
            flex: 0 0 rem(102px);
            margin-top: rem($spacer);
            margin-bottom: 0;
        }

        &__body {
            flex: 1;
        }
    }
}