.info-card {
    color: $gray-600;
    border-top: 1px solid $gray-300;
    padding-top: rem($spacer-8);
    max-width: rem(489px);

    &__title {
        margin-bottom: rem($spacer-4);
        color: $gray-800;
    }

    &__text {
        max-width: rem(390px);
    }

    @include media-breakpoint-up(lg) {
    }
}