.list {
    &-check {
        @include list-unstyled;

        > li {
            position: relative;
            padding-left: rem(34px);
            @include margin-bottom( rem($spacer-6));

            &:before {
                position: absolute;
                top: rem(( $line-height-base - 17px) * .5);
                left: 0;
                @include size(rem(18px));
                background-repeat: no-repeat;
                background-position: 50%;
                @include background-svg("<svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M15.53 3.97a.75.75 0 0 1 0 1.06l-8.25 8.25a.75.75 0 0 1-1.06 0L2.47 9.53a.75.75 0 0 1 1.06-1.06l3.22 3.22 7.72-7.72a.75.75 0 0 1 1.06 0Z' fill='#{$gray-600}'/></svg>");
                content: '';
            }
        }
    }

    &-dot {
        @include list-unstyled;

        > li {
            position: relative;
            padding-left: rem(22px);

            &:before {
                position: absolute;
                top: rem(( $line-height-base - $spacer) * .5);
                left: rem(2px);
                @include size(rem($spacer));
                @include rounded;
                background-color: $gray-300;
                content: '';
            }
        }
    }

    @include media-breakpoint-up(sm) {
    }
}