.media {
    margin-left: 0;
    margin-right: 0;

    &__img {
        display: block;
        border-radius: $border-radius;
    }

    &__caption {
        border-bottom: 1px solid $gray-200;
        margin-top: rem($spacer-7);
        padding-bottom: rem($spacer-6);
        font-style: italic;
        color: $gray-500;
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}