.messengers {
    @include list-unstyled;

    &__item {
        @include margin-bottom(rem($gutter * .5));
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: block;
        @include size(rem($spacer-5));
        margin-right: rem($spacer-2);
        color: $gray-500;
    }

    &--inline {
        @include make-row(6px);
    }

    &--inline & {
        &__item {
            @include make-col(6px);
        }

        &__icon {
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}