.modal {
    position: relative;
    max-width: rem(426px);
    width: 100%;
    margin: auto;
    background-color: $white;
    padding: rem(48px $spacer-5 $spacer-7);
    box-shadow: 0 2px 4px rgba(#28293d, 0.04), 0 8px 16px rgba(#606170, 0.16);

    &__header {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        margin-bottom: rem($spacer-4);
    }

    &__description {
        &--clipped {
            max-width: rem(330px);
        }
    }

    &__icon {
        display: block;
        margin: rem($spacer-8) auto rem($spacer-9);
    }

    &__footer {
        margin-top: rem($spacer-4);
    }

    &__button + &__button {
        margin-top: rem($spacer-3);
    }

    &__alert {
        background-color: $white;
        border-bottom: 1px solid $gray-200;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: rem($spacer-5);
    }

    .form__submit {
        margin-top: rem($spacer-4);
    }

    .form__errors-list {
        display: none;
    }

    &--md {
        max-width: rem(630px);
    }

    &--incart {
        background-color: $gray-100;
        border-radius: $border-radius;
        padding: 0 0 1px;
        overflow: visible;

        .mfp-close {
            top: auto;
            right: rem(- $spacer-2);
            bottom: 100%;
            @include size(rem($spacer-8));
            background-size: rem($spacer-4) auto;
            @include background-svg($close-white);
        }
    }

    &--incart & {
        &__body,
        &__footer {
            margin: rem($spacer-4 10px);
        }
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            &--inline {
                display: flex;
            }
        }

        &__button {
            .modal__footer--inline & {
                flex: 1;
            }
        }

        &__button + &__button {
            .modal__footer--inline & {
                margin-top: 0;
                margin-left: rem($spacer-4);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--incart {
            .mfp-close {
                left: 100%;
                right: auto;
            }
        }
    }
}