.news-card {
    display: flex;
    flex-direction: column;
    padding-left: rem($gutter);
    padding-right: rem($gutter);
    font-weight: $font-weight-medium;
    height: 100%;

    &__picture {
        background-color: rgba($gray-360, .29);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem(34px);
        margin-left: rem(- $gutter);
        margin-right: rem(- $gutter);
        padding: rem($gutter);
        flex: 1;
    }

    &__img {
        display: block;
    }

    &__date {
        margin-bottom: rem($spacer);
    }

    &__text {
        color: $gray-800;
    }

    @include media-breakpoint-up(sm) {
        flex-direction: row;
        align-items: flex-start;
        font-weight: $font-weight-normal;
        padding-left: 0;
        padding-right: rem($gutter);

        &__picture {
            width: rem(184px);
            height: rem(178px);
            flex: 0 0 rem(184px);
            margin-top: 0;
            margin-left: 0;
            margin-right: rem($gutter);
            order: -1;
            background-color: $gray-360;
            border-radius: $border-radius;
        }

        &__date {
            margin-top: rem(14px);
        }
    }

    @include media-breakpoint-up(lg) {
    }
}