.order {
    overflow: hidden;
    border: 1px solid $gray-200;
    box-shadow: 0 2px 4px rgba(#28293D, 0.04), 0 8px 16px rgba(#606170, 0.16);

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        position: relative;
        padding: rem($spacer-4 $spacer-10 $spacer-4 $spacer-5);
        background-color: $primary;
        color: $white;

        &-item {
            display: block;
            margin: rem($spacer);
        }
    }

    &__toggle {
        position: absolute;
        top: rem($spacer-5);
        right: rem($spacer-3);
        @include size(rem($spacer-6));
        transition: transform .25s ease-in-out;
        transform: rotate(0);
    }

    &__paid {
        background-color: $base-color;
        padding: rem(3px ($gutter * .5) $spacer);
        font-weight: $font-weight-bold;
        color: $white;

        &--half {
            background-color: $gray-450;
        }

        &--null {
            box-shadow: 0 0 0 2px $gray-600;
            background-color: $gray-150;
            box-shadow: 0 0 0 2px $gray-350;
            color: $gray-350;
        }
    }

    &__number,
    &__sum {
        font-weight: $font-weight-medium;
    }

    &__sum {
        margin-right: rem($spacer);
        white-space: nowrap;
    }

    &__content {
        padding: rem(30px $spacer-6 $spacer-6);
        color: $secondary;
    }

    &__statusbar {
        margin-bottom: rem($spacer-8);
    }

    &__tracking,
    &__details {
        letter-spacing: .0114em;
    }

    &__tracking {
        background-color: $gray-50;
        border-radius: $border-radius;
        padding: rem($spacer-6 $spacer-6);
        margin-bottom: rem($spacer-5);
    }

    &__details {
        margin-bottom: rem($spacer-8);

        &-label {
            &:before {
                font-size: rem(3px) !important;
            }
        }
    }

    &__list {
        @include list-unstyled;

        &-item {
            border-bottom: 1px solid $gray-150;
            padding-bottom: rem($spacer-4);
            @include margin-bottom(rem($spacer-4));
        }
    }

    &__footer {
        background-color: $gray-150;
        border-top: 1px solid $gray-200;
        padding: rem($spacer-4 $spacer-6);
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: rem(- $spacer);
    }

    &__button {
        margin: rem($spacer);
        width: 100%;
    }

    &__total {
        margin-top: rem($gutter);
        font-weight: $font-weight-medium;
    }

    &--compact {
        border-width: 0;
        box-shadow:none;
    }

    &.is-collapsed {
        box-shadow: 0 0 4px rgba(#131655, 0.03), 0 1px 1px rgba(#090d4b, 0.05);
    }

    &.is-collapsed & {
        &__header {
            background-color: $white;
            color: $gray-500;
        }

        &__toggle {
            transform: rotate(180deg);
        }

        &__number,
        &__sum {
            color: $base-color;
        }

        &__status {
            color: $base-color;
        }
    }

    &--compact & {
        &__header {
            padding: 0;
            background: none;
            color: $gray-500;
        }

        &__number,
        &__sum,
        &__status {
            color: $base-color;
        }
    }

    @include media-breakpoint-up(sm) {
        &__button {
            width: auto;
        }
    }

    @include media-breakpoint-up(md) {
        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__total {
            margin-top: 0;
            margin-left: rem($gutter);
        }
    }
}