.orders {
    @include list-unstyled;

    &__item {
        @include margin-bottom(rem(30px));
    }

    &--compact & {
        &__item {
            border-bottom: 1px solid $gray-150;
            padding-bottom: rem(14px);
            margin-bottom: rem($spacer-2);

            &:last-child {
                border-bottom-width: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
    }
}