.order-item {
    color: $secondary;
    letter-spacing: .0114em;

    &__picture {
        display: block;
        width: rem(48px);
        flex: 0 0 rem(48px);
    }

    &__img {
        display: block;
        @include size(rem($spacer-8));
    }

    &__name {
        width: calc(100% - 48px);
        flex: 0 0 calc(100% - 48px);
        margin-bottom: rem($spacer-2);
    }

    &__code {
        color: $gray-500;
    }

    @include media-breakpoint-up(md) {
        flex-wrap: nowrap;

        &__name {
            width: auto;
            flex: 1;
            margin-bottom: 0;
        }

        &__code,
        &__amount {
            max-width: rem(153px);
            flex: 0 0 18%;
            text-align: center;
        }

        &__sum {
            max-width: rem(134px);
            flex: 0 0 16%;
            text-align: right;
        }
    }
}