.organization {
    overflow: hidden;
    height: 100%;
    background: none;

    &__title {
        background-color: $gray-600;
        box-shadow: 0 2px 4px rgba(#28293D, 0.04), 0 8px 16px rgba(#606170, 0.16);
        font-weight: $font-weight-medium;
        padding: rem($spacer-4 $spacer-8 1em);
    }

    &__details {
        background: $gray-50;
        color: $gray-600;
        padding: rem($spacer-4 $spacer-5 $spacer-4 $spacer-8);

        &-label {
            color: $base-color;
            font-weight: $font-weight-medium;
            padding-top: rem($spacer-4);
        }

        &-data {
            border-bottom: 1px solid $gray-150;
            padding-top: rem($spacer-2);
            padding-bottom: rem($spacer-4);

            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__details {
            display: flex;
            flex-wrap: wrap;

            &-label {
                width: rem(170px);
                flex: 0 0 rem(170px);
                border-bottom: 1px solid $gray-150;
                padding-right: rem($gutter);
                padding-bottom: rem($spacer-4);

                &:last-of-type {
                    border-bottom-width: 0;
                }
            }

            &-data {
                width: calc(100% - #{rem(170px)});
                flex: 0 0 calc(100% - #{rem(170px)});
                padding-top: rem($spacer-4);
            }
        }
    }
}