.overview {
    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: rem(- $gutter);
        margin-right: rem(- $gutter);
        margin-bottom: rem($spacer-8);
        padding: rem($gutter);
        background-color: rgba($gray-360, .29);
    }

    &__img {
        display: block;
    }

    &__header {
        margin-bottom: rem(25px);

        &:after {
            display: block;
            @include size(rem($spacer-10), rem(2px));
            background-color: $gray-300;
            margin-top: rem($spacer-2);
            content: '';
        }
    }

    &__rating {
        margin-bottom: rem(6px);
    }

    &__title {
        margin-bottom: rem(1px);
        color: $gray-700;
    }

    &__author {
        font-weight: $font-weight-medium;
        color: $gray-700;
        margin-bottom: rem($spacer-4);
    }

    &__text {
        color: $gray-600;
        @include text-clamp(6);
    }

    &__footer {
        margin-top: rem($spacer-6);
    }

    &__button {
        min-width: rem(126px);
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            border-radius: $border-radius;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            background-color: $gray-360;
        }
    }

    @include media-breakpoint-up(xl) {
        &__picture {
            height: rem(415px);
        }
    }
}