.pagination {
    padding-top: rem(19px);
    padding-bottom: rem(17px);

    &__list {
        @include list-unstyled;
        justify-content: center;
        text-align: center;
    }

    &__item {
        letter-spacing: .0114em;

        &--control {
            &:first-child {
                margin-right: rem($spacer);
            }

            &:last-child {
                margin-left: rem($spacer);
            }
        }
    }

    &__link {
        display: block;
        color: inherit;
        padding: rem($spacer $spacer-2);
        min-width: rem($spacer-7);

        &.is-active {
            color: inherit;
            background-color: $gray-100;
        }
    }

    &__icon {
        @include size(rem($spacer-4));
        color: $primary;
    }

    @include media-breakpoint-up(md) {
    }
}
