.product-variants {

    &__item {
        @include margin-bottom(rem(22px));
    }

    &__product {
        display: flex;
        align-items: baseline;
        margin-bottom: rem($spacer-2);
    }

    &__name {
        color: $gray-500;
        letter-spacing: .0114em;
        margin-right: rem($spacer-2);

        @include hover-focus {
            color: $gray-500;
        }
    }

    &__availability {
        @each $key, $value in $availability-colors {
            &.is-#{$key} {
                @include setProperty('color', $value, 'color');
            }
        }
    }

    &__price {
        @include font($font-size-lg, $line-height-base, $font-weight-semibold);
        color: $primary;
        padding-right: rem($spacer);
    }

    &__unit {
        font-weight: $font-weight-normal;
    }

    &__total {
        border-top: 1px solid $black;
        padding-top: rem(6px);
        margin-top: rem($spacer-4);
        margin-bottom: 0;
    }

    &__sum {
        font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-up(sm) {
        &__item {
            display: grid;
            grid-template-columns: auto max-content;
            align-items: baseline;
        }

        &__product {
            grid-column-start: 1;
            margin-bottom: 0;

            &:after {
                display: block;
                content: '';
                border-bottom: 2px dotted $gray-300;
                flex: 1;
                margin-left: rem(6px);
                margin-right: rem(6px);
                position: relative;
                top: rem(1px);
            }
        }

        &__order {
            grid-column-start: 2;
        }

        &__total {
            padding-right: rem(92px);
            text-align: right;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}