.product-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 0 4px rgba(#131655, 0.03), 0 1px 1px rgba(#090d4B, 0.05), 0 0 0 1px $gray-150;
    padding: rem($spacer-4 ( $spacer-3 + 1) ($spacer-3 + 1));
    height: 100%;
    position: relative;
    overflow: hidden;

    &__controls {
        position: absolute;
        top: rem(26px);
        right: rem(22px);
    }

    &__control {
        margin-bottom: rem($spacer-2);
    }

    &__picture {
        padding: rem($spacer-5);
        border: 1px solid $gray-200;
        margin-bottom: rem($spacer-2);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
    }

    &__title {
        min-height: 4.5em;
        @include text-clamp(3);
        margin-bottom: rem(7px);
    }

    &__info {
        margin-top: auto;
        margin-bottom: rem(10px);
    }

    &__availability {
        display: flex;
        align-items: center;
        color: $gray-600;

        &:before {
            display: block;
            @include size(1em);
            @include rounded;
            border: 4px solid;
            content: '';
            margin-right: rem($spacer-2);
        }

        @each $key, $value in $availability-colors {
            &.is-#{$key} {
                &:before {
                    @include setProperty('background-color', $value, 'bg');
                    @include setProperty('border-color', $value, 'border');
                }
            }
        }
    }

    &__details {
        letter-spacing: .0114em;
        margin-bottom: rem(14px);

        &-label {
            color: $gray-450;
        }

        &-data {
            color: $gray-600;
        }
    }

    &__price {
        position: relative;
        z-index: 1;

        &-value {
            @include font($font-size-lg, $line-height-lg, $font-weight-medium);
            color: $primary;
        }

        &-unit {
            @include font(15px, $line-height-md);
            color: $gray-500;
        }
    }

    &__footer {
        position: relative;

        &-item {
            position: static;
        }
    }

    &__options {
        transform: translateY(100%);
        position: absolute;
        left: -1px;
        right: -1px;
        bottom: -1px;
        margin-left: rem(- $spacer-2);
        margin-right: rem(- $spacer-2);
        margin-bottom: rem($spacer-7 + 1);
        padding-right: rem($spacer-3 + 1);
        transition: transform .25s ease-in-out, background .25s ease-in-out;

        &-button {
            display: block;
            margin-left: auto;
        }

        &-list {
            margin-top: rem($spacer-7);
        }

        &.is-expanded {
            background-color: rgba($gray-200, .95);
            padding: rem($spacer-5 $spacer-4 $spacer-6 10px);
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            transform: translateY(0);
            margin-bottom: rem(- $spacer-3);
            z-index: 2;
        }
    }

    &__compare {
        text-align: center;
        color: $primary;
        background-color: $white;
        position: relative;
        z-index: 3;
        margin: rem($spacer-4 (- $spacer-3 - 1) -6px);

        &-label {
            background-color: $gray-200;
            padding: rem($gutter * .5 $spacer-3);
            font-weight: $font-weight-medium;
        }

        &-data {
            padding: rem($gutter * .5 $spacer-3 14px);
            @include font($font-size-md, $line-height-sm);
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}