.product-options {
    @include list-unstyled;
    color: $primary;

    &__item {
        flex-wrap: nowrap;
        margin-top: rem($spacer-4);
    }

    &__name {
        @include em-line-height($font-size-md, $line-height-md2);
        flex: 0 0 45%;
        width: 45%;
    }

    &__price {
        flex: 1;

        &-value {
            @include font($font-size-lg, $line-height-lg, $font-weight-medium);
        }

        &-unit {
            @include font(15px, $line-height-md);
        }
    }

    &__order {
        margin-left: auto;
    }

    &__button {
        padding: rem(0 5px);
        min-height: rem(25px);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}