.rating-stars {
    position: relative;
    display: inline-flex;

    &__star,
    &__input {
        @include size(rem($spacer-4));
    }

    &__star {
        display: block;
        color: $gray-300;
        transition: color .25s ease-in-out;
    }

    &__input {
        padding: 0;
        margin: 0 0 0 rem(- $spacer-4);
        opacity: 0;
        position: relative;
        z-index: -1;
    }

    &[data-rate="5"] &__star,
    &[data-rate="1"] &__star:nth-child(-n+1),
    &[data-rate="2"] &__star:nth-child(-n+2),
    &[data-rate="3"] &__star:nth-child(-n+3),
    &[data-rate="4"] &__star:nth-child(-n+4) {
        color: $gray-400;
    }

    &[data-size="20"] &__star,
    &[data-size="20"] &__input {
        @include size(rem($spacer-5));
    }

    &[data-size="20"] &__input {
        margin-left: rem(- $spacer-5);
    }

    &--primary {
        &[data-rate="5"] .rating-stars__star,
        &[data-rate="1"] .rating-stars__star:nth-child(-n+1),
        &[data-rate="2"] .rating-stars__star:nth-child(-n+2),
        &[data-rate="3"] .rating-stars__star:nth-child(-n+3),
        &[data-rate="4"] .rating-stars__star:nth-child(-n+4) {
            color: $primary;
        }
    }

    &--form {
        flex-direction: row-reverse;
        justify-content: flex-end;

        &:hover .rating-stars__label:hover .rating-stars__star,
        &:hover .rating-stars__label:hover ~ .rating-stars__label .rating-stars__star,
        .rating-stars__input:checked ~ .rating-stars__label .rating-stars__star {
            color: $gray-400;
        }

        &--primary {
            &:hover .rating-stars__label:hover .rating-stars__star,
            &:hover .rating-stars__label:hover ~ .rating-stars__label .rating-stars__star,
            .rating-stars__input:checked ~ .rating-stars__label .rating-stars__star {
                color: $primary;
            }
        }
    }

    &--form & {
        &__label,
        &__star {
            display: block;
            cursor: pointer;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}