.rating {
    display: flex;
    align-items: center;

    &__count {
        color: $gray-450;
        margin-left: rem(2px);
        letter-spacing: .0114em;
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}