.recent-articles {
    &__title {
        display: flex;
        align-items: center;
        color: $base-color;
        text-transform: uppercase;
        letter-spacing: .0571em;
        border-bottom: 1px solid $gray-250;
        padding-bottom: rem($spacer-4);

        &-icon {
            @include size(rem($spacer-4));
            margin-right: rem($gutter * .5);
        }
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        border-top: 1px solid $gray-250;
        padding-top: rem($spacer-4);
        margin-top: rem($spacer-4);

        &:first-child {
            border-top: 0;
            margin-top: 0;
        }
    }

    &__article {
        display: block;
        color: $gray-600;
        letter-spacing: .0114em;

        &-date {
            margin-top: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            position: relative;

            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                height: rem(124px);
                background: linear-gradient(180deg, rgba($body-bg, 0.25) 0%, $body-bg 94.17%, $body-bg 100%);
                opacity: 0;
                visibility: hidden;
                transition: .2s ease-in-out;
            }

            &.has-shadow {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__list {
            position: relative;
            overflow: hidden;
            max-height: rem(729px);
            margin-right: rem(- $gutter * .5);
            padding-right: rem($gutter * .5);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}