.review {
    &__header {
        margin-bottom: rem($spacer-3);
    }

    &__author {
        margin-bottom: rem($spacer-3);
        color: $gray-800;
    }

    &__text {
        letter-spacing: .0114em;
    }

    @include media-breakpoint-up(xl) {
    }
}