.section-title {
    &:after {
        display: block;
        width: 1.75em;
        height: rem(2px);
        background-color: $primary;
        content: '';
        margin-top: rem(.5em);

        .bg-primary &,
        .bg-dark-gray & {
            background-color: $white;
        }
    }

    @include media-breakpoint-up(md) {
    }
}