.service {
    padding-top: rem(48px);
    color: $gray-600;

    &.bg-primary,
    &.bg-dark-gray {
        color: $gray-300;

        a {
            color: inherit;
            border-bottom: 1px solid $gray-500;

            @include hover-focus {
                color: inherit;
            }
        }
    }

    &__section-title {
        margin-bottom: rem($spacer-10 * 2);
    }

    &__label {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        margin-bottom: rem($spacer-8);
        color: $gray-800;

        &:after {
            display: block;
            width: rem($spacer-10);
            height: rem(2px);
            background-color: $gray-200;
            content: '';
            margin-top: rem(22px);

            .bg-primary &,
            .bg-dark-gray & {
                background-color: $gray-600;
            }
        }

        .bg-primary &,
        .bg-dark-gray & {
            color: $white;
        }
    }

    p {
        @include margin-bottom(1em);
    }

    &__important {
        border-radius: $border-radius;
        padding: rem($spacer-6 $spacer-8 $spacer-6 $spacer-8 - 2);
        margin-top: rem($spacer-8);
        @include margin-bottom(rem($spacer-6));

        &-title {
            margin-bottom: rem($spacer);
        }

        .bg-primary &,
        .bg-dark-gray & {
            background-color: $gray-600;
            box-shadow: inset 4px 0 0 $gray-500;
        }
    }

    &__picture {
        margin-top: rem($spacer-10);

        .bg-primary &,
        .bg-dark-gray & {
            &:before {
                position: absolute;
                top: 0;
                left: rem($gutter * .5);
                bottom: 0;
                width: 100vw;
                content: '';
                background-color: $gray-500;
                opacity: 0.4;
                mix-blend-mode: color;
            }
        }
    }

    &__img {
        display: block;
    }

    &--lg {
        padding-top: 0;
    }

    &--lg & {
        &__body {
            padding-top: rem(48px);
            padding-bottom: rem(48px);
        }

        &__label {
            color: $gray-400;
        }
    }

    &--full {
        padding-top: rem($section-offset);
        padding-bottom: rem(48px);
    }

    &--full & {
        &__body {
            max-width: rem(800px);
            margin-left: auto;
            margin-right: auto;
        }

        &__label {
            color: $gray-400;
        }
    }

    &--center {
        text-align: center;
    }

    &--center & {
        &__title {
            margin-bottom: rem($spacer-6);

            &:after {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &--pattern {
        color: $gray-500;
    }

    @include media-breakpoint-down(sm) {
        &__picture {
            margin-left: rem(- $gutter);
            margin-right: rem(- $gutter);
            width: auto;
            flex: auto;
        }

        &__img {
            width: 100%;
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem(48px);

        &__section-title {
            margin-top: rem($spacer-6);
            margin-bottom: rem(105px);
        }

        &__picture {
            margin-top: 0;
        }

        &__img {
            max-width: none;
            min-width: unset;
        }

        &--reversed & {
            &__row {
                flex-direction: row-reverse;
            }

            &__picture {
                display: flex;
                justify-content: flex-end;
            }
        }

        &--lg {
            padding-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        &--lg & {
            &__picture {
                padding-left: 0;
                padding-right: 0;
            }

            &__body {
                padding-right: rem(106px);
            }
        }

        &--lg.service--reversed & {
            &__body {
                padding-left: rem(63px);
                padding-right: rem(53px);
            }
        }
    }
}