.sorting {
    padding: rem($spacer-4 $spacer-4 0);
    margin-bottom: rem($spacer-7);

    &__group {
        margin-bottom: rem($spacer-4);
    }

    &__count {
        color: $gray-500;
        letter-spacing: .0114em;
    }

    @include media-breakpoint-up(sm) {
        &__select {
            width: rem(248px);
        }
    }

    @include media-breakpoint-up(md) {
        padding-left: rem($spacer-6);
    }

    @include media-breakpoint-up(lg) {
    }
}