.statusbar {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        align-items: center;
        letter-spacing: .0114em;
        margin-bottom: rem($spacer-2);

        &:after {
            display: block;
            content: '';
            width: rem($spacer-4);
            border-top: 1px dashed $gray-350;
            margin-left: rem($spacer-2);
            margin-right: rem($spacer-2);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__icon {
        display: block;
        @include size(rem($spacer-4));
        margin-right: rem($spacer-2);
    }

    @include media-breakpoint-up(md) {
        &__item {
            &:after {
                width: rem($spacer-8);
                margin-left: rem(22px);
                margin-right: rem($spacer-4);
            }
        }
    }
}