.supplier {
    background-color: $white;
    border-radius: $border-radius;
    overflow: hidden;

    &__picture {
        height: rem(96px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
    }

    &__controls {
        display: flex;
        background-color: $body-bg;
    }

    &__control {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray-450;
        height: rem($spacer-10);
        padding: rem($gutter * .5);

        @include hover-focus {
            background-color: $gray-200;
            color: $gray-700;
        }

        &-icon {
            display: block;
            @include size(rem(18px));
        }
    }

    &__control + &__control {
        border-left: 1px solid $gray-250;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}