.support {
    font-weight: $font-weight-medium;
    padding-top: rem($spacer-7) !important;
    padding-bottom: rem(54px) !important;

    &__list {
        &-label {
            font-weight: $font-weight-bold;
        }

        &-data {
            @include margin-bottom(1.5em);
        }
    }

    &__messengers {
        margin-top: rem($spacer);
    }

    &--compact {
        padding-top: rem($spacer-5) !important;
        padding-bottom: rem(6px) !important;
        @include em-line-height($font-size-md, $line-height-base);
    }

    &--compact & {
        &__list {
            &-data {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}