.tabs {
    &__list {
        @include list-unstyled;
    }

    &__link {
        display: block;
    }

    &__content {
        display: flex;
    }

    &__tab {
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease-in-out;
        margin-right: -100%;
        width: 100%;
        height: 0;
        overflow: hidden;

        &.is-active {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }
    }

    &--default & {
        &__list {
            background-color: $white;
            border-radius: $border-radius;
            margin-bottom: rem(25px);
        }

        &__link {
            color: $gray-600;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(23px $spacer-2);
            padding-bottom: rem(21px);
            border-bottom: 2px solid rgba($primary, 0);
            white-space: nowrap;

            &-icon {
                @include size(rem($spacer-5));
                margin-right: rem(18px);
                color: $gray-400;
            }

            &-count {
                margin-left: rem($spacer-2);
                color: $gray-400;
            }

            &:hover,
            &:focus {
                color: $primary;
            }

            &.is-active {
                border-bottom-color: $primary;
                font-weight: $font-weight-medium;

                &,
                .tabs__link-icon,
                .tabs__link-count {
                    color: $primary;
                }

                .tabs__link-icon,
                .tabs__link-count {
                    font-weight: $font-weight-normal;
                }
            }
        }
    }

    &--controls & {
        &__list {
            margin-bottom: rem($spacer-3);
        }

        &__item {
            width: 100%;
        }

        &__link {
            color: $gray-600;
            margin-bottom: rem($spacer-3);

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                color: $primary;
            }

            &.is-active {
                color: $primary;
                font-weight: $font-weight-medium;
            }
        }
    }

    &--pills & {
        &__list {
            @include margin-bottom(rem($spacer-6));
            background-color: $body-bg;
            border: 0.5px solid $gray-200;
            border-radius: $border-radius;
            display: inline-flex;
            letter-spacing: .0114em;
            padding: rem($spacer * .5);
        }

        &__link {
            color: $gray-600;
            border-radius: $border-radius;
            padding: rem($spacer-2 $spacer-4);

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                color: $primary;
            }

            &.is-active {
                background-color: $white;
                box-shadow: 0 1px 1px rgba($black, 0.07), 0 2px 1px rgba($primary, 0.1), inset 0 1px 0 rgba($white, 0.25);
            }
        }
    }

    &--primary & {
        &__list {
            margin-bottom: rem(-14px);
        }

        &__item {
            margin-bottom: rem(14px);
        }

        &__link {
            @include em-line-height($font-size-base, 21px);
            color: $gray-500;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($primary, 0);
            padding-bottom: rem(14px);
            font-weight: $font-weight-medium;

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                color: $primary;

                .bg-primary & {
                    color: $white;
                }
            }

            &.is-active {
                color: $primary;
                border-bottom-color: $primary;

                .bg-primary & {
                    border-bottom-color: $white;
                }
            }

            &-icon {
                @include size(rem($spacer-4));
                margin-right: rem($spacer-2);
                color: $gray-600;
                position: relative;
                top: -1px;

                .bg-primary & {
                    color: $gray-400;
                }
            }

            .bg-primary & {
                color: $white;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--controls & {
            &__list {
                margin: rem(- $spacer-4) 0 rem($spacer-6);
                border-bottom: 1px solid $gray-200;
            }

            &__item {
                width: auto;
                padding-left: 0;
                padding-right: rem($spacer-5);
                margin-top: rem($spacer-4);

                &:last-child {
                    padding-right: 0;
                }
            }

            &__link {
                border-bottom: 2px solid rgba($primary, 0);
                padding-bottom: rem($spacer-3 - 2);
                margin-bottom: -1px;

                &.is-active {
                    border-bottom-color: $primary;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--controls & {
            &__item {
                padding-right: rem($spacer-10);
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}