.tags {
    @include list-unstyled;
    margin-bottom: rem(- $spacer-2);

    &__item {
        margin-bottom: rem($spacer-2);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}