.tag {
    display: block;
    background-color: $gray-150;
    border-radius: $border-radius / 2;
    padding: rem($spacer $spacer-2);
    letter-spacing: .026667em;
    color: $gray-700;

    .blog-card--cover & {
        box-shadow: inset 0 0 0 1px $gray-150;
        background-color: $primary;
        color: $gray-200;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}