.text-block {
    &.text-md {
        @include em-line-height($font-size-md, $line-height-md + 1);
    }

    h5 {
        margin-top: 1.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    ul,
    ol,
    dl {
        @include margin-bottom(1.5em);
    }

    ul {
        @include list-unstyled;
        padding-left: rem($spacer-4);

        > li {
            position: relative;
            padding-left: rem($spacer-4);
            @include margin-bottom($spacer-2);

            &:before {
                content: "";
                position: absolute;
                top: rem(( $line-height-base - $spacer) / 2);
                left: 0;
                background-color: $gray-400;
                opacity: .7;
                @include size(rem($spacer));
                @include rounded;

                .text-md & {
                    top: rem(( $line-height-base + 1 - $spacer) / 2);
                }
            }
        }
    }

    p + ul,
    p + ol {
        margin-top: -1em;
    }

    .media {
        margin-top: rem($spacer-6);
        @include margin-bottom($spacer-8);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}